Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

Path conditions:
  playwright:baseimage: any of: packages/mg-components/**/*, packages/styles/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/notification-center/**/*, apps/notification-center/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*
  playwright-helpers:artifact: any of: packages/playwright-helpers/**/*
  stencil-helpers:artifact: any of: packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*

fix(deps): update dependency @html-eslint/eslint-plugin to v0.32.0
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

fix: check if element exist
  packages/mg-components/src/components/atoms/mg-tooltip/mg-tooltip.tsx
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__snapshots__/mg-tooltip.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__snapshots__/mg-input-checkbox.spec.tsx.snap
  packages/mg-components/src/components/molecules/internals/mg-item-more/tests/__snapshots__/mg-item-more.spec.tsx.snap
  packages/mg-components/src/components/molecules/menu/mg-menu-item/tests/__snapshots__/mg-menu-item.spec.tsx.snap
  packages/mg-components/src/components/molecules/menu/mg-menu/tests/__snapshots__/mg-menu.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-action-more/tests/__snapshots__/mg-action-more.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-popover/mg-popover.tsx
  packages/mg-components/src/components/molecules/mg-popover/tests/__snapshots__/mg-popover.spec.tsx.snap
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @types/node to v22.10.7
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

fix(deps): update dependency eslint-plugin-prettier to v5.2.2
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

fix(displayError): update tests
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__snapshots__/mg-input-checkbox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/mg-input-checkbox.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/mg-input-checkbox.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/mg-input-date.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/mg-input-numeric.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-password/tests/mg-input-password.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/mg-input-radio.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/mg-input-select.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/mg-input-text.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/mg-input-textarea.e2e.ts
  packages/mg-components/src/components/molecules/mg-pagination/tests/mg-pagination.spec.tsx
  packages/stencil-helpers/src/tests/__snapshots__/unit.spec.ts.snap
  packages/stencil-helpers/src/tests/unit.spec.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact

fix(mgInput): render aria-describedby when needeed only
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__snapshots__/mg-input-checkbox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__snapshots__/mg-input-numeric.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-password/tests/__snapshots__/mg-input-password.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/__snapshots__/mg-input-radio.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__snapshots__/mg-input-select.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__snapshots__/mg-input-toggle.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input/mg-input.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input/tests/__snapshots__/mg-input.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-form/tests/__snapshots__/mg-form.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-pagination/tests/__snapshots__/mg-pagination.spec.tsx.snap
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-date): value prop inconsistancy with input.value=""
  .changeset/thirty-eyes-unite.md
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__snapshots__/mg-input-date.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/mg-input-date.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency eslint-plugin-jsdoc to v50.6.2
  configs/eslint-config-custom/package.json
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency chromatic to v11.25.0
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency lint-staged to v15.4.1
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency vite-plugin-dts to v4.5.0
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

fix(deps): update dependency eslint-plugin-prettier to v5.2.3
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency rollup to v4.31.0
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore: update dependencies
  .changeset/spotty-baboons-hope.md
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  package.json
  packages/linting-angularjs/package.json
  packages/linting-styles/package.json
  packages/linting-vue2/package.json
  packages/mg-components/.storybook/main.ts
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

chore(deps): update dependency vite to v6.0.10
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

fix(deps): update dependency @html-eslint/parser to v0.32.0
  packages/eslint-plugin-html/package.json
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

fix(mg-menu): responsive issues on Chrome
  .changeset/calm-papayas-sin.md
  packages/styles/scss/components/mg-menu.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(mg-message): additional padding when mg-message is a direct child of a mg-panel
  .changeset/nine-dingos-grab.md
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-child-mg-card-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-mg-message-slot-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-card-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-card-mg-message-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-message-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-panel-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-panel-mg-card-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-panel-mg-card-mg-message-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/mg-modal.e2e.ts
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-div-mg-card-card-mg-card-div-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-div-mg-card-card-mg-card-div-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-div-mg-message-message-mg-message-div-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-div-mg-message-message-mg-message-div-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-mg-card-card-mg-card-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-mg-card-card-mg-card-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-mg-message-message-mg-message-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-mg-message-message-mg-message-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/mg-panel.e2e.ts
  packages/styles/scss/components/mixins/_reset-mg-card-slotted-variables.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(mg-detail): summary and mg-button click event conflict
  .changeset/rotten-items-beg.md
  packages/mg-components/src/components/molecules/mg-details/mg-details.tsx
  packages/mg-components/src/components/molecules/mg-details/tests/mg-details.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency vite to v6.0.11
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

fix(deps): update dependency @html-eslint/eslint-plugin to v0.33.0
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

chore: wip
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/mg-table/mg-table.tsx
  packages/mg-components/src/components/molecules/mg-table/readme.md
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.e2e.ts
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.spec.tsx
  packages/mg-components/src/index.html
  packages/styles/scss/components/mg-table.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(mg-input-rich-text-editor): init
  packages/mg-components/package.json
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/docs/mg-input-rich-text-editor.stories.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input/readme.md
  packages/styles/scss/components/mg-input-rich-text-editor.scss
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(mg-input-rich-text-editor): value types
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): conf
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.conf.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): patch
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): styles
  packages/styles/scss/components/mg-input-rich-text-editor.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(mg-input-rich-text-editor): documentation
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): readonly
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): update
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/styles/scss/components/mg-input-rich-text-editor.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(mg-input-rich-text-editor): unit tests
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/docs/mg-input-rich-text-editor.stories.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__mocks__/quill.js
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__snapshots__/mg-input-rich-text-editor.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
  packages/mg-components/stencil.config.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): e2e tests
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Responsive-Should-di-0b23c--responsive-breakpoint-with-tooltip-message-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Responsive-Should-di-14926-reakpoint-with-tooltip-message-tooltip-blu-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Responsive-Should-di-1b88a-ssage-tooltip-blu-tooltip-position-label-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Responsive-Should-di-365bb-reakpoint-with-tooltip-message-tooltip-blu-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Responsive-Should-di-5fef4--responsive-breakpoint-with-tooltip-message-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Responsive-Should-di-d530c-ssage-tooltip-blu-tooltip-position-label-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-apply-bold-formatting-when-clicking-on-bold-button-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-apply-underline-formatting-when-clicking-on-underline-button-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-error-when-leaving-an-empty-required-input-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-error-when-leaving-an-empty-required-input-lang-fr-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-error-when-leaving-input-with-a-non-matching-pattern-value-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-with-custom-toolbar-options-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-with-t-1eac9-tooltip-Paw-Patrol-tooltip-position-label-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-with-t-501d9-ing-a-situation-himself-p-disabled-true-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-with-t-5be82-e-tooltip-tooltip-tooltip-position-label-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-with-t-65545-lp-or-by-witnessing-a-situation-himself-p-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-with-t-708a0-ing-a-situation-himself-p-readonly-true-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-with-t-81249--tooltip-position-input-label-on-top-true-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-with-t-95466-Text-Message-required-true-readonly-true-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-with-t-b2e62-e-tooltip-tooltip-tooltip-position-input-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-with-t-baaf8-cle-size-small-mg-icon-Paw-Patrol-plot-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-with-t-d0454-Text-Message-required-true-disabled-true-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-with-t-d4bba-elf-p-readonly-true-label-on-top-true-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-with-t-f5d79--help-text-HelpText-Message-required-true-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-with-template-disabled-true-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-reset-value-and-error-when-calling-reset-method-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-reset-value-and-error-when-calling-reset-method-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-labelOnTop-false-with-tooltip-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-labelOnTop-true-with-tooltip-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-without-tooltip-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-without-tooltip-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-without-tooltip-label-hide-true-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-without-tooltip-label-hide-true-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-without-tooltip-label-on-top-true-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-without-tooltip-label-on-top-true-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-without-tooltip-placeholder-placeholder-help-text-HelpText-Message-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-without-tooltip-placeholder-placeholder-help-text-HelpText-Message-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): remove Delta format
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.conf.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): error messages order
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/docs/mg-input-rich-text-editor.stories.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency chromatic to v11.25.1
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency mocha to v11.1.0
  packages/eslint-plugin-html/package.json
  packages/eslint-plugin-vue/package.json
  pnpm-lock.yaml
Due: none

Revert "fix(mg-detail): summary and mg-button click event conflict"
  .changeset/rotten-items-beg.md
  packages/mg-components/src/components/molecules/mg-details/mg-details.tsx
  packages/mg-components/src/components/molecules/mg-details/tests/mg-details.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-detail): summary and mg-button click event conflict
  .changeset/cyan-kings-happen.md
  packages/mg-components/src/components/molecules/mg-details/mg-details.tsx
  packages/mg-components/src/components/molecules/mg-details/tests/mg-details.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mgInputRicheTextEditor): update test
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__snapshots__/mg-input-rich-text-editor.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact
