Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-angularjs:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

test:doc:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: tests
  script:
  - pnpm build:packages
  - pnpm doc

playwright:baseimage:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: tests
  script:
  - export PLAYWRIGHT_BASEIMAGE=$(./scripts/get-playwright-version.sh)
  - echo "PLAYWRIGHT_BASEIMAGE=$PLAYWRIGHT_BASEIMAGE"  > playwright-baseimage.env
  artifacts:
    reports:
      dotenv: playwright-baseimage.env

test:e2e:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  parallel: 7
  script:
  - pnpm test:e2e --filter='./packages/*' --filter=\!@mgdis/notification-center -- --shard=$CI_NODE_INDEX/$CI_NODE_TOTAL
  ...

test:e2e:notification-center:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  script:
  - pnpm test:e2e --filter=@mgdis/notification-center
  retry: 2
  artifacts:
    when: always
    paths:
  ...

mg-components:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - - .artifact
    - script
  needs:
  - lint

storybook-mr:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  script:
  - mkdir -p public/storybook
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - pnpm storybook:build
  - mv storybook-static/* ../../public/storybook
  stage: mg-components
  artifacts:
    paths:
    - public
  ...

notification-center:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - pnpm build --filter=@mgdis/notification-center
  - cd packages/notification-center
  - - .artifact
    - script
  needs:
  - lint

linting-angularjs:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-angularjs
  - - .artifact
    - script
  needs:
  - lint

linting-stencil:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-stencil
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

img:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - - .img:build
    - script
  - - .artifact
    - script
  needs:
  - lint

styles:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - - .styles:build
    - script
  - - .artifact
    - script
  needs:
  - lint

chore(deps): update dependency typedoc to v0.28.17
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency vue3-snapshot-serializer to v2.13.1
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency rollup to v4.59.0
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

feat(mg-illustrated-message): set heading font-family and remove font-weight for title slot
  packages/styles/scss/components/mg-illustrated-message.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

chore(deps): update dependency @rollup/plugin-commonjs to v29.0.2
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

fix(deps): update dependency vue to v3.5.30
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency postcss to v8.5.8
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

chore(deps): update dependency @types/node to v24.12.0
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency dotenv to v17.3.1
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

chore(deps): update dependency rollup-plugin-dts to v6.4.1
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency typedoc-plugin-markdown to v4.11.0
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency lint-staged to v16.4.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency chromatic to v15
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(MgMenuItem): prevent expanded loop
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/internals/mg-item-more/tests/__screenshots__/mg-item-more-mg-menu-should-renders-case-direction-vertical-with-small-screen-1-chromium.png
  packages/mg-components/src/components/molecules/menus/mg-menu-item/mg-menu-item.tsx
  packages/mg-components/src/components/molecules/menus/mg-menu-item/readme.md
  packages/mg-components/src/components/molecules/menus/mg-menu-item/tests/__screenshots__/mg-menu-item-render-direction-horizontal-Should-renders-with-props-expanded-true-1-chromium.png
  packages/mg-components/src/components/molecules/menus/mg-menu-item/tests/__screenshots__/mg-menu-item-render-direction-horizontal-Should-renders-with-props-expanded-true-2-chromium.png
  packages/mg-components/src/components/molecules/menus/mg-menu-item/tests/__screenshots__/mg-menu-item-render-direction-vertical-Should-renders-with-props-expanded-false-1-chromium.png
  packages/mg-components/src/components/molecules/menus/mg-menu-item/tests/__snapshots__/mg-menu-item.spec.tsx.snap
  packages/mg-components/src/components/molecules/menus/mg-menu-item/tests/mg-menu-item.e2e.ts
  packages/mg-components/src/components/molecules/menus/mg-menu/mg-menu.tsx
  packages/mg-components/src/components/molecules/menus/mg-menu/readme.md
  packages/styles/scss/components/mg-action-more.scss
  packages/styles/scss/components/mg-menu-item.scss
  packages/styles/scss/components/mixins/_navigation-button.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(mg-breadcrumb): remove unnecessary trim in unit tests
  packages/mg-components/src/components/molecules/mg-breadcrumb/tests/mg-breadcrumb.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-breadcrumb): simplify TSDoc comment
  packages/mg-components/src/components/molecules/mg-breadcrumb/mg-breadcrumb.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-action-more): update style variables
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-2-sections-and-change-selected-section-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-search-4-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-search-6-chromium.png
  packages/mg-components/src/components/molecules/mg-action-more/tests/__screenshots__/mg-action-more-navigation-Should-toggle-button-chevron-menu-2-chromium.png
  packages/mg-components/src/components/molecules/mg-action-more/tests/__screenshots__/mg-action-more-navigation-Should-toggle-button-menu-case-keyboard-3-chromium.png
  packages/mg-components/src/components/molecules/mg-action-more/tests/__screenshots__/mg-action-more-navigation-Should-toggle-button-menu-case-keyboard-4-chromium.png
  packages/mg-components/src/components/molecules/mg-action-more/tests/__screenshots__/mg-action-more-navigation-Should-toggle-button-menu-case-mouse-2-chromium.png
  packages/styles/scss/components/mg-action-more.scss
  packages/styles/scss/components/mg-menu-item.scss
  packages/styles/scss/components/mixins/_navigation-button.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

refactor(mg-icon): move iconList from conf into spec
  packages/mg-components/src/components/atoms/mg-icon/mg-icon.conf.ts
  packages/mg-components/src/components/atoms/mg-icon/tests/mg-icon.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-illustrated-message): update e2e screenshots
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-large-direction-horizontal-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-large-direction-horizontal-2-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-large-direction-vertical-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-medium-direction-horizontal-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-medium-direction-horizontal-2-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-medium-direction-vertical-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-small-direction-horizontal-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-small-direction-horizontal-2-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-small-direction-vertical-1-chromium.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-illustrated-message): add changeset
  .changeset/five-carrots-shop.md
Due: none

feat(img): add style attribute to get automatic color customization
  packages/img/src/tools/import-figma.ts
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

feat(img): new figma import
  packages/img/src/icons/bell-outline.svg
  packages/img/src/icons/pause-outline.svg
  packages/img/src/icons/pause.svg
  packages/img/src/illustrations/aides.svg
  packages/img/src/illustrations/all-done.svg
  packages/img/src/illustrations/convention-empty.svg
  packages/img/src/illustrations/conviviale.svg
  packages/img/src/illustrations/digital-forms.svg
  packages/img/src/illustrations/digital-security.svg
  packages/img/src/illustrations/disconnected.svg
  packages/img/src/illustrations/documents.svg
  packages/img/src/illustrations/echanges.svg
  packages/img/src/illustrations/neutral.svg
  packages/img/src/illustrations/no-data.svg
  packages/img/src/illustrations/no-result.svg
  packages/img/src/illustrations/request-sent.svg
  packages/img/src/illustrations/search-no-result.svg
  packages/img/src/illustrations/secure-data.svg
  packages/img/src/illustrations/stage.svg
  packages/img/src/illustrations/welcome.svg
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

feat(mg-icon): update e2e tests screenshots
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-pause-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-pause-outline-1-chromium.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-illustrated-message): update changeset
  .changeset/five-carrots-shop.md
Due: none

feat(components): update readme
  packages/mg-components/src/components/atoms/mg-icon/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-text/readme.md
  packages/mg-components/src/components/molecules/mg-action-more/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-action-more): update style variables
  packages/mg-components/src/components/molecules/mg-action-more/tests/__screenshots__/mg-action-more-navigation-Should-toggle-button-chevron-menu-2-chromium.png
  packages/mg-components/src/components/molecules/mg-action-more/tests/__screenshots__/mg-action-more-navigation-Should-toggle-button-menu-case-keyboard-3-chromium.png
  packages/mg-components/src/components/molecules/mg-action-more/tests/__screenshots__/mg-action-more-navigation-Should-toggle-button-menu-case-keyboard-4-chromium.png
  packages/mg-components/src/components/molecules/mg-action-more/tests/__screenshots__/mg-action-more-navigation-Should-toggle-button-menu-case-mouse-2-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/readme.md
  packages/styles/scss/components/mg-action-more.scss
  packages/styles/scss/components/mg-input-combobox.scss
  packages/styles/scss/components/mg-menu-item.scss
  packages/styles/scss/components/mg-popover.scss
  packages/styles/scss/components/mg-tabs.scss
  packages/styles/scss/components/mixins/_navigation-button.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency chromatic to v15.3.1
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency comment-parser to v1.4.6
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

chore(deps): update dependency typedoc to v0.28.18
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update storybook monorepo to v10.3.3
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency vue to v3.5.31
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update pnpm to v10.33.0
  package.json
Due: none

fix(deps): update turbo monorepo to v2.9.1
  configs/eslint-config-custom/package.json
  package.json
  pnpm-lock.yaml
Due: none

fix(mg-table): avoid doubling the borders at the end of the table
  packages/styles/scss/components/mg-table.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

chore(deps): update dependency @vue/tsconfig to v0.9.1
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency axios to v1.14.0
  packages/img/package.json
  pnpm-lock.yaml
  tools/release-bot/package.json
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

chore(deps): update dependency rollup to v4.60.1
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency storybook-addon-tag-badges to v3.1.0
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-table): add borderHide prop
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/mg-table/docs/mg-table.stories.tsx
  packages/mg-components/src/components/molecules/mg-table/mg-table.tsx
  packages/mg-components/src/components/molecules/mg-table/readme.md
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-bordered-false-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__snapshots__/mg-table.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.e2e.ts
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.spec.tsx
  packages/styles/scss/components/mg-table.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

Path conditions:
  test:doc: any of: packages/helpers/**/*, packages/mg-components-helpers/**/*, packages/stencil-helpers/**/*
  playwright:baseimage: any of: packages/mg-components/**/*, packages/notification-center/**/*, packages/styles/**/*, packages/img/**/*, packages/helpers/**/*, packages/linting-stencil/**/*, apps/notification-center/**/*, packages/sanitize-html/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  linting-angularjs:artifact: any of: packages/linting-angularjs/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*, packages/helpers/**/*
  playwright-helpers:artifact: any of: packages/helpers/**/*, packages/playwright-helpers/**/*
  helpers:artifact: any of: packages/helpers/**/*
  stencil-helpers:artifact: any of: packages/helpers/**/*, packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*
