Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

playwright:baseimage:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  script:
  - export PLAYWRIGHT_BASEIMAGE=$(./scripts/get-playwright-version.sh)
  - echo "PLAYWRIGHT_BASEIMAGE=$PLAYWRIGHT_BASEIMAGE"  > playwright-baseimage.env
  artifacts:
    reports:
      dotenv: playwright-baseimage.env

test:e2e:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  parallel: 7
  script:
  - pnpm test:e2e --filter='./packages/*' --filter=\!@mgdis/notification-center -- --shard=$CI_NODE_INDEX/$CI_NODE_TOTAL
  artifacts:
    when: always
  ...

test:e2e:notification-center:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  script:
  - pnpm test:e2e --filter=@mgdis/notification-center
  retry: 2
  artifacts:
    when: always
    paths:
    - packages/notification-center/playwright-report/
  ...

mg-components:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - - .artifact
    - script
  needs:
  - lint

storybook-mr:
  before_script:
  - corepack enable
  - pnpm i
  script:
  - mkdir -p public/storybook
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - pnpm storybook:build
  - mv storybook-static/* ../../public/storybook
  stage: mg-components
  artifacts:
    paths:
    - public
  environment:
  ...

notification-center:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - pnpm build --filter=@mgdis/notification-center
  - cd packages/notification-center
  - - .artifact
    - script
  needs:
  - lint

linting-stencil:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-stencil
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

img:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .img:build
    - script
  - - .artifact
    - script
  needs:
  - lint

styles:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .styles:build
    - script
  - - .artifact
    - script
  needs:
  - lint

playwright-helpers:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/playwright-helpers
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

stencil-helpers:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .stencil-helpers
    - script
  - - .artifact
    - script
  needs:
  - lint

linting-styles:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-styles
  - - .artifact
    - script
  needs:
  - lint

fix(lint): remove lint warnings
  packages/mg-components/src/components/molecules/menus/mg-menu-item/mg-menu-item.tsx
  packages/mg-components/src/components/molecules/menus/mg-menu-item/tests/__snapshots__/mg-menu-item.spec.tsx.snap
  packages/mg-components/src/components/molecules/menus/mg-menu-item/tests/mg-menu-item.spec.tsx
  packages/mg-components/src/components/molecules/menus/mg-menu/mg-menu.tsx
  packages/mg-components/src/utils/behaviors.utils.spec.tsx
  packages/mg-components/src/utils/behaviors.utils.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

docs(mg-button): better explain the disable-on-click property
  packages/mg-components/src/components/atoms/mg-button/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: add changeset
  .changeset/angry-buttons-do.md
Due: none

fix(deps): update dependency @html-eslint/eslint-plugin to v0.38.1
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

docs(mg-button): Add example
  packages/mg-components/src/components/atoms/mg-button/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

docs(mg-button): Add business example
  packages/mg-components/src/components/atoms/mg-button/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency sharp to v0.34.1
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

chore(deps): update dependency typedoc to v0.28.2
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore(deps): update dependency typedoc-plugin-markdown to v4.6.2
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

fix(mg-input-rich-text-editor): Error on build
  .changeset/empty-squids-mate.md
  package.json
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/editor.scss
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mgInputCombobox): update style comment
  packages/styles/scss/components/mg-input-combobox.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(mg-input-numeric): Allow invalid value without triggering form error state
  .changeset/polite-showers-rescue.md
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__snapshots__/mg-input-numeric.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/mg-input-numeric.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

refactor(mg-tooltips): init tooltip on display only
  packages/mg-components/src/components/atoms/mg-tooltip/mg-tooltip.tsx
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-Should-display-content-with-the-specified-style-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-Should-keep-tooltip-center-when-update-message-prop-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-auto-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-auto-end-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-auto-start-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-bottom-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-bottom-end-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-left-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-left-end-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-left-start-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-top-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-top-end-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__snapshots__/mg-tooltip.spec.tsx.snap
  packages/mg-components/src/components/atoms/mg-tooltip/tests/mg-tooltip.spec.tsx
  packages/styles/scss/components/mg-tooltip-content.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(mg-action-more): set fullwidth on <mg-divider>
  .changeset/two-hounds-exist.md
  packages/mg-components/src/components/molecules/mg-action-more/mg-action-more.tsx
  packages/mg-components/src/components/molecules/mg-action-more/tests/__screenshots__/mg-action-more-navigation-Should-toggle-button-chevron-menu-2-chromium.png
  packages/mg-components/src/components/molecules/mg-action-more/tests/__screenshots__/mg-action-more-navigation-Should-toggle-button-menu-case-keyboard-3-chromium.png
  packages/mg-components/src/components/molecules/mg-action-more/tests/__screenshots__/mg-action-more-navigation-Should-toggle-button-menu-case-keyboard-4-chromium.png
  packages/mg-components/src/components/molecules/mg-action-more/tests/__screenshots__/mg-action-more-navigation-Should-toggle-button-menu-case-mouse-2-chromium.png
  packages/mg-components/src/components/molecules/mg-action-more/tests/__snapshots__/mg-action-more.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-action-more/tests/mg-action-more.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-action-more): update changeset
  .changeset/two-hounds-exist.md
Due: none

test(mg-tooltips): update screenshots
  packages/mg-components/src/components/atoms/mg-tooltip/mg-tooltip.tsx
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__snapshots__/mg-tooltip.spec.tsx.snap
  packages/mg-components/src/components/atoms/mg-tooltip/tests/mg-tooltip.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-checkbox-render-with-tooltip-case-label-on-top-false-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-multi-render-with-tooltip-case-label-on-top-false-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-select-all-filtered-values-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-select-all-filtered-values-6-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-labelOnTop-false-with-tooltip-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__screenshots__/mg-input-date-render-with-tooltip-label-on-top-false-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__screenshots__/mg-input-numeric-render-with-tooltip-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-password/tests/__screenshots__/mg-input-password-labelOnTop-false-render-with-tooltip-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/__screenshots__/mg-input-radio-labelOnTop-false-render-with-tooltip-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__screenshots__/mg-input-select-labelOnTop-false-render-with-tooltip-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-labelOnTop-false-with-tooltip-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-labelOnTop-false-with-tooltip-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-render-with-tooltip-case-label-on-top-false-2-chromium.png
  packages/mg-components/src/utils/floating-ui.utils.spec.ts
  packages/mg-components/src/utils/floating-ui.utils.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-details): restrict click area on <summary> element
  .changeset/crazy-horses-flash.md
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-Should-not-close-details-when-click-on-blank-summary-space-1-chromium.png
  packages/mg-components/src/components/molecules/mg-details/tests/mg-details.e2e.ts
  packages/styles/scss/components/mg-details.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

refactor(mg-popover): init tooltip on display only
  packages/mg-components/src/components/atoms/mg-tooltip/mg-tooltip.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__snapshots__/mg-input-checkbox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/internals/mg-item-more/tests/__snapshots__/mg-item-more.spec.tsx.snap
  packages/mg-components/src/components/molecules/menus/mg-menu-item/tests/__snapshots__/mg-menu-item.spec.tsx.snap
  packages/mg-components/src/components/molecules/menus/mg-menu/tests/__snapshots__/mg-menu.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-action-more/tests/__snapshots__/mg-action-more.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-popover/mg-popover.tsx
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-placement-left-Should-render-case-arrowHide-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-placement-left-start-Should-render-case-arrowHide-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-placement-top-Should-render-case-arrowHide-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-placement-top-start-Should-render-case-arrowHide-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__snapshots__/mg-popover.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-popover/tests/mg-popover.spec.tsx
  packages/mg-components/src/utils/floating-ui.utils.ts
  packages/styles/scss/components/mg-popover-content.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore: add changeset
  .changeset/strong-ducks-bet.md
Due: none

test(floating-ui): cover numberToPx method
  packages/mg-components/src/utils/floating-ui.utils.spec.ts
  packages/mg-components/src/utils/floating-ui.utils.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

test(floating-ui): return 0 without px
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__snapshots__/mg-tooltip.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__snapshots__/mg-input-checkbox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/menus/mg-menu-item/tests/__snapshots__/mg-menu-item.spec.tsx.snap
  packages/mg-components/src/components/molecules/menus/mg-menu/tests/__snapshots__/mg-menu.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-action-more/tests/__snapshots__/mg-action-more.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-popover/tests/__snapshots__/mg-popover.spec.tsx.snap
  packages/mg-components/src/utils/floating-ui.utils.spec.ts
  packages/mg-components/src/utils/floating-ui.utils.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

test(floating-ui): rename method
  packages/mg-components/src/components/atoms/mg-tooltip/mg-tooltip.tsx
  packages/mg-components/src/components/molecules/mg-popover/mg-popover.tsx
  packages/mg-components/src/utils/floating-ui.utils.spec.ts
  packages/mg-components/src/utils/floating-ui.utils.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @types/node to v22.14.1
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency lint-staged to v15.5.1
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency dotenv to v16.5.0
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

chore(deps): update dependency ts-jest to v29.3.2
  packages/notification-center/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e:notification-center, notification-center:artifact

chore(deps): update dependency vite to v6.2.6
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update dependency @changesets/cli to v2.29.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency htmlfy to v0.7.0
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore: use correct value for tag_wrap
  packages/stencil-helpers/src/storybook/index.ts
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore: Set Chromatic version
  packages/mg-components/.storybook/main.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: update dependencies
  apps/vue-3/package.json
  packages/img/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact

chore: add changeset
  .changeset/all-tips-cry.md
Due: none

chore(release): 2025-04-15-10-59_Fat-Fuzzy-Wuzzy-Brown-Ferret
  .changeset/all-tips-cry.md
  .changeset/angry-buttons-do.md
  .changeset/crazy-horses-flash.md
  .changeset/empty-squids-mate.md
  .changeset/polite-showers-rescue.md
  .changeset/silent-dolls-lead.md
  .changeset/strong-ducks-bet.md
  .changeset/two-hounds-exist.md
  CHANGELOG.md
  apps/angularjs/CHANGELOG.md
  apps/angularjs/package.json
  apps/notification-center/CHANGELOG.md
  apps/notification-center/package.json
  apps/stencil/CHANGELOG.md
  apps/stencil/package.json
  apps/vanilla/CHANGELOG.md
  apps/vanilla/package.json
  apps/vue-2/CHANGELOG.md
  apps/vue-2/package.json
  apps/vue-3/CHANGELOG.md
  apps/vue-3/package.json
  packages/img/CHANGELOG.md
  packages/img/package.json
  packages/linting-stencil/CHANGELOG.md
  packages/linting-stencil/package.json
  packages/mg-components-helpers/CHANGELOG.md
  packages/mg-components-helpers/package.json
  packages/mg-components/CHANGELOG.md
  packages/mg-components/package.json
  packages/stencil-helpers/CHANGELOG.md
  packages/stencil-helpers/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, stencil-helpers:artifact

chore(mg-tooltip): rollback to popperjs
  packages/mg-components/package.json
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/atoms/mg-tooltip/mg-tooltip.conf.tsx
  packages/mg-components/src/components/atoms/mg-tooltip/mg-tooltip.tsx
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-Should-display-long-tooltip-with-max-width-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-Should-keep-tooltip-arrow-when-update-message-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-Should-keep-tooltip-arrow-when-update-message-2-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-Should-keep-tooltip-center-when-update-message-prop-2-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-Should-position-tooltip-where-it-have-enough-place-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-auto-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-auto-end-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-auto-start-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-bottom-end-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-bottom-start-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-left-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-left-end-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-left-start-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-right-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-right-end-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-right-start-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-top-end-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-placement-top-start-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__snapshots__/mg-tooltip.spec.tsx.snap
  packages/mg-components/src/components/atoms/mg-tooltip/tests/mg-tooltip.e2e.ts
  packages/mg-components/src/components/atoms/mg-tooltip/tests/mg-tooltip.spec.tsx
  packages/styles/scss/components/mg-tooltip-content.scss
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore: add changeset
  .changeset/green-mangos-smile.md
Due: none

chore(mg-tooltip): update screenshot
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-Should-position-tooltip-where-it-have-enough-place-1-chromium.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

Path conditions:
  playwright:baseimage: any of: packages/mg-components/**/*, packages/styles/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/notification-center/**/*, apps/notification-center/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*
  playwright-helpers:artifact: any of: packages/playwright-helpers/**/*
  stencil-helpers:artifact: any of: packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*
