Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

Path conditions:
  playwright:baseimage: any of: packages/mg-components/**/*, packages/styles/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/notification-center/**/*, apps/notification-center/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*
  playwright-helpers:artifact: any of: packages/playwright-helpers/**/*
  stencil-helpers:artifact: any of: packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*

chore(deps): update dependency lint-staged to v15.4.2
  package.json
  pnpm-lock.yaml
Due: none

feat(mg-input-rich-text-editor): add unit tests and some adjustements
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__mocks__/quill.js
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
  packages/styles/scss/components/mg-input-rich-text-editor.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency @changesets/cli to v2.27.12
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency turbo to v2.3.4
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency @html-eslint/eslint-plugin to v0.33.1
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency lint-staged to v15.4.3
  package.json
  pnpm-lock.yaml
Due: none

feat(mg-input-rich-text-editor): add unit tests for quillSelectionFixes
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__mocks__/quill.js
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update storybook monorepo to v8.5.2
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency eslint-config-turbo to v2.3.4
  configs/eslint-config-custom/package.json
  pnpm-lock.yaml
Due: none

feat(floatingUI): add changeset
  .changeset/lazy-pets-warn.md
  packages/mg-components/src/components/atoms/mg-tooltip/mg-tooltip.tsx
  packages/mg-components/src/components/molecules/mg-popover/mg-popover.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(lib): use exact and updated version of @floating-ui/dom
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(floatingUI): update floating-ui utils
  packages/mg-components/src/components/atoms/mg-tooltip/mg-tooltip.conf.tsx
  packages/mg-components/src/components/atoms/mg-tooltip/mg-tooltip.tsx
  packages/mg-components/src/components/molecules/mg-popover/mg-popover.conf.tsx
  packages/mg-components/src/components/molecules/mg-popover/mg-popover.tsx
  packages/mg-components/src/types/index.ts
  packages/mg-components/src/utils/floating-ui.utils.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @types/lodash to v4.17.15
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency eslint-plugin-jsdoc to v50.6.3
  configs/eslint-config-custom/package.json
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/node to v22.12.0
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

fix(mg-menu-item): prevent browser crash by reducing state updates
  .changeset/green-dogs-arrive.md
  packages/mg-components/src/components/molecules/menu/mg-menu-item/mg-menu-item.tsx
  packages/mg-components/src/components/molecules/menu/mg-menu-item/tests/__snapshots__/mg-menu-item.spec.tsx.snap
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

Apply 1 suggestion(s) to 1 file(s)
  packages/mg-components/src/components/molecules/menu/mg-menu-item/mg-menu-item.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: Update dependencies
  .changeset/real-shirts-begin.md
  apps/stencil/package.json
  package.json
  packages/linting-stencil/package.json
  packages/linting-styles/package.json
  packages/mg-components-helpers/package.json
  packages/mg-components/.storybook/main.ts
  packages/mg-components/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, stencil-helpers:artifact, linting-styles:artifact

chore: update changeset
  .changeset/green-dogs-arrive.md
Due: none

chore(release): 2025-01-29-15-47_Sleepy-Shocking-Pink-Sheep
  .changeset/calm-papayas-sin.md
  .changeset/cyan-kings-happen.md
  .changeset/green-dogs-arrive.md
  .changeset/lazy-pets-warn.md
  .changeset/nine-dingos-grab.md
  .changeset/real-shirts-begin.md
  CHANGELOG.md
  apps/angularjs/CHANGELOG.md
  apps/angularjs/package.json
  apps/notification-center/CHANGELOG.md
  apps/notification-center/package.json
  apps/stencil/CHANGELOG.md
  apps/stencil/package.json
  apps/vanilla/CHANGELOG.md
  apps/vanilla/package.json
  apps/vue-2/CHANGELOG.md
  apps/vue-2/package.json
  apps/vue-3/CHANGELOG.md
  apps/vue-3/package.json
  packages/linting-stencil/CHANGELOG.md
  packages/linting-stencil/package.json
  packages/linting-styles/CHANGELOG.md
  packages/linting-styles/package.json
  packages/mg-components-helpers/CHANGELOG.md
  packages/mg-components-helpers/package.json
  packages/mg-components/CHANGELOG.md
  packages/mg-components/package.json
  packages/stencil-helpers/CHANGELOG.md
  packages/stencil-helpers/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, stencil-helpers:artifact, linting-styles:artifact

fix(deps): update dependency @html-eslint/parser to v0.33.0
  packages/eslint-plugin-html/package.json
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @rollup/plugin-node-resolve to v16
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update dependency jsdom to v26
  apps/vue-3/package.json
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

feat(mg-input-rich-text-editor): add unit test for text-change event
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.conf.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-checkbox): add missing css prop for mg-card
  packages/mg-components/src/components/atoms/mg-card/readme.md
  packages/styles/scss/components/mg-card.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(mg-input-checkbox): update input content height definiton
  packages/styles/scss/components/mg-input-checkbox.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(mg-input-checkbox): add changeset
  .changeset/brave-rice-itch.md
Due: none

fix(mg-input-checkbox): add e2e test for type multi to check overflow with limited height
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-without-overflow-when-viewport-height-is-limited-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/mg-input-checkbox.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency chromatic to v11.25.2
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update vitest monorepo to v3
  apps/vue-3/package.json
  configs/vitest-config/package.json
  packages/eslint-plugin-vue/package.json
  packages/mg-components-helpers/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, playwright-helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update dependency @types/node to v22.13.0
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore(deps): update storybook monorepo to v8.5.3
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency rollup to v4.34.0
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update dependency rollup to v4.34.1
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

fix(mg-input-numeric): disable browser autocomplete
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-numeric): add changeset
  .changeset/grumpy-countries-explain.md
Due: none

fix(mg-input-numeric): update unit tests with autocomplete attribute
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__snapshots__/mg-input-numeric.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-form/tests/__snapshots__/mg-form.spec.tsx.snap
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-numeric): automatic code editor linting
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-components): Add mg-table
  .changeset/five-moons-clap.md
  packages/mg-components/.storybook/main.ts
  packages/mg-components/package.json
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/mg-table/docs/mg-table.stories.tsx
  packages/mg-components/src/components/molecules/mg-table/mg-table.conf.ts
  packages/mg-components/src/components/molecules/mg-table/mg-table.tsx
  packages/mg-components/src/components/molecules/mg-table/readme.md
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-fullWidth-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-size-large-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-size-small-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-size-xlarge-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__snapshots__/mg-table.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.e2e.ts
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.spec.tsx
  packages/mg-components/src/index.html
  packages/notification-center/package.json
  packages/styles/package.json
  packages/styles/scss/base/_typography.scss
  packages/styles/scss/components/mg-table.scss
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact
