Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

Path conditions:
  playwright:baseimage: any of: packages/mg-components/**/*, packages/styles/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/notification-center/**/*, apps/notification-center/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*
  playwright-helpers:artifact: any of: packages/playwright-helpers/**/*
  stencil-helpers:artifact: any of: packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*

fix(deps): update dependency axios to v1.9.0
  packages/img/package.json
  pnpm-lock.yaml
  tools/release-bot/package.json
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

feat(stencil-helpers): create formatID helper
  .changeset/itchy-papers-visit.md
  .gitlab-ci.yml
  packages/mg-components-helpers/package.json
  packages/mg-components-helpers/src/utils/to-kebab-case/to-kebab-case.spec.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/stencil-helpers/package.json
  packages/stencil-helpers/src/components/index.spec.ts
  packages/stencil-helpers/src/components/index.ts
  packages/stencil-helpers/src/index.spec.ts
  pnpm-lock.yaml
  scripts/run-e2e.sh
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact

fix(mg-input-combobox): update fetchmapping guard
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-components): enhance mg-details empty summary slot
  .changeset/lazy-nails-brush.md
  packages/mg-components/src/components/molecules/mg-details/mg-details.tsx
  packages/mg-components/src/components/molecules/mg-details/readme.md
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-Should-keep-toggle-text-when-window-39b39--summary-span-slot-summary-span-1-chromium.png
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-Should-keep-toggle-text-when-window-8c8f1-h-empty-summary-span-slot-summary-span-1-chromium.png
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-Should-keep-toggle-text-when-window-size-is-under-700px-and-with-empty-summary-1-chromium.png
  packages/mg-components/src/components/molecules/mg-details/tests/__snapshots__/mg-details.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-details/tests/mg-details.e2e.ts
  packages/mg-components/src/components/molecules/mg-details/tests/mg-details.spec.tsx
  packages/mg-components/src/index.html
  packages/styles/scss/components/mg-details.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(mg-components): change way to check if slot is empty
  packages/mg-components/src/components/molecules/mg-details/mg-details.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: Set Chromatic version
  packages/mg-components/.storybook/main.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: Update dependencies
  .changeset/purple-tips-bathe.md
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/stencil/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore: update e2e docker script
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-select-all-filtered-values-6-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-reset-input-value-with-keyboard-4-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-reset-input-value-with-keyboard-5-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-reset-input-value-with-keyboard-6-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-reset-input-value-with-keyboard-7-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__screenshots__/mg-input-select-labelOnTop-false-render-with-tooltip-2-chromium.png
  packages/mg-components/src/components/molecules/internals/mg-item-more/tests/__screenshots__/mg-item-more-mg-menu-should-renders-with-overflow-case-badge-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-inputsScriptRequired-mgInpu-71a88-red-true-Should-render-required-and-errors-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-inputsScriptRequired-mgInpu-d536e-red-true-Should-render-required-and-errors-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-lang-fr-inputsScriptRequire-0a016-d-true-Should-render-single-required-input-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-lang-fr-inputsScriptRequire-7daae-d-true-Should-render-single-required-input-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-lang-fr-inputsScriptRequire-b7ced-red-true-Should-render-required-and-errors-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-lang-fr-inputsScriptRequire-f6433-red-true-Should-render-required-and-errors-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-false-con-2334d-ariatur-Excepteur-sint-occaecat-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-mouse-navigation-totalPages-10-2-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-mouse-navigation-totalPages-2-2-chromium.png
  scripts/run-e2e.sh
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-button): prevent 'tabindex' attritbute to be overriden
  packages/mg-components/src/components/atoms/mg-button/mg-button.tsx
  packages/mg-components/src/components/atoms/mg-button/tests/__snapshots__/mg-button.spec.tsx.snap
  packages/mg-components/src/components/atoms/mg-button/tests/mg-button.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-reset-input-value-with-keyboard-9-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-button): update snapshots
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(release): 2025-04-29-17-29_Damaged-Desert-Sand-Dunlin
  .changeset/eager-foxes-return.md
  .changeset/fresh-turtles-sniff.md
  .changeset/itchy-papers-visit.md
  .changeset/lazy-nails-brush.md
  .changeset/plain-crabs-listen.md
  .changeset/purple-tips-bathe.md
  .changeset/rare-nails-drum.md
  CHANGELOG.md
  apps/angularjs/CHANGELOG.md
  apps/angularjs/package.json
  apps/notification-center/CHANGELOG.md
  apps/notification-center/package.json
  apps/stencil/CHANGELOG.md
  apps/stencil/package.json
  apps/vanilla/CHANGELOG.md
  apps/vanilla/package.json
  apps/vue-2/CHANGELOG.md
  apps/vue-2/package.json
  apps/vue-3/CHANGELOG.md
  apps/vue-3/package.json
  configs/tsconfig/CHANGELOG.md
  configs/tsconfig/package.json
  packages/img/CHANGELOG.md
  packages/img/package.json
  packages/mg-components-helpers/CHANGELOG.md
  packages/mg-components-helpers/package.json
  packages/mg-components/CHANGELOG.md
  packages/mg-components/package.json
  packages/notification-center/CHANGELOG.md
  packages/notification-center/package.json
  packages/playwright-helpers/CHANGELOG.md
  packages/playwright-helpers/package.json
  packages/sanitize-html/CHANGELOG.md
  packages/sanitize-html/package.json
  packages/stencil-helpers/CHANGELOG.md
  packages/stencil-helpers/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore: update gitlabci
  .gitlab-ci.yml
Due: none

chore: update stencil lint config
  configs/eslint-config-stencil/src/index.js
Due: none

chore(deps): update dependency jest-serializer-vue-tjw to v4
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore: update vue3 serializer
  apps/vue-3/package.json
  apps/vue-3/src/tests/App.spec.ts
  apps/vue-3/src/tests/__snapshots__/App.spec.ts.snap
  apps/vue-3/vite.config.ts
  apps/vue-3/vitest.setup.ts
  pnpm-lock.yaml
Due: none

feat(mg-components): mg-table new style
  .changeset/empty-grapes-jog.md
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-10-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-2-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-3-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-4-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-5-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-6-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-7-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-8-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-9-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-table-with-links-in-table-based-on-app-color-BADA55-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-table-with-links-in-table-based-on-app-color-undefined-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columns-2-align-center-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columns-3-datatype-numeric-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-fullWidth-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-size-large-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-size-small-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-size-xlarge-1-chromium.png
  packages/styles/scss/components/mg-table.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency vite to v6.3.4
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

fix(deps): update dependency @babel/eslint-parser to v7.27.1
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: none

chore(mg-input-combobox): linting 0 error
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @manypkg/cli to v0.24.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency mocha to v11.2.2
  packages/eslint-plugin-html/package.json
  packages/eslint-plugin-vue/package.json
  pnpm-lock.yaml
Due: none

chore: add changset
  .changeset/some-ducks-cry.md
Due: none

feat(helpers): delete intermediates files
  packages/helpers/src/angular/mg-angular-logger/mg-angular-logger.spec.ts
  packages/helpers/src/utils/to-kebab-case/to-kebab-case.spec.ts
  packages/mg-components-helpers/src/angular/mg-angular-logger/index.ts
  packages/mg-components-helpers/src/angular/mg-angular-logger/mg-angular-logger.spec.ts
  packages/mg-components-helpers/src/angular/mg-angular-logger/mg-angular-logger.ts
  packages/mg-components-helpers/src/utils/to-kebab-case/index.ts
  packages/mg-components-helpers/src/utils/to-kebab-case/to-kebab-case.spec.ts
  packages/mg-components-helpers/src/utils/to-kebab-case/to-kebab-case.ts
  packages/mg-components-helpers/src/vue/mg-model/index.ts
  packages/mg-components-helpers/src/vue/mg-model/mg-model.ts
Due: none

feat(helpers): add changeset
  .changeset/light-pianos-marry.md
  .changeset/slimy-monkeys-kiss.md
  packages/helpers/README.md
  packages/mg-components-helpers/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, playwright-helpers:artifact, stencil-helpers:artifact

feat(helpers): remove @mgdis/mg-components-helpers internal dependences
  apps/angularjs/package.json
  apps/angularjs/src/main.js
  pnpm-lock.yaml
Due: none

feat(helpers): update readme
  packages/helpers/README.md
Due: none

feat(helpers): update e2e script
  packages/mg-components/src/components/molecules/mg-panel/tests/mg-panel.e2e.ts
  scripts/run-e2e.sh
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

test(mg-components): add mg-table e2e
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-10-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-2-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-3-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-4-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-5-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-6-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-7-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-8-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-9-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-table-with-links-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-table-with-links-in-table-based-on-app-color-BADA55-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-table-with-links-in-table-based-on-app-color-undefined-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-0-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-1-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-2-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-3-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-4-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-5-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-6-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-7-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-8-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columns-2-align-center-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columns-3-datatype-numeric-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-fullWidth-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-size-large-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-size-small-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-size-xlarge-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.e2e.template.ts
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.e2e.ts
  packages/styles/scss/components/mg-table.scss
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

test(mg-components): update mg-table e2e
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-1-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-2-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-3-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-4-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-5-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-6-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-7-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-8-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @changesets/cli to v2.29.3
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency typedoc to v0.28.4
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore(deps): update dependency jest-axe to v10
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore: update dependencies
  pnpm-lock.yaml
Due: none

feat(helpers): update package
  .changeset/slimy-monkeys-kiss.md
  .gitlab-ci.yml
  packages/mg-components-helpers/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, playwright-helpers:artifact, stencil-helpers:artifact
