Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

Path conditions:
  playwright:baseimage: any of: packages/mg-components/**/*, packages/styles/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/notification-center/**/*, apps/notification-center/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*
  playwright-helpers:artifact: any of: packages/playwright-helpers/**/*
  stencil-helpers:artifact: any of: packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*

fix(deps): update dependency sanitize-html to v2.15.0
  packages/sanitize-html/package.json
  pnpm-lock.yaml
Due: sanitize-html:artifact

chore(deps): update dependency @types/node to v22.13.11
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency rollup-plugin-dts to v6.2.1
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update storybook monorepo to v8.6.8
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @types/node to v22.13.13
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

fix(deps): update dependency eslint-plugin-jsdoc to v50.6.9
  configs/eslint-config-custom/package.json
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency vite to v6.2.3
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

fix(deps): update dependency @tsconfig/node22 to v22.0.1
  apps/vue-3/package.json
  configs/tsconfig/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency eslint-plugin-prettier to v5.2.5
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency ts-jest to v29.3.0
  packages/notification-center/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e:notification-center, notification-center:artifact

fix(deps): update dependency @babel/eslint-parser to v7.27.0
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update storybook monorepo to v8.6.10
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency eslint-plugin-storybook to v0.12.0
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency @html-eslint/eslint-plugin to v0.37.0
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

feat(mgInputCombobox): add component
  package.json
  packages/mg-components/.storybook/main.ts
  packages/mg-components/.storybook/preview.ts
  packages/mg-components/.storybook/public/mockServiceWorker.js
  packages/mg-components/package.json
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/atoms/mg-button/mg-button.tsx
  packages/mg-components/src/components/atoms/mg-button/readme.md
  packages/mg-components/src/components/atoms/mg-icon/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/docs/mg-input-combobox.stories.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.conf.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input/readme.md
  packages/mg-components/src/components/molecules/mg-loader/readme.md
  packages/mg-components/src/components/molecules/mg-popover/readme.md
  packages/mg-components/src/components/molecules/mg-tabs/mg-tabs.tsx
  packages/mg-components/src/utils/events.utils.ts
  packages/mg-components/tsconfig.json
  packages/stencil-helpers/src/components/index.spec.ts
  packages/stencil-helpers/src/components/index.ts
  packages/styles/scss/components/_mg-input-box.scss
  packages/styles/scss/components/mg-input-combobox.scss
  packages/styles/scss/components/mg-input-text.scss
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, stencil-helpers:artifact

feat(mgInputCombobox): use mgdis mdm in story
  packages/mg-components/.storybook/main.ts
  packages/mg-components/.storybook/preview.ts
  packages/mg-components/.storybook/public/mockServiceWorker.js
  packages/mg-components/package.json
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/docs/mg-input-combobox.stories.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mgInputCombobox): create helpers
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.conf.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/stencil-helpers/src/components/__snapshots__/index.spec.ts.snap
  packages/stencil-helpers/src/components/index.spec.ts
  packages/stencil-helpers/src/components/index.ts
  packages/stencil-helpers/src/index.spec.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact

feat(MgInputCombobox): add locales
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/docs/mg-input-combobox.stories.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/locales/en/messages.json
  packages/mg-components/src/locales/fr/messages.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency eslint-import-resolver-typescript to v3.10.0
  packages/eslint-config-vue3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency rollup to v4.37.0
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

fix(deps): update dependency @html-eslint/parser to v0.37.0
  packages/eslint-plugin-html/package.json
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency stylelint to v16.17.0
  package.json
  packages/linting-styles/package.json
  pnpm-lock.yaml
Due: linting-styles:artifact

chore(deps): update dependency @types/node to v22.13.14
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore(deps): update storybook monorepo to v8.6.11
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @types/sanitize-html to v2.15.0
  packages/sanitize-html/package.json
  pnpm-lock.yaml
Due: sanitize-html:artifact

chore(deps): update dependency sass to v1.86.1
  apps/angularjs/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(img): add mgdis logo
  packages/img/src/logos/mgdis.svg
  packages/mg-components/.storybook/logo.png
  packages/mg-components/.storybook/manager.js
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact

feat(mg-components): update way to filter args in Storybook
  packages/mg-components-helpers/BREAKING-CHANGES.md
  packages/mg-components/.storybook/preview.ts
  packages/stencil-helpers/json-doc.test.json
  packages/stencil-helpers/package.json
  packages/stencil-helpers/src/storybook/__snapshots__/index.spec.ts.snap
  packages/stencil-helpers/src/storybook/index.spec.ts
  packages/stencil-helpers/src/storybook/index.ts
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact

chore: add changesets
  .changeset/chatty-buttons-crash.md
  .changeset/easy-views-turn.md
  .changeset/shiny-peas-teach.md
  .changeset/smart-stars-beam.md
Due: none

feat(mg-components): update stories
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-password/docs/mg-input-password.stories.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-password/mg-input-password.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-password/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/docs/mg-input-textarea.stories.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency ts-jest to v29.3.1
  packages/notification-center/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e:notification-center, notification-center:artifact

chore(deps): update dependency vite to v6.2.4
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

fix: ensure doc is generated
  package.json
  turbo.json
Due: none

feat: upgrade htmlfy
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

docs: update logo and content
  packages/img/src/logos/mgdis.svg
  packages/mg-components-helpers/README.md
  packages/stencil-helpers/README.md
  packages/styles/README.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, stencil-helpers:artifact

docs: update links
  packages/mg-components/GETTING-STARTED.md
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: update links
  packages/eslint-config-vue3/CHANGELOG.md
  packages/eslint-plugin-html/CHANGELOG.md
  packages/eslint-plugin-vue/CHANGELOG.md
  packages/linting-angularjs/CHANGELOG.md
  packages/linting-vue2/CHANGELOG.md
  packages/mg-components-helpers/CHANGELOG.md
  packages/mg-components/CHANGELOG.md
  packages/mg-components/src/components/molecules/mg-progress/readme.md
  packages/mg-components/src/components/molecules/mg-skip-links/readme.md
  packages/notification-center/README.md
  packages/stencil-helpers/CHANGELOG.md
  packages/styles/CHANGELOG.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, stencil-helpers:artifact

chore: update links
  packages/mg-components/CHANGELOG.md
  packages/stencil-helpers/CHANGELOG.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact

chore(deps): update dependency rollup to v4.39.0
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact
