Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

playwright:baseimage:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  script:
  - export PLAYWRIGHT_BASEIMAGE=$(./scripts/get-playwright-version.sh)
  - echo "PLAYWRIGHT_BASEIMAGE=$PLAYWRIGHT_BASEIMAGE"  > playwright-baseimage.env
  artifacts:
    reports:
      dotenv: playwright-baseimage.env

test:e2e:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  parallel: 7
  script:
  - pnpm test:e2e --filter='./packages/*' --filter=\!@mgdis/notification-center -- --shard=$CI_NODE_INDEX/$CI_NODE_TOTAL
  artifacts:
    when: always
  ...

test:e2e:notification-center:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  script:
  - pnpm test:e2e --filter=@mgdis/notification-center
  retry: 2
  artifacts:
    when: always
    paths:
    - packages/notification-center/playwright-report/
  ...

mg-components:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - - .artifact
    - script
  needs:
  - lint

storybook-mr:
  before_script:
  - corepack enable
  - pnpm i
  script:
  - mkdir -p public/storybook
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - pnpm storybook:build
  - mv storybook-static/* ../../public/storybook
  stage: mg-components
  artifacts:
    paths:
    - public
  environment:
  ...

notification-center:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - pnpm build --filter=@mgdis/notification-center
  - cd packages/notification-center
  - - .artifact
    - script
  needs:
  - lint

linting-stencil:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-stencil
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

img:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .img:build
    - script
  - - .artifact
    - script
  needs:
  - lint

styles:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .styles:build
    - script
  - - .artifact
    - script
  needs:
  - lint

playwright-helpers:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/playwright-helpers
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

stencil-helpers:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .stencil-helpers
    - script
  - - .artifact
    - script
  needs:
  - lint

linting-styles:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-styles
  - - .artifact
    - script
  needs:
  - lint

chore(deps): update dependency @types/node to v22.15.14
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency lint-staged to v15.5.2
  package.json
  pnpm-lock.yaml
Due: none

feat: update messages
  packages/mg-components/src/locales/en/messages.json
  packages/mg-components/src/locales/fr/messages.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat: update snapshots
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__snapshots__/mg-input-date.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/mg-input-date.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__snapshots__/mg-input-numeric.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/mg-input-numeric.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-numeric): update snapshots
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__screenshots__/mg-input-numeric-Should-render-error-when-value-does-not-respect-min-max-attributes-max-100-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__screenshots__/mg-input-numeric-Should-render-error-when-value-does-not-respect-min-max-attributes-min-120-1-chromium.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: add changeset
  .changeset/sour-rings-cross.md
Due: none

chore(deps): update dependency @types/node to v22.15.15
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency turbo to v2.5.3
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/sanitize-html to v2.16.0
  packages/sanitize-html/package.json
  pnpm-lock.yaml
Due: sanitize-html:artifact

fix(deps): update dependency @html-eslint/eslint-plugin to v0.40.0
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency eslint-plugin-prettier to v5.4.0
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update pnpm/action-setup action to v4
  .github/workflows/github-pages.yml
Due: none

chore(deps): update dependency rollup to v4.40.2
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

feat(helpers): update to match sonar request
  packages/helpers/src/locale/locale.ts
  packages/helpers/src/playwright/utils/__snapshots__/utils.spec.ts.snap
  packages/helpers/src/playwright/utils/utils.spec.ts
  packages/helpers/src/playwright/utils/utils.ts
  packages/helpers/src/stencil/ide/ide.ts
  packages/helpers/src/utils/components/components.conf.ts
  packages/helpers/src/utils/components/components.ts
  packages/helpers/src/utils/string/string.spec.ts
  packages/helpers/src/utils/string/string.ts
Due: none

feat(helpers): update e2e tests imports
  packages/helpers/src/locale/locale.ts
  packages/helpers/src/utils/attributes/id/id.ts
  packages/helpers/src/utils/string/string.ts
  packages/mg-components/src/components/molecules/inputs/mg-input/tests/__screenshots__/mg-input-Render-label-on-top-identifier-0-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input/tests/__screenshots__/mg-input-Render-with-tooltip-identifier-0-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input/tests/__screenshots__/mg-input-Render-with-tooltip-label-on-top-true-identifier-0-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input/tests/__screenshots__/mg-input-Render-without-tooltip-identifier-0-1-chromium.png
  scripts/run-e2e.sh
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency vite to v6.3.5
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update vitest monorepo to v3.1.3
  apps/vue-3/package.json
  configs/vitest-config/package.json
  packages/eslint-plugin-vue/package.json
  packages/mg-components-helpers/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, playwright-helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

feat(mgTag): update style
  .changeset/new-readers-teach.md
  packages/mg-components/src/components/atoms/mg-tag/tests/__screenshots__/mg-tag-Should-render-a-2-lines-tag-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tag/tests/__screenshots__/mg-tag-Should-render-a-2-lines-tag-slot-Tag-with-a-br-two-lines-text-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tag/tests/__screenshots__/mg-tag-Should-render-a-2-lines-tag-slot-mg--ea57a-ser-mg-icon-Tag-with-a-br-two-lines-text-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tag/tests/__screenshots__/mg-tag-Should-render-a-2-lines-tag-slot-mg--fd605-all-mg-icon-Tag-with-a-br-two-lines-text-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tag/tests/mg-tag.e2e.ts
  packages/styles/scss/components/mg-tag.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

Apply 1 suggestion(s) to 1 file(s)
  .changeset/new-readers-teach.md
Due: none

feat(mgPagination): add `paginationmessages` prop
  .changeset/puny-papers-end.md
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/mg-pagination/mg-pagination.conf.ts
  packages/mg-components/src/components/molecules/mg-pagination/mg-pagination.tsx
  packages/mg-components/src/components/molecules/mg-pagination/readme.md
  packages/mg-components/src/components/molecules/mg-pagination/tests/__snapshots__/mg-pagination.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-pagination/tests/mg-pagination.spec.tsx
  packages/mg-components/src/locales/en/messages.json
  packages/mg-components/src/locales/fr/messages.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(helpers): update e2e snapshots
  packages/mg-components/src/components/molecules/inputs/mg-input/tests/__screenshots__/mg-input-Render-label-on-top-identifier-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input/tests/__screenshots__/mg-input-Render-with-tooltip-identifier-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input/tests/__screenshots__/mg-input-Render-with-tooltip-label-on-top-true-identifier-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input/tests/__screenshots__/mg-input-Render-without-tooltip-identifier-1-chromium.png
  scripts/run-e2e.sh
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @vitejs/plugin-vue to v5.2.4
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency htmlfy to v0.7.3
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

fix(deps): update dependency @html-eslint/eslint-plugin to v0.40.3
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency eslint-plugin-jsdoc to v50.6.14
  configs/eslint-config-custom/package.json
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: none

feat(mgPagination): update `messages` prop name
  .changeset/puny-papers-end.md
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/mg-pagination/mg-pagination.tsx
  packages/mg-components/src/components/molecules/mg-pagination/readme.md
  packages/mg-components/src/components/molecules/mg-pagination/tests/mg-pagination.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @changesets/cli to v2.29.4
  package.json
  pnpm-lock.yaml
Due: none

chore: Set Chromatic version
  packages/mg-components/.storybook/main.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: Update dependencies
  apps/angularjs/package.json
  apps/stencil/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  configs/eslint-config-custom/package.json
  configs/tsconfig/package.json
  packages/eslint-plugin-html/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore: Add changeset
  .changeset/small-swans-lead.md
Due: none

chore(deps): update dependency htmlfy to v0.7.4
  packages/helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore(deps): update dependency ts-jest to v29.3.3
  packages/notification-center/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e:notification-center, notification-center:artifact

fix(deps): update dependency eslint-plugin-jsdoc to v50.6.17
  configs/eslint-config-custom/package.json
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency sanitize-html to v2.17.0
  packages/sanitize-html/package.json
  pnpm-lock.yaml
Due: sanitize-html:artifact

chore(deps): update dependency htmlfy to v0.7.5
  packages/helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore(deps): update dependency ts-jest to v29.3.4
  packages/notification-center/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e:notification-center, notification-center:artifact

Path conditions:
  playwright:baseimage: any of: packages/mg-components/**/*, packages/styles/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/notification-center/**/*, apps/notification-center/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*
  playwright-helpers:artifact: any of: packages/playwright-helpers/**/*
  stencil-helpers:artifact: any of: packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*
