Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

Path conditions:
  playwright:baseimage: any of: packages/mg-components/**/*, packages/styles/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/notification-center/**/*, apps/notification-center/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*
  playwright-helpers:artifact: any of: packages/playwright-helpers/**/*
  stencil-helpers:artifact: any of: packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*

chore: update eslint turbo import
  configs/eslint-config-custom/src/index.js
  pnpm-lock.yaml
Due: none

fix(mg-components): mg-input-numeric: "-0" transformed into "0"
  .changeset/clean-wasps-rhyme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/mg-input-numeric.spec.tsx
  packages/stencil-helpers/src/locale/index.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact

chore: update stories
  packages/mg-components/src/components/molecules/inputs/mg-input-text/docs/mg-input-text.stories.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency eslint-import-resolver-typescript to v3.8.7
  packages/eslint-config-vue3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update storybook monorepo to v8.6.5
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency vite to v6.2.2
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update storybook monorepo to v8.6.7
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency eslint-import-resolver-typescript to v3.9.1
  packages/eslint-config-vue3/package.json
  pnpm-lock.yaml
Due: none

chore: change chromatic branches
  .gitlab-ci.yml
  packages/mg-components/.storybook/main.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: update messages
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox-paginated/mg-input-checkbox-paginated.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-multi-Should-render-error-when-leaving-an-empty-required-input-2-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__snapshots__/mg-input-checkbox.spec.tsx.snap
  packages/mg-components/src/locales/en/messages.json
  packages/mg-components/src/locales/fr/messages.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-component): add example in date format error
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__snapshots__/mg-input-date.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/mg-input-date.spec.tsx
  packages/mg-components/src/locales/en/messages.json
  packages/mg-components/src/locales/fr/messages.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: add changeset
  .changeset/sixty-bars-bake.md
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__screenshots__/mg-input-date-Should-render-error-when-leaving-008d0-pattern-for-date-date-defaultHelpText-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__screenshots__/mg-input-date-Should-render-error-when-leaving-input-with-a-wrong-date-help-text-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__screenshots__/mg-input-date-Should-render-error-when-leaving-input-with-non-existing-date-date-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__screenshots__/mg-input-date-fr-Should-render-error-when-leav-3ac8d-pattern-for-date-date-defaultHelpText-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__screenshots__/mg-input-date-fr-Should-render-error-when-leaving-input-with-a-wrong-date-help-text-1-chromium.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @playwright/test to v1.51.1
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency @vitejs/plugin-vue to v5.2.3
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore: update messages
  packages/mg-components/src/components/molecules/mg-loader/mg-loader.tsx
  packages/mg-components/src/locales/en/messages.json
  packages/mg-components/src/locales/fr/messages.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: Set Chromatic version
  packages/mg-components/.storybook/main.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: upgrade patch dependencies
  apps/vue-3/package.json
  configs/eslint-config-custom/package.json
  configs/vitest-config/package.json
  packages/eslint-plugin-vue/package.json
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  packages/mg-components-helpers/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, playwright-helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore: upgrade minor dependencies
  apps/angularjs/package.json
  apps/stencil/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  package.json
  packages/linting-stencil/package.json
  packages/linting-styles/package.json
  packages/mg-components-helpers/package.json
  packages/mg-components/.storybook/main.ts
  packages/mg-components/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, stencil-helpers:artifact, linting-styles:artifact

chore: add changeset
  .changeset/modern-pets-clap.md
Due: none

chore: downgrade typedoc-plugin-markdown
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore(deps): update dependency eslint-plugin-storybook to v0.11.6
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency @html-eslint/parser to v0.36.0
  packages/eslint-plugin-html/package.json
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency @stencil/core to v4.28.2
  apps/stencil/package.json
  packages/mg-components/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact

chore: do not wait for hydrated class
  packages/mg-components/src/utils/playwright.fixture.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: do not wait for hydrated class
  packages/notification-center/src/tests/notification-center.e2e.ts
Due: playwright:baseimage, test:e2e:notification-center, notification-center:artifact

fix(mg-components): set the right neutral color index in storybook
  packages/mg-components/src/stories/colors.mdx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: add changeset
  .changeset/empty-poets-laugh.md
Due: none

fix(deps): update dependency @html-eslint/eslint-plugin to v0.36.0
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

chore: remove core prettier import
  apps/vue-3/.prettierrc.cjs
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore: english typo
  apps/vue-3/.prettierrc.cjs
Due: none

fix(mg-components): update mg-input-date messages
  packages/mg-components/src/components/molecules/inputs/mg-input-date/docs/mg-input-date.stories.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__screenshots__/mg-input-date-Should-render-error-when-leaving-008d0-pattern-for-date-date-defaultHelpText-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__screenshots__/mg-input-date-Should-render-error-when-leaving-input-with-a-wrong-date-help-text-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__screenshots__/mg-input-date-Should-render-error-when-leaving-input-with-non-existing-date-date-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__screenshots__/mg-input-date-fr-Should-render-error-when-leav-3ac8d-pattern-for-date-date-defaultHelpText-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__screenshots__/mg-input-date-fr-Should-render-error-when-leaving-input-with-a-wrong-date-help-text-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__snapshots__/mg-input-date.spec.tsx.snap
  packages/mg-components/src/locales/en/messages.json
  packages/mg-components/src/locales/fr/messages.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-components): update mg-input-text messages
  packages/mg-components/src/components/molecules/inputs/mg-input-text/mg-input-text.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-types-with-helptext-Should-display-patternMismatch-mesage-with-type-and-pattern-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-types-with-helptext-type-email-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-types-with-helptext-type-emails-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-types-with-helptext-type-url-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__snapshots__/mg-input-text.spec.tsx.snap
  packages/mg-components/src/locales/en/messages.json
  packages/mg-components/src/locales/fr/messages.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(mg-components): add changeset
  .changeset/slick-mangos-cheer.md
Due: none

docs(mg-components): update intro
  packages/mg-components/README.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

docs(mg-components): update order
  packages/mg-components/.storybook/preview.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

docs(mg-components): prevent creation of undefined links
  packages/stencil-helpers/src/storybook/index.ts
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

fix(deps): update dependency axios to v1.8.4
  packages/img/package.json
  pnpm-lock.yaml
  tools/release-bot/package.json
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact
