Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-angularjs:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

Path conditions:
  test:doc: any of: packages/helpers/**/*, packages/mg-components-helpers/**/*, packages/stencil-helpers/**/*
  playwright:baseimage: any of: packages/mg-components/**/*, packages/notification-center/**/*, packages/styles/**/*, packages/img/**/*, packages/helpers/**/*, packages/linting-stencil/**/*, apps/notification-center/**/*, packages/sanitize-html/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  linting-angularjs:artifact: any of: packages/linting-angularjs/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*, packages/helpers/**/*
  playwright-helpers:artifact: any of: packages/helpers/**/*, packages/playwright-helpers/**/*
  helpers:artifact: any of: packages/helpers/**/*
  stencil-helpers:artifact: any of: packages/helpers/**/*, packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*

chore(mg-components): drop redundant identifier validation comments
  packages/mg-components/src/components/atoms/mg-tooltip/mg-tooltip.tsx
  packages/mg-components/src/components/molecules/mg-modal/mg-modal.tsx
  packages/mg-components/src/components/molecules/mg-popover/mg-popover.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

refactor(mg-divider): use border-block-start CSS logical property
  .changeset/mg-divider-firefox-subpixel.md
  packages/styles/scss/components/mg-divider.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

fix(mg-modal): cap height to dynamic viewport for Safari
  .changeset/mg-modal-safari-height.md
  packages/styles/scss/components/mg-modal.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

fix(mg-modal): break flex chicken-and-egg on WebKit + lock with webkit e2e
  .changeset/mg-modal-safari-height.md
  packages/mg-components/playwright.config.ts
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-1-chromium.png
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-1-webkit.png
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-2-chromium.png
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-2-webkit.png
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-hide-summary-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-hide-summary-true-1-webkit.png
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-hide-summary-true-2-chromium.png
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-hide-summary-true-2-webkit.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-Should-render-hidden-modal-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-navigation-Should-navigate-with-keyboard-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-navigation-Should-navigate-with-keyboard-2-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-navigation-Should-navigate-with-keyboard-3-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-navigation-Should-navigate-with-keyboard-4-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-navigation-Should-navigate-with-keyboard-5-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-navigation-Should-trigger-modal-and-close-modal-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-navigation-Should-trigger-modal-and-close-modal-2-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-navigation-Should-trigger-modal-and-close-modal-3-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-false-con-2334d-ariatur-Excepteur-sint-occaecat-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-false-con-2e56e-Should-render-close-button-true-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-false-con-aee0a-Should-render-close-button-true-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-false-con-d9ab7-ariatur-Excepteur-sint-occaecat-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-false-con-ed1cf-hould-render-close-button-false-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-false-con-f3065-hould-render-close-button-false-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-true-cont-3afe3-Should-render-close-button-true-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-true-cont-47fc6-ariatur-Excepteur-sint-occaecat-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-true-cont-8aa28-hould-render-close-button-false-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-true-cont-91bd3-hould-render-close-button-false-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-true-cont-9d1ba-Should-render-close-button-true-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-true-cont-fd731-ariatur-Excepteur-sint-occaecat-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-inherit-color-from-parent-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-card-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-card-mg-message-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-message-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-panel-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-panel-mg-card-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-panel-mg-card-mg-message-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/mg-modal.webkit.e2e.ts
  packages/styles/scss/components/mg-modal.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

test(mg-modal): re-render snapshots via Docker baseimage to match CI
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-1-webkit.png
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-2-webkit.png
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-hide-summary-true-1-webkit.png
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-hide-summary-true-2-webkit.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-Should-render-hidden-modal-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-navigation-Should-navigate-with-keyboard-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-navigation-Should-navigate-with-keyboard-2-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-navigation-Should-navigate-with-keyboard-3-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-navigation-Should-navigate-with-keyboard-4-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-navigation-Should-navigate-with-keyboard-5-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-navigation-Should-trigger-modal-and-close-modal-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-navigation-Should-trigger-modal-and-close-modal-2-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-navigation-Should-trigger-modal-and-close-modal-3-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-false-con-2334d-ariatur-Excepteur-sint-occaecat-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-false-con-2e56e-Should-render-close-button-true-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-false-con-aee0a-Should-render-close-button-true-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-false-con-d9ab7-ariatur-Excepteur-sint-occaecat-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-false-con-ed1cf-hould-render-close-button-false-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-false-con-f3065-hould-render-close-button-false-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-true-cont-3afe3-Should-render-close-button-true-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-true-cont-47fc6-ariatur-Excepteur-sint-occaecat-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-true-cont-8aa28-hould-render-close-button-false-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-true-cont-91bd3-hould-render-close-button-false-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-true-cont-9d1ba-Should-render-close-button-true-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-true-cont-fd731-ariatur-Excepteur-sint-occaecat-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-inherit-color-from-parent-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-card-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-card-mg-message-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-message-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-panel-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-panel-mg-card-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-panel-mg-card-mg-message-1-chromium.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

test(mg-modal): add webkit screenshot baselines + rename describe
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-webkit-browser-Should-fit-within-a-small-viewport-without-overflow-1-webkit.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-webkit-browser-Should-render-long-content-without-collapsing-the-dialog-1-webkit.png
  packages/mg-components/src/components/molecules/mg-modal/tests/mg-modal.webkit.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

docs(mg-modal): shorten one-liner comments around the WebKit fix
  packages/mg-components/src/components/molecules/mg-modal/tests/mg-modal.webkit.e2e.ts
  packages/styles/scss/components/mg-modal.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency chromatic to v16.10.1
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-tooltip): stretch full-width mg-button to its container
  .changeset/mg-tooltip-full-width-button.md
  packages/mg-components/src/components/atoms/mg-tooltip/mg-tooltip.tsx
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-full-width-mg-button-slot-Should-st-3a8b2-enabled-full-width-mg-button-to-its-container-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-full-width-mg-button-slot-Should-st-942db-isabled-full-width-mg-button-to-its-container-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/mg-tooltip.e2e.ts
  packages/styles/scss/components/mg-tooltip.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency @types/jsdom to v28.0.3
  apps/vue-3/package.json
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

chore(deps): update dependency postcss to v8.5.15
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

chore(deps): update dependency rollup to v4.60.4
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency ts-jest to v29.4.11
  packages/notification-center/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e:notification-center, notification-center:artifact

fix(deps): update dependency axios to v1.16.1
  packages/img/package.json
  pnpm-lock.yaml
  tools/release-bot/package.json
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

fix(deps): update dependency sanitize-html to v2.17.4
  packages/sanitize-html/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e:notification-center, notification-center:artifact, sanitize-html:artifact

fix(deps): update turbo monorepo to v2.9.14
  configs/eslint-config-custom/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency chromatic to v17
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

test(mg-tooltip): cover full-width detection branch + clarify CSS comment
  packages/mg-components/src/components/atoms/mg-tooltip/tests/mg-tooltip.spec.tsx
  packages/styles/scss/components/mg-tooltip.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency @vitejs/plugin-vue to v6.0.7
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency vue-tsc to v3.3.1
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update storybook monorepo to v10.4.1
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update vitest monorepo to v4.1.7
  apps/vue-3/package.json
  configs/vitest-config/package.json
  packages/eslint-plugin-vue/package.json
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

test(mg-tooltip): show tooltip in full-width baselines
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-full-width-mg-button-slot-Should-st-3a8b2-enabled-full-width-mg-button-to-its-container-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-full-width-mg-button-slot-Should-st-942db-isabled-full-width-mg-button-to-its-container-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/mg-tooltip.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

test(mg-tooltip): use 'blu' as the full-width tooltip message
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-full-width-mg-button-slot-Should-st-3a8b2-enabled-full-width-mg-button-to-its-container-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__screenshots__/mg-tooltip-full-width-mg-button-slot-Should-st-942db-isabled-full-width-mg-button-to-its-container-1-chromium.png
  packages/mg-components/src/components/atoms/mg-tooltip/tests/mg-tooltip.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

refactor(mg-message): replace bar element with border-inline-start on content
  packages/mg-components/src/components/molecules/mg-alert/tests/__screenshots__/mg-alert-Should-render-with-fullWidth-1-chromium.png
  packages/mg-components/src/components/molecules/mg-message/mg-message.tsx
  packages/mg-components/src/components/molecules/mg-message/tests/__screenshots__/mg-message-Should-render-with-fullWidth-1-chromium.png
  packages/mg-components/src/components/molecules/mg-message/tests/__snapshots__/mg-message.spec.tsx.snap
  packages/styles/scss/components/mg-message.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(mg-message): add changeset for background variant styles
  .changeset/huge-drinks-move.md
Due: none

feat(mg-message): differentiate background variant styles (no shadow, larger radius)
  packages/styles/scss/components/mg-message.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

style(mg-message): condition shadow prop on variantStyle instead of CSS override
  packages/mg-components/src/components/molecules/mg-message/mg-message.tsx
  packages/styles/scss/components/mg-message.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

refactor(mg-tooltip): scope full-width wrapper styles under host class
  packages/styles/scss/components/mg-tooltip.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

fix(mg-message): leaves the height solely dependent on the content
  packages/mg-components/src/components/molecules/mg-alert/tests/__screenshots__/mg-alert-Should-render-with-fullWidth-1-chromium.png
  packages/mg-components/src/components/molecules/mg-alert/tests/__screenshots__/mg-alert-danger-bar-left-Should-render-variant-643ad-strong-Strong-strong-content-with-actions-1-chromium.png
  packages/mg-components/src/components/molecules/mg-alert/tests/__screenshots__/mg-alert-info-bar-left-Should-render-variant-i-db8bc-strong-Strong-strong-content-with-actions-1-chromium.png
  packages/mg-components/src/components/molecules/mg-alert/tests/__screenshots__/mg-alert-success-bar-left-Should-render-varian-e54d8-strong-Strong-strong-content-with-actions-1-chromium.png
  packages/mg-components/src/components/molecules/mg-alert/tests/__screenshots__/mg-alert-warning-bar-left-Should-render-varian-1cc29-strong-Strong-strong-content-with-actions-1-chromium.png
  packages/mg-components/src/components/molecules/mg-message/tests/__screenshots__/mg-message-Should-render-with-fullWidth-1-chromium.png
  packages/mg-components/src/components/molecules/mg-message/tests/__screenshots__/mg-message-danger-bar-left-Should-render-varia-886a5-strong-Strong-strong-content-with-actions-1-chromium.png
  packages/mg-components/src/components/molecules/mg-message/tests/__screenshots__/mg-message-info-bar-left-Should-render-variant-9f23e-strong-Strong-strong-content-with-actions-1-chromium.png
  packages/mg-components/src/components/molecules/mg-message/tests/__screenshots__/mg-message-success-bar-left-Should-render-vari-f8d73-strong-Strong-strong-content-with-actions-1-chromium.png
  packages/mg-components/src/components/molecules/mg-message/tests/__screenshots__/mg-message-warning-bar-left-Should-render-vari-47ee7-strong-Strong-strong-content-with-actions-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-card-mg-message-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-panel-mg-card-mg-message-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-div-mg-message-message-mg-message-div-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-mg-message-message-mg-message-2-chromium.png
  packages/styles/scss/components/mg-message.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(core-ui-helpers): scope js.properties to non-attribute props in web-types
  packages/helpers/src/stencil/ide/__snapshots__/ide.spec.ts.snap
  packages/helpers/src/stencil/ide/ide.ts
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

fix(core-ui-helpers): exclude non-attribute props from VS Code HTML attributes
  packages/helpers/src/stencil/ide/__snapshots__/ide.spec.ts.snap
  packages/helpers/src/stencil/ide/ide.ts
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

feat(core-ui-helpers): add cemGenerator for Custom Elements Manifest v2
  packages/helpers/src/stencil/ide/__snapshots__/cem.spec.ts.snap
  packages/helpers/src/stencil/ide/cem.spec.ts
  packages/helpers/src/stencil/ide/cem.ts
  packages/helpers/src/stencil/ide/index.ts
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(core-ui-helpers): apply prettier formatting to ide.ts
  packages/helpers/src/stencil/ide/ide.ts
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

fix(mg-components): regenerate IDE manifests and expose custom-elements.json
  packages/mg-components/package.json
  packages/mg-components/stencil.config.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(changeset): add changesets for issue #561
  .changeset/issue-561-helpers.md
  .changeset/issue-561-mg-components.md
Due: none

refactor(core-ui-helpers): tighten cemGenerator field/attribute mapping
  packages/helpers/src/stencil/ide/__snapshots__/cem.spec.ts.snap
  packages/helpers/src/stencil/ide/cem.ts
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

fix(core-ui-helpers): keep attributes and properties in VS Code description
  packages/helpers/src/stencil/ide/__snapshots__/ide.spec.ts.snap
  packages/helpers/src/stencil/ide/ide.ts
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact
