Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

Path conditions:
  playwright:baseimage: any of: packages/mg-components/**/*, packages/styles/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/notification-center/**/*, apps/notification-center/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*
  playwright-helpers:artifact: any of: packages/playwright-helpers/**/*
  stencil-helpers:artifact: any of: packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*

chore(deps): update dependency @types/node to v22.10.3
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency typedoc-plugin-markdown to v4.4.1
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

fix(mg-input-numeric): update formatErrorValue method for a shorter version
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-numeric): format the min/max value for the error message
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-numeric): update unit tests to reflect the way integers are now handled
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__snapshots__/mg-input-numeric.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/mg-input-numeric.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-numeric): update e2e screenshots with now integers values
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__screenshots__/mg-input-numeric-Should-render-error-when-valu-f3024-respect-min-max-attributes-min-10-max-100-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__screenshots__/mg-input-numeric-Should-render-error-when-value-does-not-respect-min-max-attributes-max-100-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__screenshots__/mg-input-numeric-Should-render-error-when-value-does-not-respect-min-max-attributes-min-120-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__screenshots__/mg-input-numeric-Should-reset-value-and-error-when-calling-reset-method-1-chromium.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-numeric): add changeset
  .changeset/violet-sheep-explain.md
Due: none

chore(deps): update dependency eslint-plugin-storybook to v0.11.2
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @types/lodash to v4.17.14
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/node to v22.10.5
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency sass to v1.83.1
  apps/angularjs/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency chromatic to v11.22.0
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency rollup to v4.29.2
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update pnpm to v9.15.3
  package.json
Due: none

fix(deps): update dependency @stencil/core to v4.23.1
  apps/stencil/package.json
  packages/mg-components/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact

chore(lib): replace PopperJS with Floating UI for mg-tooltip and mg-popover
  packages/mg-components/package.json
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/atoms/mg-tooltip/mg-tooltip.tsx
  packages/mg-components/src/components/atoms/mg-tooltip/readme.md
  packages/mg-components/src/components/molecules/mg-popover/mg-popover.tsx
  packages/mg-components/src/components/molecules/mg-popover/readme.md
  packages/styles/scss/components/mg-popover-content.scss
  packages/styles/scss/components/mg-tooltip-content.scss
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(lib): update mg-popover unit tests to handle library change
  packages/mg-components/src/components/molecules/mg-popover/tests/__snapshots__/mg-popover.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-popover/tests/mg-popover.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(lib): update mg-popover story with correct type
  packages/mg-components/src/components/molecules/mg-popover/docs/mg-popover.stories.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(lib): update mg-tooltip unit tests to handle library change
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__snapshots__/mg-tooltip.spec.tsx.snap
  packages/mg-components/src/components/atoms/mg-tooltip/tests/mg-tooltip.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency chromatic to v11.22.1
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency chromatic to v11.22.2
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency typescript to v5.7.3
  apps/notification-center/package.json
  apps/vue-3/package.json
  packages/img/package.json
  packages/linting-stencil/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, playwright-helpers:artifact, sanitize-html:artifact

fix(deps): update dependency @stencil/core to v4.23.2
  apps/stencil/package.json
  packages/mg-components/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact

chore(deps): update dependency rollup to v4.30.1
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

fix(mgMenu): update expanded script to match item parent's change
  .changeset/cyan-mirrors-do.md
  packages/mg-components/src/components/molecules/internals/mg-item-more/mg-item-more.tsx
  packages/mg-components/src/components/molecules/internals/mg-item-more/tests/__snapshots__/mg-item-more.spec.tsx.snap
  packages/mg-components/src/components/molecules/menu/mg-menu-item/mg-menu-item.tsx
  packages/mg-components/src/components/molecules/menu/mg-menu-item/tests/__screenshots__/mg-menu-item-render-direction-horizontal-Should-renders-with-props-expanded-false-2-chromium.png
  packages/mg-components/src/components/molecules/menu/mg-menu-item/tests/__screenshots__/mg-menu-item-render-direction-horizontal-Should-renders-with-props-expanded-true-1-chromium.png
  packages/mg-components/src/components/molecules/menu/mg-menu-item/tests/__screenshots__/mg-menu-item-render-direction-horizontal-Should-renders-with-props-expanded-true-2-chromium.png
  packages/mg-components/src/components/molecules/menu/mg-menu-item/tests/__screenshots__/mg-menu-item-render-direction-vertical-Should-renders-with-props-expanded-false-2-chromium.png
  packages/mg-components/src/components/molecules/menu/mg-menu-item/tests/__screenshots__/mg-menu-item-render-direction-vertical-Should-renders-with-props-expanded-true-1-chromium.png
  packages/mg-components/src/components/molecules/menu/mg-menu-item/tests/__screenshots__/mg-menu-item-render-direction-vertical-Should-renders-with-props-expanded-true-2-chromium.png
  packages/mg-components/src/components/molecules/menu/mg-menu-item/tests/__snapshots__/mg-menu-item.spec.tsx.snap
  packages/mg-components/src/components/molecules/menu/mg-menu-item/tests/mg-menu-item.e2e.ts
  packages/mg-components/src/components/molecules/menu/mg-menu-item/tests/mg-menu-item.spec.tsx
  packages/mg-components/src/components/molecules/menu/mg-menu/docs/mg-menu.stories.tsx
  packages/mg-components/src/components/molecules/menu/mg-menu/mg-menu.tsx
  packages/mg-components/src/components/molecules/menu/mg-menu/tests/__snapshots__/mg-menu.spec.tsx.snap
  packages/mg-components/src/components/molecules/menu/mg-menu/tests/mg-menu.spec.tsx
  packages/mg-components/src/utils/__snapshots__/behaviors.utils.spec.tsx.snap
  packages/mg-components/src/utils/behaviors.utils.ts
  packages/styles/scss/components/mg-menu.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(mg-grid): add offset classes
  packages/styles/scss/layout/_grid.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(mg-grid): add offset classes in layout e2e tests
  packages/styles/tests/__screenshots__/Layout-1-chromium.png
  packages/styles/tests/__screenshots__/Layout-1-firefox.png
  packages/styles/tests/layout.html
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(mg-grid): add changeset
  .changeset/ten-zebras-shake.md
Due: none

fix: Should display a badInput message on a required field with a non-existing date
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__snapshots__/mg-input-date.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/mg-input-date.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: add changeset
  .changeset/shy-tomatoes-rule.md
Due: none

chore(deps): update dependency @types/node to v22.10.6
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

fix(mgMenu): update test template
  packages/mg-components/src/components/molecules/internals/mg-item-more/tests/__screenshots__/mg-item-more-mg-menu-should-renders-case-direction-vertical-size-large-with-small-screen-1-chromium.png
  packages/mg-components/src/components/molecules/internals/mg-item-more/tests/__screenshots__/mg-item-more-mg-menu-should-renders-case-direction-vertical-size-medium-with-small-screen-1-chromium.png
  packages/mg-components/src/components/molecules/internals/mg-item-more/tests/__screenshots__/mg-item-more-mg-menu-should-renders-case-direction-vertical-size-xlarge-with-small-screen-1-chromium.png
  packages/mg-components/src/components/molecules/internals/mg-item-more/tests/mg-item-more.e2e.ts
  packages/mg-components/src/components/molecules/menu/mg-menu/tests/mg-menu.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mgMenu): type assertion
  packages/mg-components/src/components/molecules/menu/mg-menu-item/mg-menu-item.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

test: ensure input is required
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__snapshots__/mg-input-date.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/mg-input-date.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency sass to v1.83.4
  apps/angularjs/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix: notification-center : role alert on success messages
  .changeset/tame-eggs-move.md
  packages/mg-components/src/components/molecules/mg-alert/mg-alert.tsx
  packages/mg-components/src/components/molecules/mg-alert/tests/__snapshots__/mg-alert.spec.tsx.snap
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-form): update validity when subtree is update
  .changeset/soft-owls-dream.md
  packages/mg-components/src/components/molecules/mg-form/mg-form.tsx
  packages/mg-components/src/components/molecules/mg-form/tests/mg-form.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency vite to v6.0.7
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update pnpm to v9.15.4
  package.json
Due: none
