Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-angularjs:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

Path conditions:
  test:doc: any of: packages/helpers/**/*, packages/mg-components-helpers/**/*, packages/stencil-helpers/**/*
  playwright:baseimage: any of: packages/mg-components/**/*, packages/notification-center/**/*, packages/styles/**/*, packages/img/**/*, packages/helpers/**/*, packages/linting-stencil/**/*, apps/notification-center/**/*, packages/sanitize-html/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  linting-angularjs:artifact: any of: packages/linting-angularjs/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*, packages/helpers/**/*
  playwright-helpers:artifact: any of: packages/helpers/**/*, packages/playwright-helpers/**/*
  helpers:artifact: any of: packages/helpers/**/*
  stencil-helpers:artifact: any of: packages/helpers/**/*, packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*

chore(deps): update dependency typedoc-plugin-markdown to v4.10.0
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

feat(style): add mg-button styles
  packages/styles/scss/components/mg-button.scss
  packages/styles/tests/components.html
  packages/styles/tests/tests.e2e.ts
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

chore: add changeset
  .changeset/seven-places-lick.md
Due: none

chore: add sceenshots
  packages/helpers/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/styles/package.json
  packages/styles/tests/__screenshots__/Components-1-chromium.png
  packages/styles/tests/__screenshots__/Components-1-firefox.png
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore: Set Chromatic version
  packages/mg-components/.storybook/main.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(release): 2026-02-17-17-46_Clean-Cornflower-Coyote
  .changeset/little-pants-retire.md
  .changeset/seven-places-lick.md
  .changeset/six-cameras-teach.md
  .changeset/young-moose-sniff.md
  CHANGELOG.md
  apps/angularjs/CHANGELOG.md
  apps/angularjs/package.json
  apps/notification-center/CHANGELOG.md
  apps/notification-center/package.json
  apps/stencil/CHANGELOG.md
  apps/stencil/package.json
  apps/vanilla/CHANGELOG.md
  apps/vanilla/package.json
  apps/vue-2/CHANGELOG.md
  apps/vue-2/package.json
  apps/vue-3/CHANGELOG.md
  apps/vue-3/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/mg-components-helpers/CHANGELOG.md
  packages/mg-components-helpers/package.json
  packages/mg-components/CHANGELOG.md
  packages/mg-components/package.json
  packages/playwright-helpers/CHANGELOG.md
  packages/playwright-helpers/package.json
  packages/stencil-helpers/CHANGELOG.md
  packages/stencil-helpers/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

feat(mg-input-rich-text-editor): other components readme updated with types modifications
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): prevent jodit types import to modify others
  packages/mg-components/src/types/dom-override.d.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): change rich text editor library from quill to jodit
  packages/mg-components/package.json
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/docs/mg-input-rich-text-editor.stories.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/editor.scss
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/index.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/jodit-plugins.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/tests/__mocks__/quill.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
  packages/styles/scss/components/mg-input-rich-text-editor.scss
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(mg-input-rich-text-editor): update unit tests and mocks for jodit editor
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/index.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__mocks__/jodit.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__snapshots__/mg-input-rich-text-editor.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
  packages/mg-components/src/components/molecules/mg-form/tests/__snapshots__/mg-form.spec.tsx.snap
  packages/mg-components/stencil.config.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): set spacing styles between elements in the editor
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/index.ts
  packages/styles/scss/components/mg-input-rich-text-editor.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(mg-input-rich-text-editor): update editor css with complete list of custom properties
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/editor.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): replace rows prop by editorHeight
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/docs/mg-input-rich-text-editor.stories.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/index.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__snapshots__/mg-input-rich-text-editor.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-form/tests/__snapshots__/mg-form.spec.tsx.snap
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): add explicit SVG type cast to mg-icon due to jodit types import
  packages/mg-components/src/components/atoms/mg-icon/mg-icon.tsx
  packages/mg-components/src/types/dom-override.d.ts
  packages/mg-components/tsconfig.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): sanitize html content automatically
  packages/mg-components/package.json
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
  packages/mg-components/src/components/molecules/menus/mg-menu/readme.md
  packages/mg-components/src/components/molecules/mg-action-more/readme.md
  packages/sanitize-html/src/index.ts
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, sanitize-html:artifact

feat(mg-input-rich-text-editor): update readme to add documentation
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): use styleUrls instead of @import in scss
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/custom-properties.scss
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): add form integration
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/index.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): avoid the use of getHTML and getText methods name
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): changeset
  .changeset/lovely-turkeys-throw.md
Due: none

feat(mg-input-rich-text-editor): optimizations
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/index.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__mocks__/jodit.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): simplify modules prop to accept only string
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): group jodit imports
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/index.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/jodit-plugins.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): calculate editor height from rows number
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/index.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): set toolbar border-color on error
  packages/styles/scss/components/mg-input-rich-text-editor.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

feat(mg-input-rich-text-editor): remove useless form integration documentation
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): update html sanitization with string-based configuration
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): refactor types and centralize type definitions
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/editor.conf.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/index.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__mocks__/jodit.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): move textarea creation in component template
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/editor.conf.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/index.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__snapshots__/mg-input-rich-text-editor.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
  packages/mg-components/src/components/molecules/mg-form/tests/__snapshots__/mg-form.spec.tsx.snap
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): add event handlers for value-change and input-valid to the story
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/docs/mg-input-rich-text-editor.stories.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): use strict boolean for readonly and comment default placeholder
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/index.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): refactor e2e tests
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): refactor editor initialization and validation logic
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/index.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__mocks__/jodit.mock.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
  packages/mg-components/stencil.config.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): make modules prop reactive
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): manage aria and id attributes to improve accessibility
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/index.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__snapshots__/mg-input-rich-text-editor.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
  packages/mg-components/src/components/molecules/mg-form/mg-form.conf.ts
  packages/mg-components/src/components/molecules/mg-form/tests/__snapshots__/mg-form.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-form/tests/mg-form.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): enable tab navigation by setting tabIndex to 0
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/index.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact
