Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-angularjs:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

Path conditions:
  test:doc: any of: packages/helpers/**/*, packages/mg-components-helpers/**/*, packages/stencil-helpers/**/*
  playwright:baseimage: any of: packages/mg-components/**/*, packages/notification-center/**/*, packages/styles/**/*, packages/img/**/*, packages/helpers/**/*, packages/linting-stencil/**/*, apps/notification-center/**/*, packages/sanitize-html/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  linting-angularjs:artifact: any of: packages/linting-angularjs/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*, packages/helpers/**/*
  playwright-helpers:artifact: any of: packages/helpers/**/*, packages/playwright-helpers/**/*
  helpers:artifact: any of: packages/helpers/**/*
  stencil-helpers:artifact: any of: packages/helpers/**/*, packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*

chore(deps): update dependency sharp to v0.34.5
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

fix(deps): update dependency axios to v1.13.2
  packages/img/package.json
  pnpm-lock.yaml
  tools/release-bot/package.json
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

chore(deps): update dependency rollup to v4.53.2
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

fix(deps): update dependency eslint-plugin-tsdoc to v0.5.0
  configs/eslint-config-custom/package.json
  packages/eslint-config-vue3/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update turbo monorepo to v2.6.1
  configs/eslint-config-custom/package.json
  package.json
  pnpm-lock.yaml
Due: none

feat(mg-illustrated-message): Update breakpoint
  packages/styles/scss/components/mg-illustrated-message.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

Apply 1 suggestion(s) to 1 file(s)
  packages/styles/scss/components/mg-input-textarea.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

feat(mg-input-textarea): add new e2e tests for characterLeftHide functionality
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-render-input-with-characterL-8b9f6-ent-la-longueur-ou-la-densité-du-texte-saisi-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-render-input-with-characterL-ee29b-ent-la-longueur-ou-la-densité-du-texte-saisi-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-render-input-with-characterLeftHide-false-and-value-loerem-ipsum-dolor-sit-amet-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-render-input-with-characterLeftHide-true-and-value-loerem-ipsum-dolor-sit-amet-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/mg-input-textarea.e2e.ts
  packages/styles/scss/components/mg-input-textarea.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(deps): update dependency vue to v3.5.24
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency jsdom to v27.2.0
  apps/vue-3/package.json
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

feat(img): update e2e tests screenshots
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-comment-sms-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-file-cog-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-file-download-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-file-upload-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-folder-link-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-folder-link-outline-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-folder-star-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-expand-toggle-display-icon-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-expand-toggle-display-icon-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-expand-toggle-display-icon-title-editable-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-expand-toggle-display-icon-title-editable-true-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-expand-toggle-display-text-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-expand-toggle-display-text-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-expanded-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-expanded-true-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-panel-tit-19962--very-long-panel-title-very-long-panel-title-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-panel-tit-4655d--very-long-panel-title-very-long-panel-title-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-4be67-icon-mg-button-div-div-Content-div-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-7c063-icon-mg-button-div-div-Content-div-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-title-edi-7de6b--very-long-panel-title-very-long-panel-title-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-title-edi-dad84--very-long-panel-title-very-long-panel-title-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-title-editable-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-title-editable-true-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-title-position-left-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-title-position-left-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-title-position-right-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-title-position-right-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-title-position-right-title-editable-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-title-position-right-title-editable-true-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-navigation-Should-NOT-update-panel-title-case-input-new-value-does-NOT-match-pattern-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-navigation-Should-NOT-update-panel-title-case-input-new-value-does-NOT-match-pattern-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-navigation-Should-navigate-throw-edit-81e31--very-long-panel-title-very-long-panel-title-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-navigation-Should-navigate-throw-edit-9089c--very-long-panel-title-very-long-panel-title-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-navigation-Should-navigate-throw-edit-aa7a6--very-long-panel-title-very-long-panel-title-3-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-navigation-Should-navigate-throw-editabled-panel-title-editable-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-navigation-Should-navigate-throw-editabled-panel-title-editable-true-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-navigation-Should-navigate-throw-editabled-panel-title-editable-true-3-chromium.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency chromatic to v13.3.3
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency sass to v1.94.0
  apps/angularjs/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency @types/node to v22.19.1
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency vite to v7.2.2
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

feat(mg-input-textarea): update character-left background
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-Should-render-error-when-leaving-input-with-a-non-matching-pattern-value-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-render-input-with-characterL-3f66c-ent-la-longueur-ou-la-densité-du-texte-saisi-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-render-input-with-characterL-9f4d0-ent-la-longueur-ou-la-densité-du-texte-saisi-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-render-input-with-characterL-ee29b-ent-la-longueur-ou-la-densité-du-texte-saisi-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-render-input-with-characterLeftHide-false-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-render-input-with-characterLeftHide-false-and-value-loerem-ipsum-dolor-sit-amet-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-render-input-with-characterLeftHide-true-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-render-input-with-characterLeftHide-true-and-value-loerem-ipsum-dolor-sit-amet-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-without-tooltip-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-without-tooltip-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-without-tooltip-help-text--96ff2-atman-mg-icon-icon-user-mg-icon-a-p-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-without-tooltip-help-text--a9ece-atman-mg-icon-icon-user-mg-icon-a-p-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-without-tooltip-label-hide-true-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-without-tooltip-label-hide-true-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-without-tooltip-label-on-top-true-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-without-tooltip-label-on-top-true-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-without-tooltip-placeholder-placeholder-help-text-HelpText-Message-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-without-tooltip-placeholder-placeholder-help-text-HelpText-Message-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/mg-input-textarea.e2e.ts
  packages/styles/scss/components/mg-input-character-left.scss
  packages/styles/scss/components/mg-input-text.scss
  packages/styles/scss/components/mg-input-textarea.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(mg-input-**): link into help text doesn't work when input has focus
  .changeset/tough-beers-matter.md
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__snapshots__/mg-input-rich-text-editor.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/mg-input-text.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__snapshots__/mg-input-text.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/mg-input-text.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/mg-input-textarea.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__snapshots__/mg-input-textarea.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/mg-input-textarea.spec.tsx
  packages/styles/scss/components/mg-input-text.scss
  packages/styles/scss/components/mg-input-textarea.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(mg-input-textarea): update character-left style
  packages/styles/scss/components/mg-input-textarea.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

fix(mg-input-combobox): add the ability to apply a transform method to the request filter.
  .changeset/humble-shirts-swim.md
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/docs/mg-input-combobox.stories.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.conf.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: prepare release
  .changeset/lazy-peas-bow.md
  apps/angularjs/package.json
  apps/stencil/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  packages/mg-components/.storybook/main.ts
  packages/mg-components/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore: revert stencil upgrade
  apps/stencil/package.json
  packages/helpers/package.json
  packages/mg-components/package.json
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency @rollup/plugin-commonjs to v29
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency lint-staged to v16.2.7
  package.json
  pnpm-lock.yaml
Due: none

fix(mg-input-toggle): update normalization comment
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/mg-input-toggle.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

Apply 1 suggestion(s) to 1 file(s)
  .changeset/perky-parents-jog.md
Due: none

chore(deps): update dependency sass to v1.94.2
  apps/angularjs/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency vue-tsc to v3
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

fix(mg-input-toggle): refine option validation and enhance test cases
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/mg-input-toggle.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__snapshots__/mg-input-toggle.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/mg-input-toggle.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @types/lodash to v4.17.21
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency vite to v7.2.4
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update actions/checkout action to v6
  .github/workflows/github-pages.yml
Due: none

fix(mg-input-toggle): clean ToggleOption import CORE-3767 #591
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/mg-input-toggle.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency stylelint to v16.26.0
  package.json
  packages/linting-styles/package.json
  pnpm-lock.yaml
Due: linting-styles:artifact

fix(deps): update dependency vue to v3.5.25
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update pnpm to v10
  package.json
Due: none
