Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

Path conditions:
  playwright:baseimage: any of: packages/mg-components/**/*, packages/styles/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/notification-center/**/*, apps/notification-center/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*
  playwright-helpers:artifact: any of: packages/playwright-helpers/**/*
  stencil-helpers:artifact: any of: packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*

feat(img): new illustations and icon + updates
  packages/img/src/icons/bell-outline.svg
  packages/img/src/icons/layers.svg
  packages/img/src/icons/link.svg
  packages/img/src/icons/unlink.svg
  packages/img/src/illustrations/disconnected.svg
  packages/img/src/illustrations/empty.svg
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

feat(img): update snapshots
  packages/mg-components/src/components/atoms/mg-icon/readme.md
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-layers-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-link-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-unlink-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__snapshots__/mg-icon.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-text/readme.md
  packages/mg-components/src/components/molecules/mg-action-more/readme.md
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(img): add changeset
  .changeset/orange-donuts-bathe.md
Due: none

chore(deps): update dependency @types/node to v22.13.1
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

feat(mg-components): update custom pros taxonomy
  packages/mg-components/package.json
  packages/styles/scss/components/mg-table.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(mg-components): remove .only
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency rollup to v4.34.4
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update vitest monorepo to v3.0.5
  apps/vue-3/package.json
  configs/vitest-config/package.json
  packages/eslint-plugin-vue/package.json
  packages/mg-components-helpers/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, playwright-helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

feat(MgInputRichTextEditor): add changeset
  .changeset/brown-numbers-lie.md
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency rollup to v4.34.6
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

fix(deps): update dependency @babel/eslint-parser to v7.26.8
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency typedoc to v0.27.7
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore(mg-components): ensure tu render table and add todo
  packages/mg-components/src/components/molecules/mg-table/mg-table.tsx
  packages/styles/scss/components/mg-table.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency turbo to v2.4.1
  package.json
  pnpm-lock.yaml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/tests/__mocks__/quill.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency typedoc-plugin-markdown to v4.4.2
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

feat(mg-input-rich-text-editor): remove unnecessary div in storybook template
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/docs/mg-input-rich-text-editor.stories.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): update disabled styles
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-with-t-501d9-ing-a-situation-himself-p-disabled-true-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-with-t-d0454-Text-Message-required-true-disabled-true-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-with-template-disabled-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-Should-not-have-required-message-when-all-inputs-are-required-and-args-disabled-true-1-chromium.png
  packages/styles/scss/components/mg-input-rich-text-editor.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(mg-input-rich-text-editor): adjust styles
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-error-when-leaving-an-empty-required-input-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-error-when-leaving-an-empty-required-input-lang-fr-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__screenshots__/mg-input-rich-text-editor-Should-render-error-when-leaving-input-with-a-non-matching-pattern-value-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-Should-reset-inputs-values-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-args-Should-render-with-custom-style-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-args-disabled-true-Should-render-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-args-disabled-true-Should-render-with-custom-style-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-args-disabled-true-Should-render-with-tooltip-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-inputsScriptRequired-mgInpu-ea76e-red-true-Should-render-required-and-errors-2-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-lang-fr-inputsScriptRequire-26144-d-true-Should-render-single-required-input-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-lang-fr-inputsScriptRequire-9a1c0-red-true-Should-render-required-and-errors-2-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-lang-fr-inputsScriptRequire-f395c-d-true-Should-render-single-required-input-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-required-true-Should-render-with-props-requiredMessage-default-1-chromium.png
  packages/styles/scss/components/mg-input-rich-text-editor.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency turbo to v2.4.2
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update storybook monorepo to v8.5.5
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(MgInputRichTextEditor): update sonar config
  package.json
  sonar-project.properties
Due: none

feat(mg-input-rich-text-editor): update template type in story
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/docs/mg-input-rich-text-editor.stories.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-rich-text-editor): editor linting
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/index.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/editor/tests/__mocks__/quill.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-components): add columns alignement props
  packages/mg-components/jest.setup.ts
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/mg-table/mg-table.conf.ts
  packages/mg-components/src/components/molecules/mg-table/mg-table.tsx
  packages/mg-components/src/components/molecules/mg-table/readme.md
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columnAlign-2-center-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columnAlign-center-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columnAlign-left-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columnAlign-left-center-right-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columnAlign-right-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__snapshots__/mg-table.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.e2e.ts
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.spec.tsx
  packages/mg-components/src/index.html
  packages/styles/scss/components/mg-table.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(mg-components): update story
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/docs/mg-input-rich-text-editor.stories.tsx
  packages/mg-components/src/components/molecules/mg-table/docs/mg-table.stories.tsx
  packages/mg-components/src/components/molecules/mg-table/mg-table.tsx
  packages/mg-components/src/components/molecules/mg-table/readme.md
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-components): update image snapshots
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columnsAlignment-2-center-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columnsAlignment-center-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columnsAlignment-left-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columnsAlignment-left-center-right-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columnsAlignment-right-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

test(mg-components): update tables colors based on app color
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-table-with-links-in-table-based-on-app-color-BADA55-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-table-with-links-in-table-based-on-app-color-undefined-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.e2e.ts
  packages/mg-components/src/index.html
  packages/styles/scss/base/_custom-properties.scss
  packages/styles/scss/base/_typography.scss
  packages/styles/scss/components/mg-table.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(mg-components): mg-illustrated-message Update sizes ans spacings
  .changeset/serious-wolves-provide.md
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/mg-illustrated-message/docs/mg-illustrated-message.stories.tsx
  packages/mg-components/src/components/molecules/mg-illustrated-message/mg-illustrated-message.conf.ts
  packages/mg-components/src/components/molecules/mg-illustrated-message/mg-illustrated-message.tsx
  packages/mg-components/src/components/molecules/mg-illustrated-message/readme.md
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-Should-render-without-slot-title-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-horizontal-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-horizontal-2-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-large-direction-horizontal-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-large-direction-horizontal-2-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-large-direction-vertical-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-medium-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-medium-direction-horizontal-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-medium-direction-horizontal-2-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-medium-direction-vertical-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-small-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-small-direction-horizontal-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-small-direction-horizontal-2-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-small-direction-vertical-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__snapshots__/mg-illustrated-message.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/mg-illustrated-message.e2e.ts
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/mg-illustrated-message.spec.tsx
  packages/styles/scss/components/mg-illustrated-message.scss
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore: remove console.log
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/mg-input-checkbox.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: centralize directions
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/internals/mg-item-more/mg-item-more.tsx
  packages/mg-components/src/components/molecules/internals/mg-item-more/tests/mg-item-more.e2e.ts
  packages/mg-components/src/components/molecules/menu/mg-menu-item/docs/mg-menu-item.stories.tsx
  packages/mg-components/src/components/molecules/menu/mg-menu-item/mg-menu-item.tsx
  packages/mg-components/src/components/molecules/menu/mg-menu-item/tests/mg-menu-item.e2e.ts
  packages/mg-components/src/components/molecules/menu/mg-menu-item/tests/mg-menu-item.spec.tsx
  packages/mg-components/src/components/molecules/menu/mg-menu/docs/mg-menu.stories.tsx
  packages/mg-components/src/components/molecules/menu/mg-menu/mg-menu.conf.ts
  packages/mg-components/src/components/molecules/menu/mg-menu/mg-menu.tsx
  packages/mg-components/src/components/molecules/menu/mg-menu/readme.md
  packages/mg-components/src/components/molecules/menu/mg-menu/tests/mg-menu.e2e.ts
  packages/mg-components/src/components/molecules/menu/mg-menu/tests/mg-menu.spec.tsx
  packages/mg-components/src/components/molecules/mg-action-more/mg-action-more.tsx
  packages/mg-components/src/components/molecules/mg-illustrated-message/mg-illustrated-message.conf.ts
  packages/mg-components/src/types/index.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @types/node to v22.13.4
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency eslint-plugin-storybook to v0.11.3
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency rollup to v4.34.8
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

feat(mg-components): update columns alignement props
  packages/mg-components/.storybook/main.ts
  packages/mg-components/src/components/molecules/mg-table/mg-table.conf.ts
  packages/mg-components/src/components/molecules/mg-table/mg-table.tsx
  packages/mg-components/src/components/molecules/mg-table/readme.md
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columnAlign-2-center-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columnAlign-center-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columnAlign-left-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columnAlign-left-center-right-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columnAlign-right-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columnsAlignment-left-center-right-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__snapshots__/mg-table.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.e2e.ts
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency vue-tsc to v2.2.2
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update storybook monorepo to v8.5.7
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact
