Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

playwright:baseimage:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  script:
  - export PLAYWRIGHT_BASEIMAGE=$(./scripts/get-playwright-version.sh)
  - echo "PLAYWRIGHT_BASEIMAGE=$PLAYWRIGHT_BASEIMAGE"  > playwright-baseimage.env
  artifacts:
    reports:
      dotenv: playwright-baseimage.env

test:e2e:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  parallel: 7
  script:
  - pnpm test:e2e --filter='./packages/*' --filter=\!@mgdis/notification-center -- --shard=$CI_NODE_INDEX/$CI_NODE_TOTAL
  artifacts:
    when: always
  ...

test:e2e:notification-center:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  script:
  - pnpm test:e2e --filter=@mgdis/notification-center
  retry: 2
  artifacts:
    when: always
    paths:
    - packages/notification-center/playwright-report/
  ...

mg-components:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - - .artifact
    - script
  needs:
  - lint

storybook-mr:
  before_script:
  - corepack enable
  - pnpm i
  script:
  - mkdir -p public/storybook
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - pnpm storybook:build
  - mv storybook-static/* ../../public/storybook
  stage: mg-components
  artifacts:
    paths:
    - public
  environment:
  ...

notification-center:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - pnpm build --filter=@mgdis/notification-center
  - cd packages/notification-center
  - - .artifact
    - script
  needs:
  - lint

linting-stencil:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-stencil
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

img:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .img:build
    - script
  - - .artifact
    - script
  needs:
  - lint

styles:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .styles:build
    - script
  - - .artifact
    - script
  needs:
  - lint

playwright-helpers:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/playwright-helpers
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

stencil-helpers:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .stencil-helpers
    - script
  - - .artifact
    - script
  needs:
  - lint

linting-styles:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-styles
  - - .artifact
    - script
  needs:
  - lint

fix(mgInputCombobox): handler setValue
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(sonar): exclude storybook from sonar
  sonar-project.properties
Due: none

feat(mg-icon): add neutral variant
  packages/mg-components/src/components/atoms/mg-icon/mg-icon.conf.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: update lockfile
  pnpm-lock.yaml
Due: none

feat(mgPagination): update previous/next text
  .changeset/rich-adults-cross.md
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-locales-render-with-locale-fr-1-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-keyboard-navigation-1-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-keyboard-navigation-2-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-keyboard-navigation-3-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-keyboard-navigation-4-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-keyboard-navigation-5-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-mouse-navigation-totalPages-10-1-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-mouse-navigation-totalPages-10-10-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-mouse-navigation-totalPages-10-2-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-mouse-navigation-totalPages-10-3-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-mouse-navigation-totalPages-10-4-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-mouse-navigation-totalPages-10-5-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-mouse-navigation-totalPages-10-6-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-mouse-navigation-totalPages-10-7-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-mouse-navigation-totalPages-10-8-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-mouse-navigation-totalPages-10-9-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-mouse-navigation-totalPages-2-1-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-mouse-navigation-totalPages-2-2-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-mouse-navigation-totalPages-3-1-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-mouse-navigation-totalPages-3-2-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-navigation-Should-success-mouse-navigation-totalPages-3-3-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-template-render-total-pages-2-1-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-template-render-total-pages-2-hide-page-count-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-template-render-total-pages-3-1-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__screenshots__/mg-pagination-template-render-total-pages-3-hide-page-count-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-pagination/tests/__snapshots__/mg-pagination.spec.tsx.snap
  packages/mg-components/src/locales/en/messages.json
  packages/mg-components/src/locales/fr/messages.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency typedoc to v0.28.11
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore(deps): update storybook monorepo to v9.1.3
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency @stencil/core to v4.36.3
  apps/stencil/package.json
  packages/helpers/package.json
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency vue to v3.5.20
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency rollup to v4.49.0
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update dependency @vitejs/plugin-vue-jsx to v5.1.1
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/node to v22.18.0
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency sass to v1.91.0
  apps/angularjs/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency vite to v7.1.3
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update dependency @manypkg/cli to v0.25.1
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency chromatic to v13.1.4
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency rollup to v4.50.0
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update dependency vue3-snapshot-serializer to v2.13.0
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore: prepare release
  .changeset/purple-cats-feel.md
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  package.json
  packages/eslint-plugin-html/package.json
  packages/eslint-plugin-vue/package.json
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/mg-components/.storybook/main.ts
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore: update snapshots after playwright upgrade
  packages/styles/tests/__screenshots__/Base-1-chromium.png
  packages/styles/tests/__screenshots__/Layout-1-chromium.png
  packages/styles/tests/__screenshots__/Utils-1-chromium.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update storybook monorepo to v9.1.4
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency vue to v3.5.21
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency dotenv to v17.2.2
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

chore(deps): update dependency sass to v1.92.0
  apps/angularjs/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency @types/node to v22.18.1
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency sass to v1.92.1
  apps/angularjs/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency rollup to v4.50.1
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update dependency vite to v7.1.5
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update dependency @changesets/cli to v2.29.7
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update storybook monorepo to v9.1.5
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency @babel/eslint-parser to v7.28.4
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency stylelint to v16.24.0
  package.json
  packages/linting-styles/package.json
  pnpm-lock.yaml
Due: linting-styles:artifact

chore(deps): update dependency @types/node to v22.18.4
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact

fix(deps): update dependency @stencil/core to v4.37.0
  apps/stencil/package.json
  packages/helpers/package.json
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-date|numeric): remove informations in help text with min/max attributes
  .changeset/icy-monkeys-dance.md
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__screenshots__/mg-input-date-Should-reset-value-and-error-when-calling-reset-method-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__screenshots__/mg-input-date-Should-reset-value-and-error-when-calling-reset-method-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__snapshots__/mg-input-date.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/mg-input-date.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__screenshots__/mg-input-numeric-Should-render-error-when-valu-f3024-respect-min-max-attributes-min-10-max-100-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__screenshots__/mg-input-numeric-Should-render-error-when-value-does-not-respect-min-max-attributes-max-100-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__screenshots__/mg-input-numeric-Should-render-error-when-value-does-not-respect-min-max-attributes-min-120-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__screenshots__/mg-input-numeric-Should-reset-value-and-error-when-calling-reset-method-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__screenshots__/mg-input-numeric-Should-reset-value-and-error-when-calling-reset-method-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__snapshots__/mg-input-numeric.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/mg-input-numeric.spec.tsx
  packages/mg-components/src/locales/en/messages.json
  packages/mg-components/src/locales/fr/messages.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

Path conditions:
  playwright:baseimage: any of: packages/mg-components/**/*, packages/styles/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/notification-center/**/*, apps/notification-center/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*
  playwright-helpers:artifact: any of: packages/playwright-helpers/**/*
  stencil-helpers:artifact: any of: packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*
