Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

playwright:baseimage:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  script:
  - export PLAYWRIGHT_BASEIMAGE=$(./scripts/get-playwright-version.sh)
  - echo "PLAYWRIGHT_BASEIMAGE=$PLAYWRIGHT_BASEIMAGE"  > playwright-baseimage.env
  artifacts:
    reports:
      dotenv: playwright-baseimage.env

test:e2e:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  parallel: 7
  script:
  - pnpm test:e2e --filter='./packages/*' --filter=\!@mgdis/notification-center -- --shard=$CI_NODE_INDEX/$CI_NODE_TOTAL
  artifacts:
    when: always
  ...

test:e2e:notification-center:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  script:
  - pnpm test:e2e --filter=@mgdis/notification-center
  retry: 2
  artifacts:
    when: always
    paths:
    - packages/notification-center/playwright-report/
  ...

mg-components:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - - .artifact
    - script
  needs:
  - lint

storybook-mr:
  before_script:
  - corepack enable
  - pnpm i
  script:
  - mkdir -p public/storybook
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - pnpm storybook:build
  - mv storybook-static/* ../../public/storybook
  stage: mg-components
  artifacts:
    paths:
    - public
  environment:
  ...

notification-center:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - pnpm build --filter=@mgdis/notification-center
  - cd packages/notification-center
  - - .artifact
    - script
  needs:
  - lint

linting-stencil:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-stencil
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

img:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .img:build
    - script
  - - .artifact
    - script
  needs:
  - lint

styles:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .styles:build
    - script
  - - .artifact
    - script
  needs:
  - lint

playwright-helpers:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/playwright-helpers
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

stencil-helpers:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .stencil-helpers
    - script
  - - .artifact
    - script
  needs:
  - lint

linting-styles:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-styles
  - - .artifact
    - script
  needs:
  - lint

fix(mg-input-date-numeric): refactor conditions with isValidString
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-numeric): update unit tests after locales validation changes
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/mg-input-numeric.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-numeric): simplify help text with the use of value keyword
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
  packages/mg-components/src/locales/en/messages.json
  packages/mg-components/src/locales/fr/messages.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-numeric): update unit test with updated disabled display of help text
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/mg-input-numeric.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-date): update unit tests after using DEFAULT_MAX_DATE constant
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/mg-input-date.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-date-numeric): group errors and helpTextRange similar locales
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/mg-input-date.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/mg-input-numeric.spec.tsx
  packages/mg-components/src/locales/en/messages.json
  packages/mg-components/src/locales/fr/messages.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-numeric): remove useless waitForChange in unit test
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/mg-input-numeric.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-date): harmonization of return in case of read-only for the formatHelpText method
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-date-numeric): simplifying the condition in formatHelpText method
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-date): revert usage of constant on this prop to avoid wrong documentation
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-date-numeric): update tests snapshots and screenshots
  packages/mg-components/src/components/molecules/inputs/mg-input-date/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__snapshots__/mg-input-date.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__screenshots__/mg-input-numeric-Should-render-error-when-valu-f3024-respect-min-max-attributes-min-10-max-100-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__screenshots__/mg-input-numeric-Should-render-error-when-value-does-not-respect-min-max-attributes-max-100-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__screenshots__/mg-input-numeric-Should-render-error-when-value-does-not-respect-min-max-attributes-min-120-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__screenshots__/mg-input-numeric-Should-reset-value-and-error-when-calling-reset-method-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__screenshots__/mg-input-numeric-Should-reset-value-and-error-when-calling-reset-method-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__snapshots__/mg-input-numeric.spec.tsx.snap
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-date-numeric): update locales to use helpText key instead of validation
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/mg-input-date.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/mg-input-numeric.spec.tsx
  packages/mg-components/src/locales/en/messages.json
  packages/mg-components/src/locales/fr/messages.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-numeric): remove useless return in formatHelpText method
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-date): update e2e tests screenshots after rebase
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__screenshots__/mg-input-date-Should-render-error-when-leaving-008d0-pattern-for-date-date-defaultHelpText-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__screenshots__/mg-input-date-Should-render-error-when-leaving-input-with-a-wrong-date-help-text-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__screenshots__/mg-input-date-Should-render-error-when-leaving-input-with-non-existing-date-date-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__screenshots__/mg-input-date-fr-Should-render-error-when-leav-3ac8d-pattern-for-date-date-defaultHelpText-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__screenshots__/mg-input-date-fr-Should-render-error-when-leaving-input-with-a-wrong-date-help-text-1-chromium.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-date): improve comment about DEFAULT_MAX_DATE
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-date): update unit tests to fix valueMissing value
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/mg-input-date.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-date-numeric): harmonize formatHelpText method and update unit tests
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/mg-input-date.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/mg-input-numeric.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-date): make good use of mockReturnValueOnce in tests
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/mg-input-date.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-components): adding types on mg-input-text
  packages/mg-components/src/components/molecules/inputs/mg-input-text/mg-input-text.conf.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-text/mg-input-text.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__snapshots__/mg-input-text.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/mg-input-text.spec.tsx
  packages/mg-components/src/index.html
  packages/mg-components/src/locales/en/messages.json
  packages/mg-components/src/locales/fr/messages.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-components): merge master errors
  packages/mg-components/src/locales/en/messages.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update pnpm to v9.15.7
  package.json
Due: none

fix(deps): update dependency stylelint-config-standard-scss to v14
  packages/linting-styles/package.json
Due: linting-styles:artifact

fix: use last corepack version
  .gitlab-ci.yml
Due: none

chore(deps): update dependency @rollup/plugin-commonjs to v28.0.3
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update dependency @stencil/sass to v3.1.9
  apps/stencil/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency eslint-plugin-storybook to v0.11.4
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency vite to v6.2.1
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update pnpm to v9.15.9
  package.json
Due: none

fix(deps): update dependency @html-eslint/eslint-plugin to v0.35.2
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency axios to v1.8.2
  packages/img/package.json
  pnpm-lock.yaml
  tools/release-bot/package.json
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

fix(deps): update dependency eslint-plugin-vue to v9.33.0
  apps/vue-3/package.json
  packages/eslint-config-vue3/package.json
  packages/eslint-plugin-vue/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: none

test: add e2e
  Dockerfile
  packages/mg-components/package.json
  packages/mg-components/src/components/molecules/inputs/mg-input-text/mg-input-text.conf.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-text/mg-input-text.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-types-with-helptext-type-email-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-types-with-helptext-type-email-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-types-with-helptext-type-emails-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-types-with-helptext-type-emails-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-types-with-helptext-type-url-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-types-with-helptext-type-url-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/mg-input-text.e2e.ts
  packages/notification-center/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore: add changeset
  .changeset/rotten-pandas-hang.md
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/mg-input-text.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

test: update story
  packages/mg-components/src/components/molecules/inputs/mg-input-text/docs/mg-input-text.stories.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/mg-input-text.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-types-with-helptext-Should-display-patternMismatch-mesage-with-type-and-pattern-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__snapshots__/mg-input-text.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/mg-input-text.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/mg-input-text.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

test: update screenshots
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-small-direction-horizontal-2-chromium.png
  packages/notification-center/src/tests/__screenshots__/iframe-html-notification-index-webkit.png
  packages/notification-center/src/tests/__screenshots__/iframe-html-notification-webkit.png
  packages/notification-center/src/tests/__screenshots__/inception-html-notification-iframe-webkit.png
  packages/notification-center/src/tests/__screenshots__/inception-html-notification-index-webkit.png
  packages/notification-center/src/tests/__screenshots__/inception-html-notification-webkit.png
  packages/notification-center/src/tests/__screenshots__/index-html-notification-webkit.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: update deps patch
  apps/vue-3/package.json
  configs/eslint-config-custom/package.json
  configs/vitest-config/package.json
  packages/eslint-config-vue3/package.json
  packages/eslint-plugin-vue/package.json
  packages/img/package.json
  packages/linting-angularjs/package.json
  packages/linting-stencil/package.json
  packages/linting-vue2/package.json
  packages/mg-components-helpers/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
  tools/release-bot/package.json
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, linting-stencil:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore: update deps patch
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore: update PW and snapshots
  package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  packages/mg-components/package.json
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-small-direction-horizontal-2-chromium.png
  packages/notification-center/package.json
  packages/notification-center/src/tests/__screenshots__/iframe-html-notification-index-webkit.png
  packages/notification-center/src/tests/__screenshots__/iframe-html-notification-webkit.png
  packages/notification-center/src/tests/__screenshots__/inception-html-notification-iframe-webkit.png
  packages/notification-center/src/tests/__screenshots__/inception-html-notification-index-webkit.png
  packages/notification-center/src/tests/__screenshots__/inception-html-notification-webkit.png
  packages/notification-center/src/tests/__screenshots__/index-html-notification-webkit.png
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact

chore: update deps
  packages/eslint-plugin-html/package.json
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency eslint-config-turbo to v2.4.4
  configs/eslint-config-custom/package.json
Due: none

Path conditions:
  playwright:baseimage: any of: packages/mg-components/**/*, packages/styles/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/notification-center/**/*, apps/notification-center/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*
  playwright-helpers:artifact: any of: packages/playwright-helpers/**/*
  stencil-helpers:artifact: any of: packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*
