Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-angularjs:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

Path conditions:
  test:doc: any of: packages/helpers/**/*, packages/mg-components-helpers/**/*, packages/stencil-helpers/**/*
  playwright:baseimage: any of: packages/mg-components/**/*, packages/notification-center/**/*, packages/styles/**/*, packages/img/**/*, packages/helpers/**/*, packages/linting-stencil/**/*, apps/notification-center/**/*, packages/sanitize-html/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  linting-angularjs:artifact: any of: packages/linting-angularjs/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*, packages/helpers/**/*
  playwright-helpers:artifact: any of: packages/helpers/**/*, packages/playwright-helpers/**/*
  helpers:artifact: any of: packages/helpers/**/*
  stencil-helpers:artifact: any of: packages/helpers/**/*, packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*

feat(localeByte): rename helper
  .changeset/young-moose-sniff.md
  packages/helpers/src/locale/index.spec.ts
  packages/helpers/src/locale/locale.spec.ts
  packages/helpers/src/locale/locale.ts
  packages/helpers/src/utils/components/components.spec.ts
  packages/helpers/src/utils/components/components.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-file/mg-input-file.tsx
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency vue-tsc to v3.2.4
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update pnpm to v10.28.2
  package.json
Due: none

chore(deps): update react monorepo to v19.2.4
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency axios to v1.13.4
  packages/img/package.json
  pnpm-lock.yaml
  tools/release-bot/package.json
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

fix(deps): update dependency eslint-plugin-prettier to v5.5.5
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: linting-angularjs:artifact

fix(deps): update dependency lodash to v4.17.23
  packages/helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

fix(deps): update dependency vue to v3.5.27
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update turbo monorepo to v2.7.6
  configs/eslint-config-custom/package.json
  package.json
  pnpm-lock.yaml
Due: none

feat(localeByte): rename helper and use intl formater
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-file/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-Should-reset-value-and-error-when-calling-reset-method-lock-false-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-Should-reset-value-and-error-when-calling-reset-method-lock-true-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-Should-udpate-error-with-displayError-after-value-update-with-props-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-2-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-accept-pdf-max-size-5000-11-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-disabled-true-5-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-disabled-true-multiple-true-6-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-max-size-5000-9-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-multiple-true-3-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__snapshots__/mg-input-file.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/mg-input-file.spec.tsx
  packages/mg-components/src/components/molecules/mg-form/tests/__snapshots__/mg-form.spec.tsx.snap
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mgInputFile): update a11y pattern
  packages/mg-components/src/components/molecules/inputs/mg-input-file/mg-input-file.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-3-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-accept-pdf-11-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-accept-pdf-9-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-accept-pdf-max-size-5000-10-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-accept-pdf-max-size-5000-12-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-disabled-true-3-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-disabled-true-4-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-disabled-true-5-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-disabled-true-6-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-disabled-true-multiple-true-5-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-disabled-true-multiple-true-7-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-help-text-HelpText-Message-13-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-help-text-HelpText-Message-14-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-help-text-dd110-an-mg-icon-icon-user-mg-icon-a-p-15-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-help-text-f5672-an-mg-icon-icon-user-mg-icon-a-p-13-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-label-hide-true-8-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-label-hide-true-9-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-label-on-top-true-7-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-label-on-top-true-8-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-max-size-5000-10-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-max-size-5000-8-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-multiple-true-2-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-multiple-true-4-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-placeholder-placeholder-12-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-placeholder-placeholder-13-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__snapshots__/mg-input-file.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/mg-input-file.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/mg-input-file.spec.tsx
  packages/mg-components/src/components/molecules/mg-form/mg-form.tsx
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-Should-not-have-required-message-when-all-inputs-are-required-and-args-readonly-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-Should-render-readonly-long-values-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-args-readonly-true-Should-render-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-args-readonly-true-Should-render-with-custom-style-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-args-readonly-true-Should-render-with-fieldset-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-args-readonly-true-Should-render-with-tooltip-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__snapshots__/mg-form.spec.tsx.snap
  packages/styles/scss/components/mg-button.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(MgMenu-MgTabs): update doc
  .changeset/four-camels-pay.md
  .changeset/late-rules-behave.md
  .changeset/slick-cougars-chew.md
  .changeset/warm-maps-stop.md
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/menus/mg-menu-item/docs/mg-menu-item.stories.tsx
  packages/mg-components/src/components/molecules/menus/mg-menu/mg-menu.tsx
  packages/mg-components/src/components/molecules/menus/mg-menu/readme.md
  packages/mg-components/src/components/molecules/mg-tabs/mg-tabs.tsx
  packages/mg-components/src/components/molecules/mg-tabs/readme.md
  packages/styles/scss/components/mg-tabs.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

Apply 1 suggestion(s) to 1 file(s)
  packages/mg-components/src/components/molecules/inputs/mg-input-file/mg-input-file.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update storybook monorepo to v10.2.1
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mgInputFile): update e2e screenshot
  packages/mg-components/src/components/molecules/inputs/mg-input-file/mg-input-file.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-3-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/mg-input-file.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mgInputFile): update e2e test
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/mg-input-file.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency storybook-addon-tag-badges to v3.0.5
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update vitest monorepo to v4.0.18
  apps/vue-3/package.json
  configs/vitest-config/package.json
  packages/eslint-plugin-vue/package.json
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update dependency rollup to v4.57.0
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

fix(deps): update dependency prettier to v3.8.1
  package.json
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: linting-angularjs:artifact

chore(deps): update dependency @vitejs/plugin-vue-jsx to v5.1.4
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency dotenv to v17.2.4
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

chore(deps): update dependency rollup to v4.57.1
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency storybook-addon-tag-badges to v3.0.6
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update pnpm to v10.29.2
  package.json
Due: none

fix(deps): update turbo monorepo to v2.8.5
  configs/eslint-config-custom/package.json
  package.json
  pnpm-lock.yaml
Due: none

feat(localeByte): update byte display unit
  packages/helpers/src/locale/locale.spec.ts
  packages/helpers/src/locale/locale.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-Should-reset-value-and-error-when-calling-reset-method-lock-false-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-Should-reset-value-and-error-when-calling-reset-method-lock-true-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-Should-udpate-error-with-displayError-after-value-update-with-props-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-2-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-3-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-disabled-true-6-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-disabled-true-multiple-true-7-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-multiple-true-4-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__snapshots__/mg-input-file.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/mg-input-file.spec.tsx
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

feat(mgInputFile): update e2e test
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-placeholder-placeholder-13-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/mg-input-file.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

Apply 3 suggestion(s) to 1 file(s)
  packages/mg-components/src/components/molecules/inputs/mg-input-file/mg-input-file.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mgInputFile): update unit position
  packages/mg-components/src/components/molecules/inputs/mg-input-file/mg-input-file.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-Should-reset-value-and-error-when-calling-reset-method-lock-false-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-Should-reset-value-and-error-when-calling-reset-method-lock-true-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-Should-udpate-error-with-displayError-after-value-update-with-props-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-2-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-3-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-disabled-true-6-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-disabled-true-multiple-true-7-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-help-text-029ac-an-mg-icon-icon-user-mg-icon-a-p-14-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-help-text-HelpText-Message-13-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__screenshots__/mg-input-file-render-without-tooltip-multiple-true-4-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__snapshots__/mg-input-file.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input/mg-input.conf.ts
  packages/mg-components/src/components/molecules/mg-fieldset/mg-fieldset.tsx
  packages/mg-components/src/components/molecules/mg-form/mg-form.tsx
  packages/styles/scss/components/mg-input-file.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency @vitejs/plugin-vue to v6.0.4
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency axios to v1.13.5
  packages/img/package.json
  pnpm-lock.yaml
  tools/release-bot/package.json
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

feat(mgFieldset): add mg-input-file readonly case
  packages/mg-components/src/components/molecules/mg-fieldset/mg-fieldset.tsx
  packages/mg-components/src/components/molecules/mg-fieldset/tests/__snapshots__/mg-fieldset.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-fieldset/tests/mg-fieldset.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

Apply 2 suggestion(s) to 2 file(s)
  packages/mg-components/src/components/molecules/mg-fieldset/mg-fieldset.tsx
  packages/mg-components/src/components/molecules/mg-form/mg-form.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mgFieldset): update snapshots
  packages/mg-components/src/components/molecules/mg-fieldset/tests/__snapshots__/mg-fieldset.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-form/tests/__snapshots__/mg-form.spec.tsx.snap
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(doc): update build
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-file/readme.md
  packages/mg-components/src/components/molecules/mg-fieldset/tests/mg-fieldset.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @types/node to v24.10.13
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update storybook monorepo to v10.2.8
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency vue to v3.5.28
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none
