Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

playwright:baseimage:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  script:
  - export PLAYWRIGHT_BASEIMAGE=$(./scripts/get-playwright-version.sh)
  - echo "PLAYWRIGHT_BASEIMAGE=$PLAYWRIGHT_BASEIMAGE"  > playwright-baseimage.env
  artifacts:
    reports:
      dotenv: playwright-baseimage.env

test:e2e:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  parallel: 7
  script:
  - pnpm test:e2e --filter='./packages/*' --filter=\!@mgdis/notification-center -- --shard=$CI_NODE_INDEX/$CI_NODE_TOTAL
  artifacts:
    when: always
  ...

test:e2e:notification-center:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  script:
  - pnpm test:e2e --filter=@mgdis/notification-center
  retry: 2
  artifacts:
    when: always
    paths:
    - packages/notification-center/playwright-report/
  ...

mg-components:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - - .artifact
    - script
  needs:
  - lint

storybook-mr:
  before_script:
  - corepack enable
  - pnpm i
  script:
  - mkdir -p public/storybook
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - pnpm storybook:build
  - mv storybook-static/* ../../public/storybook
  stage: mg-components
  artifacts:
    paths:
    - public
  environment:
  ...

notification-center:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - pnpm build --filter=@mgdis/notification-center
  - cd packages/notification-center
  - - .artifact
    - script
  needs:
  - lint

linting-stencil:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-stencil
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

img:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .img:build
    - script
  - - .artifact
    - script
  needs:
  - lint

styles:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .styles:build
    - script
  - - .artifact
    - script
  needs:
  - lint

playwright-helpers:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/playwright-helpers
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

stencil-helpers:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .stencil-helpers
    - script
  - - .artifact
    - script
  needs:
  - lint

linting-styles:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-styles
  - - .artifact
    - script
  needs:
  - lint

fix(deps): update dependency @html-eslint/eslint-plugin to v0.30.0
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency react to v19
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: rollback to react 18
  .gitignore
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency typedoc to v0.27.4
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

feat(mgPopover): add "mg-popover-target-action" content support
  .changeset/fuzzy-rabbits-trade.md
  packages/mg-components/src/components/molecules/mg-popover/docs/mg-popover.stories.tsx
  packages/mg-components/src/components/molecules/mg-popover/mg-popover.tsx
  packages/mg-components/src/components/molecules/mg-popover/readme.md
  packages/mg-components/src/components/molecules/mg-popover/tests/__snapshots__/mg-popover.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-popover/tests/mg-popover.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

docs(stories): clean styles class
  packages/mg-components/src/components/molecules/inputs/mg-input/docs/mg-input.stories.tsx
  packages/mg-components/src/components/molecules/mg-form/docs/mg-form.stories.tsx
  packages/mg-components/src/components/molecules/mg-modal/docs/mg-modal.stories.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(CI): set local k
  .gitlab-ci.yml
Due: none

chore: Set Chromatic version
  packages/mg-components/.storybook/main.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: update deps
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  package.json
  packages/eslint-plugin-html/package.json
  packages/img/package.json
  packages/linting-angularjs/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore: add changeset
  .changeset/lovely-wasps-poke.md
Due: none

fix(deps): update dependency eslint-plugin-jsdoc to v50
  configs/eslint-config-custom/package.json
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency chromatic to v11.20.2
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency @stencil/core to v4.23.0
  apps/stencil/package.json
  packages/mg-components/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact

feat(mgPopover): rename "mg-popover-target-action" to "popovertargetaction"
  .changeset/fuzzy-rabbits-trade.md
  packages/mg-components/src/components/molecules/mg-popover/docs/mg-popover.stories.tsx
  packages/mg-components/src/components/molecules/mg-popover/mg-popover.tsx
  packages/mg-components/src/components/molecules/mg-popover/readme.md
  packages/mg-components/src/components/molecules/mg-popover/tests/__snapshots__/mg-popover.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-popover/tests/mg-popover.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: update snashots with 2 `shadowrootmode="open"`
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__snapshots__/mg-tooltip.spec.tsx.snap
  packages/mg-components/src/components/molecules/internals/mg-item-more/tests/__snapshots__/mg-item-more.spec.tsx.snap
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency @html-eslint/eslint-plugin to v0.31.1
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency sass to v1.83.0
  apps/angularjs/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency typedoc to v0.27.5
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore(deps): update dependency @rollup/plugin-commonjs to v28.0.2
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update dependency @rollup/plugin-typescript to v12.1.2
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

fix(deps): update dependency stylelint to v16.12.0
  package.json
  packages/linting-styles/package.json
  pnpm-lock.yaml
Due: linting-styles:artifact

chore(deps): update dependency @rollup/plugin-node-resolve to v15.3.1
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update dependency eslint-plugin-eslint-plugin to v6.4.0
  packages/eslint-plugin-html/package.json
  packages/eslint-plugin-vue/package.json
  pnpm-lock.yaml
Due: none

fix(mgComp): mg-illustrated-message: svg illustration has bad size
  .changeset/afraid-parrots-camp.md
  packages/mg-components/src/components/molecules/mg-illustrated-message/docs/mg-illustrated-message.stories.tsx
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-small-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__snapshots__/mg-illustrated-message.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/mg-illustrated-message.e2e.ts
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/mg-illustrated-message.spec.tsx
  packages/styles/scss/components/mg-illustrated-message.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency @changesets/cli to v2.27.11
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency typedoc-plugin-markdown to v4.3.3
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore(deps): update pnpm to v9.15.1
  package.json
Due: none

chore(deps): update dependency rollup to v4.29.0
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update dependency rollup to v4.29.1
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

fix(deps): update dependency sanitize-html to v2.14.0
  packages/sanitize-html/package.json
  pnpm-lock.yaml
Due: sanitize-html:artifact

chore(deps): update dependency vue-tsc to v2.2.0
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency vite to v6.0.5
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update dependency vite-plugin-dts to v4.4.0
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update dependency typedoc to v0.27.6
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore(deps): update pnpm to v9.15.2
  package.json
Due: none

chore(deps): update dependency lint-staged to v15.3.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency vite to v6.0.6
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update dependency typedoc-plugin-markdown to v4.4.0
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

fix(mgMenu): move nodes in itemMore instead cloning them
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/internals/mg-item-more/mg-item-more.tsx
  packages/mg-components/src/components/molecules/internals/mg-item-more/tests/__snapshots__/mg-item-more.spec.tsx.snap
  packages/mg-components/src/components/molecules/internals/mg-item-more/tests/mg-item-more.e2e.ts
  packages/mg-components/src/components/molecules/internals/mg-item-more/tests/mg-item-more.spec.tsx
  packages/mg-components/src/components/molecules/menu/mg-menu-item/docs/mg-menu-item.stories.tsx
  packages/mg-components/src/components/molecules/menu/mg-menu-item/mg-menu-item.tsx
  packages/mg-components/src/components/molecules/menu/mg-menu-item/readme.md
  packages/mg-components/src/components/molecules/menu/mg-menu-item/tests/__screenshots__/mg-menu-item-render-direction-horizontal-Should-renders-with-props-expanded-false-1-chromium.png
  packages/mg-components/src/components/molecules/menu/mg-menu-item/tests/__screenshots__/mg-menu-item-render-direction-horizontal-Should-renders-with-props-expanded-true-1-chromium.png
  packages/mg-components/src/components/molecules/menu/mg-menu-item/tests/__screenshots__/mg-menu-item-render-direction-vertical-Should-renders-with-props-expanded-false-1-chromium.png
  packages/mg-components/src/components/molecules/menu/mg-menu-item/tests/__screenshots__/mg-menu-item-render-direction-vertical-Should-renders-with-props-expanded-true-1-chromium.png
  packages/mg-components/src/components/molecules/menu/mg-menu-item/tests/__snapshots__/mg-menu-item.spec.tsx.snap
  packages/mg-components/src/components/molecules/menu/mg-menu-item/tests/mg-menu-item.e2e.ts
  packages/mg-components/src/components/molecules/menu/mg-menu-item/tests/mg-menu-item.spec.tsx
  packages/mg-components/src/components/molecules/menu/mg-menu/docs/mg-menu.stories.tsx
  packages/mg-components/src/components/molecules/menu/mg-menu/mg-menu.tsx
  packages/mg-components/src/components/molecules/menu/mg-menu/tests/__snapshots__/mg-menu.spec.tsx.snap
  packages/mg-components/src/components/molecules/menu/mg-menu/tests/mg-menu.spec.tsx
  packages/mg-components/src/components/molecules/mg-action-more/tests/__snapshots__/mg-action-more.spec.tsx.snap
  packages/mg-components/src/utils/__snapshots__/behaviors.utils.spec.tsx.snap
  packages/mg-components/src/utils/behaviors.utils.spec.tsx
  packages/mg-components/src/utils/behaviors.utils.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

Path conditions:
  playwright:baseimage: any of: packages/mg-components/**/*, packages/styles/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/notification-center/**/*, apps/notification-center/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*
  playwright-helpers:artifact: any of: packages/playwright-helpers/**/*
  stencil-helpers:artifact: any of: packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*
