Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

Path conditions:
  playwright:baseimage: any of: packages/mg-components/**/*, packages/styles/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/notification-center/**/*, apps/notification-center/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*
  playwright-helpers:artifact: any of: packages/playwright-helpers/**/*
  stencil-helpers:artifact: any of: packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*

chore(deps): update vitest monorepo to v3.1.1
  apps/vue-3/package.json
  configs/vitest-config/package.json
  packages/eslint-plugin-vue/package.json
  packages/mg-components-helpers/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, playwright-helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore: Set Chromatic version
  packages/mg-components/.storybook/main.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: update MR chromatic url
  scripts/open-merge-request.sh
Due: none

chore: update dependencies
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/stencil/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/img/package.json
  packages/linting-angularjs/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore: update typedoc dependencies
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore: update stories
  packages/mg-components/src/components/molecules/inputs/mg-input-date/docs/mg-input-date.stories.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/docs/mg-input-numeric.stories.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/docs/mg-input-toggle.stories.tsx
  packages/mg-components/src/components/molecules/menus/mg-menu-item/docs/mg-menu-item.stories.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: update storybook dependencies
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: add changeset
  .changeset/shaggy-bugs-matter.md
Due: none

feat(mgInputCombobox): add unit tests
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
  packages/stencil-helpers/src/components/__snapshots__/index.spec.ts.snap
  packages/stencil-helpers/src/components/index.spec.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact

chore: update stories
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/docs/mg-input-toggle.stories.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(release): 2025-04-03-15-33_Faint-Forest-Green-Falcon
  .changeset/chatty-buttons-crash.md
  .changeset/easy-views-turn.md
  .changeset/empty-poets-laugh.md
  .changeset/shaggy-bugs-matter.md
  .changeset/shiny-peas-teach.md
  .changeset/slick-mangos-cheer.md
  .changeset/smart-stars-beam.md
  CHANGELOG.md
  apps/angularjs/CHANGELOG.md
  apps/angularjs/package.json
  apps/notification-center/CHANGELOG.md
  apps/notification-center/package.json
  apps/stencil/CHANGELOG.md
  apps/stencil/package.json
  apps/vanilla/CHANGELOG.md
  apps/vanilla/package.json
  apps/vue-2/CHANGELOG.md
  apps/vue-2/package.json
  apps/vue-3/CHANGELOG.md
  apps/vue-3/package.json
  configs/tsconfig/CHANGELOG.md
  configs/tsconfig/package.json
  packages/img/CHANGELOG.md
  packages/img/package.json
  packages/linting-angularjs/CHANGELOG.md
  packages/linting-angularjs/package.json
  packages/mg-components-helpers/CHANGELOG.md
  packages/mg-components-helpers/package.json
  packages/mg-components/CHANGELOG.md
  packages/mg-components/package.json
  packages/notification-center/CHANGELOG.md
  packages/notification-center/package.json
  packages/playwright-helpers/CHANGELOG.md
  packages/playwright-helpers/package.json
  packages/sanitize-html/CHANGELOG.md
  packages/sanitize-html/package.json
  packages/stencil-helpers/CHANGELOG.md
  packages/stencil-helpers/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update dependency turbo to v2.5.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency sass to v1.86.3
  apps/angularjs/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency typescript to v5.8.3
  apps/notification-center/package.json
  apps/vue-3/package.json
  packages/img/package.json
  packages/linting-stencil/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, playwright-helpers:artifact, sanitize-html:artifact

chore(deps): update dependency sharp to v0.34.0
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

feat(mgInputCombobox): add changeset
  .changeset/silent-dolls-lead.md
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mgInputCombobox): add isLoading unit test
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency htmlfy to v0.6.7
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

fix(deps): update dependency @html-eslint/parser to v0.38.0
  packages/eslint-plugin-html/package.json
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency eslint-config-turbo to v2.5.0
  configs/eslint-config-custom/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency stylelint to v16.18.0
  package.json
  packages/linting-styles/package.json
  pnpm-lock.yaml
Due: linting-styles:artifact

Apply 1 suggestion(s) to 1 file(s)
  packages/stencil-helpers/src/components/index.ts
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

Apply 1 suggestion(s) to 1 file(s)
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.conf.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mgInputCombobox): update tests
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/docs/mg-input-combobox.stories.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.conf.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-args-disabled-true-Should-render-with-custom-style-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-inputsScriptRequired-mgInpu-20e0a-red-true-Should-render-required-and-errors-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-inputsScriptRequired-mgInpu-2af13-d-true-Should-render-single-required-input-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-inputsScriptRequired-mgInpu-2c0ab-d-true-Should-render-single-required-input-2-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-inputsScriptRequired-mgInpu-8a66e-red-true-Should-render-required-and-errors-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-inputsScriptRequired-mgInpu-92a8a-d-true-Should-render-single-required-input-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-inputsScriptRequired-mgInpu-c742c-d-true-Should-render-single-required-input-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-inputsScriptRequired-mgInpu-d536e-red-true-Should-render-required-and-errors-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-inputsScriptRequired-mgInpu-ea76e-red-true-Should-render-required-and-errors-2-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-lang-fr-inputsScriptRequire-0a016-d-true-Should-render-single-required-input-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-lang-fr-inputsScriptRequire-6a2d2-red-true-Should-render-required-and-errors-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-lang-fr-inputsScriptRequire-9a1c0-red-true-Should-render-required-and-errors-2-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-lang-fr-inputsScriptRequire-c9606-d-true-Should-render-single-required-input-2-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-lang-lang-fr-inputsScriptRequire-f395c-d-true-Should-render-single-required-input-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__snapshots__/mg-form.spec.tsx.snap
  packages/mg-components/src/locales/en/messages.json
  packages/mg-components/src/locales/fr/messages.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mgInputCombobox): split keyboard UP/DOWN e2e tests
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-down-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-down-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-down-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-down-4-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-down-5-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-down-6-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-down-7-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-down-8-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-down-9-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-up-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-up-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-up-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-up-4-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-up-5-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-update-value-with-keyboard-4-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-update-value-with-keyboard-5-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-update-value-with-keyboard-6-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-update-value-with-keyboard-7-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-update-value-with-keyboard-8-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-update-value-with-keyboard-9-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mgInputCombobox): API load-more fetch only when needeed
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-update-value-with-keyboard-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-update-value-with-keyboard-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-update-value-with-keyboard-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-update-value-with-keyboard-4-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-update-value-with-keyboard-5-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-update-value-with-keyboard-6-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-update-value-with-keyboard-7-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-update-value-with-keyboard-8-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-update-value-with-keyboard-9-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
  packages/stencil-helpers/src/components/__snapshots__/index.spec.ts.snap
  packages/stencil-helpers/src/components/index.spec.ts
  packages/stencil-helpers/src/components/index.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact

Apply 3 suggestion(s) to 2 file(s)
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/docs/mg-input-combobox.stories.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mgInputCombobox): add class mg-c-input--input-append in value watcher
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mgInputCombobox): add Paginate and Page class documentation
  packages/stencil-helpers/src/components/index.ts
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

Apply 1 suggestion(s) to 1 file(s)
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mgInputCombobox): add e2e load-more fr locale screenshot
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Should-render-with-load-more-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Should-render-with-load-more-lang-fr-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.e2e.ts
  packages/stencil-helpers/src/components/index.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact

feat(mgInputCombobox): update documentation
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(storybook): set intro as index page
  packages/mg-components/.storybook/preview.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(storybook): inprove code example
  packages/stencil-helpers/src/storybook/index.ts
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact
