Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

playwright:baseimage:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  script:
  - export PLAYWRIGHT_BASEIMAGE=$(./scripts/get-playwright-version.sh)
  - echo "PLAYWRIGHT_BASEIMAGE=$PLAYWRIGHT_BASEIMAGE"  > playwright-baseimage.env
  artifacts:
    reports:
      dotenv: playwright-baseimage.env

test:e2e:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  parallel: 7
  script:
  - pnpm test:e2e --filter='./packages/*' --filter=\!@mgdis/notification-center -- --shard=$CI_NODE_INDEX/$CI_NODE_TOTAL
  artifacts:
    when: always
  ...

test:e2e:notification-center:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  script:
  - pnpm test:e2e --filter=@mgdis/notification-center
  retry: 2
  artifacts:
    when: always
    paths:
    - packages/notification-center/playwright-report/
  ...

mg-components:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - - .artifact
    - script
  needs:
  - lint

storybook-mr:
  before_script:
  - corepack enable
  - pnpm i
  script:
  - mkdir -p public/storybook
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - pnpm storybook:build
  - mv storybook-static/* ../../public/storybook
  stage: mg-components
  artifacts:
    paths:
    - public
  environment:
  ...

notification-center:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - pnpm build --filter=@mgdis/notification-center
  - cd packages/notification-center
  - - .artifact
    - script
  needs:
  - lint

linting-stencil:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-stencil
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

img:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .img:build
    - script
  - - .artifact
    - script
  needs:
  - lint

styles:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .styles:build
    - script
  - - .artifact
    - script
  needs:
  - lint

playwright-helpers:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/playwright-helpers
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

stencil-helpers:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .stencil-helpers
    - script
  - - .artifact
    - script
  needs:
  - lint

linting-styles:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-styles
  - - .artifact
    - script
  needs:
  - lint

chore(deps): update dependency vite-plugin-dts to v4.5.4
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update storybook monorepo to v8.6.14
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency vue to v3.5.14
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency mocha to v11.4.0
  packages/eslint-plugin-html/package.json
  packages/eslint-plugin-vue/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/node to v22.15.20
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency eslint-import-resolver-typescript to v4.3.5
  packages/eslint-config-vue3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update vitest monorepo to v3.1.4
  apps/vue-3/package.json
  configs/vitest-config/package.json
  packages/eslint-plugin-vue/package.json
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, playwright-helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update dependency rollup to v4.41.0
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update dependency @types/lodash to v4.17.17
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency sharp to v0.34.2
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

fix(deps): update dependency @tsconfig/node22 to v22.0.2
  apps/vue-3/package.json
  configs/tsconfig/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @vitejs/plugin-vue-jsx to v4.2.0
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency chromatic to v11.29.0
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency lint-staged to v16
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/node to v22.15.21
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency sass to v1.89.0
  apps/angularjs/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency rollup to v4.41.1
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update dependency eslint-import-resolver-typescript to v4.4.1
  packages/eslint-config-vue3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency mocha to v11.5.0
  packages/eslint-plugin-html/package.json
  packages/eslint-plugin-vue/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/node to v22.15.23
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency typedoc to v0.28.5
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

fix(deps): update dependency @html-eslint/parser to v0.41.0
  packages/eslint-plugin-html/package.json
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

feat: enhance mg-input-checkbox to prevent updating disabled values during mass actions
  .changeset/polite-items-bow.md
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox-paginated/mg-input-checkbox-paginated.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__snapshots__/mg-input-checkbox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/mg-input-checkbox.spec.tsx
  packages/mg-components/src/index.html
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat: manage icon placement for 2 lines header
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-a-2-lines-sortable-header-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.e2e.ts
  packages/mg-components/src/index.html
  packages/styles/scss/components/mg-table.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore: add changeset
  .changeset/shy-pigs-wait.md
Due: none

chore(deps): update dependency lint-staged to v16.1.0
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency @stencil/core to v4.32.0
  apps/stencil/package.json
  packages/helpers/package.json
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency vue to v3.5.16
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/node to v22.15.29
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency eslint-import-resolver-typescript to v4.4.2
  packages/eslint-config-vue3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency chromatic to v12
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency sass to v1.89.1
  apps/angularjs/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(deps): update dependency @html-eslint/eslint-plugin to v0.41.0
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

feat(mgTable): update snapshots
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-10-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-2-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-3-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-4-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-5-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-6-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-7-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-8-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-9-chromium.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency turbo to v2.5.4
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency typedoc-plugin-markdown to v4.6.4
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore(deps): update dependency vue3-snapshot-serializer to v2.11.0
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency eslint-plugin-jsdoc to v50.7.1
  configs/eslint-config-custom/package.json
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: none

docs(mg-components): Set the right doc for valid invalid props
  .changeset/thin-dodos-invite.md
  packages/helpers/package.json
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/atoms/mg-icon/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-select/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-text/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input/readme.md
  packages/mg-components/src/components/molecules/menus/mg-menu/readme.md
  packages/mg-components/src/components/molecules/mg-action-more/readme.md
  packages/mg-components/src/components/molecules/mg-pagination/readme.md
  packages/mg-components/src/components/molecules/mg-skip-links/readme.md
  packages/mg-components/src/components/molecules/mg-table/readme.md
  packages/mg-components/src/components/molecules/mg-tabs/readme.md
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(mg-components): rollback to @stencil/core@4.28.2
  apps/stencil/package.json
  packages/helpers/package.json
  packages/mg-components/package.json
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/atoms/mg-icon/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-select/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-text/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input/readme.md
  packages/mg-components/src/components/molecules/menus/mg-menu/readme.md
  packages/mg-components/src/components/molecules/mg-action-more/readme.md
  packages/mg-components/src/components/molecules/mg-pagination/readme.md
  packages/mg-components/src/components/molecules/mg-skip-links/readme.md
  packages/mg-components/src/components/molecules/mg-table/readme.md
  packages/mg-components/src/components/molecules/mg-tabs/readme.md
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

Path conditions:
  playwright:baseimage: any of: packages/mg-components/**/*, packages/styles/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/notification-center/**/*, apps/notification-center/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*
  playwright-helpers:artifact: any of: packages/playwright-helpers/**/*
  stencil-helpers:artifact: any of: packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*
