Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-angularjs:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

test:doc:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: tests
  script:
  - pnpm build:packages
  - pnpm doc

playwright:baseimage:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: tests
  script:
  - export PLAYWRIGHT_BASEIMAGE=$(./scripts/get-playwright-version.sh)
  - echo "PLAYWRIGHT_BASEIMAGE=$PLAYWRIGHT_BASEIMAGE"  > playwright-baseimage.env
  artifacts:
    reports:
      dotenv: playwright-baseimage.env

test:e2e:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  parallel: 7
  script:
  - pnpm test:e2e --filter='./packages/*' --filter=\!@mgdis/notification-center -- --shard=$CI_NODE_INDEX/$CI_NODE_TOTAL
  ...

test:e2e:notification-center:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  script:
  - pnpm test:e2e --filter=@mgdis/notification-center
  retry: 2
  artifacts:
    when: always
    paths:
  ...

mg-components:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - - .artifact
    - script
  needs:
  - lint

storybook-mr:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  script:
  - mkdir -p public/storybook
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - pnpm storybook:build
  - mv storybook-static/* ../../public/storybook
  stage: mg-components
  artifacts:
    paths:
    - public
  ...

notification-center:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - pnpm build --filter=@mgdis/notification-center
  - cd packages/notification-center
  - - .artifact
    - script
  needs:
  - lint

linting-angularjs:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-angularjs
  - - .artifact
    - script
  needs:
  - lint

linting-stencil:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-stencil
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

img:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - - .img:build
    - script
  - - .artifact
    - script
  needs:
  - lint

styles:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - - .styles:build
    - script
  - - .artifact
    - script
  needs:
  - lint

feat(mg-breadcrumb): add changeset
  .changeset/plain-needles-drive.md
Due: none

feat(mg-breadcrumb): add unit tests
  packages/mg-components/src/components/molecules/mg-breadcrumb/tests/__snapshots__/mg-breadcrumb.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-breadcrumb/tests/mg-breadcrumb.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-breadcrumb): add component
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/atoms/mg-icon/readme.md
  packages/mg-components/src/components/molecules/mg-breadcrumb/mg-breadcrumb.conf.ts
  packages/mg-components/src/components/molecules/mg-breadcrumb/mg-breadcrumb.tsx
  packages/mg-components/src/components/molecules/mg-breadcrumb/readme.md
  packages/mg-components/src/locales/en/messages.json
  packages/mg-components/src/locales/fr/messages.json
  packages/styles/scss/components/mg-breadcrumb.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(mg-breadcrumb): check if the unlinked item is the last one
  packages/mg-components/src/components/molecules/mg-breadcrumb/mg-breadcrumb.tsx
  packages/mg-components/src/components/molecules/mg-breadcrumb/tests/mg-breadcrumb.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-breadcrumb): use item path as list key instead of array index
  packages/mg-components/src/components/molecules/mg-breadcrumb/mg-breadcrumb.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-breadcrumb): add e2e tests
  packages/mg-components/src/components/molecules/mg-breadcrumb/tests/__screenshots__/mg-breadcrumb-focus-Should-show-focus-on-second-link-when-tabbed-twice-1-chromium.png
  packages/mg-components/src/components/molecules/mg-breadcrumb/tests/__screenshots__/mg-breadcrumb-long-text-Should-render-with-long-labels-1-chromium.png
  packages/mg-components/src/components/molecules/mg-breadcrumb/tests/__screenshots__/mg-breadcrumb-long-text-Should-render-with-long-labels-on-narrow-viewport-1-chromium.png
  packages/mg-components/src/components/molecules/mg-breadcrumb/tests/__screenshots__/mg-breadcrumb-responsive-Should-render-correctly-on-mobile-viewport-1-chromium.png
  packages/mg-components/src/components/molecules/mg-breadcrumb/tests/mg-breadcrumb.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

refactor(mg-breadcrumb): remove code example in readme
  packages/mg-components/src/components/molecules/mg-breadcrumb/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

refactor(mg-breadcrumb): use anchor styles
  packages/styles/scss/components/mg-breadcrumb.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

refactor(mg-breadcrumb): property only items
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/mg-breadcrumb/docs/mg-breadcrumb.stories.tsx
  packages/mg-components/src/components/molecules/mg-breadcrumb/mg-breadcrumb.tsx
  packages/mg-components/src/components/molecules/mg-breadcrumb/readme.md
  packages/mg-components/src/components/molecules/mg-breadcrumb/tests/__snapshots__/mg-breadcrumb.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-breadcrumb/tests/mg-breadcrumb.spec.tsx
  packages/styles/scss/components/mg-breadcrumb.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

refactor(mg-breadcrumb): use simpler key for breadcrumb list items
  packages/mg-components/src/components/molecules/mg-breadcrumb/mg-breadcrumb.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-breadcrumb): increase clickable area for icon
  packages/styles/scss/components/mg-breadcrumb.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

refactor(mg-breadcrumb): validate items with typeguard and unified error message
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/mg-breadcrumb/mg-breadcrumb.tsx
  packages/mg-components/src/components/molecules/mg-breadcrumb/readme.md
  packages/mg-components/src/components/molecules/mg-breadcrumb/tests/mg-breadcrumb.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

refactor(mg-breadcrumb): remove click event logic
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/mg-breadcrumb/docs/mg-breadcrumb.stories.tsx
  packages/mg-components/src/components/molecules/mg-breadcrumb/mg-breadcrumb.tsx
  packages/mg-components/src/components/molecules/mg-breadcrumb/readme.md
  packages/mg-components/src/components/molecules/mg-breadcrumb/tests/mg-breadcrumb.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

refactor(mg-breadcrumb): rename item class
  packages/mg-components/src/components/molecules/mg-breadcrumb/mg-breadcrumb.tsx
  packages/mg-components/src/components/molecules/mg-breadcrumb/tests/__snapshots__/mg-breadcrumb.spec.tsx.snap
  packages/styles/scss/components/mg-breadcrumb.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

refactor(mg-breadcrumb): use MessageType and breadcrumb slice for locales
  packages/mg-components/src/components/molecules/mg-breadcrumb/mg-breadcrumb.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

refactor(mg-breadcrumb): use type guard for caught errors instead of 'as' assertion
  packages/mg-components/src/components/molecules/mg-breadcrumb/tests/mg-breadcrumb.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

refactor(mg-breadcrumb): remove i18n type cast
  packages/mg-components/src/components/molecules/mg-breadcrumb/mg-breadcrumb.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

refactor(mg-breadcrumb): align error tests with expect.assertions(1) try/catch pattern
  packages/mg-components/src/components/molecules/mg-breadcrumb/tests/mg-breadcrumb.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

refactor(mg-breadcrumb): various improvements
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/mg-breadcrumb/docs/mg-breadcrumb.stories.tsx
  packages/mg-components/src/components/molecules/mg-breadcrumb/mg-breadcrumb.conf.ts
  packages/mg-components/src/components/molecules/mg-breadcrumb/mg-breadcrumb.tsx
  packages/mg-components/src/components/molecules/mg-breadcrumb/readme.md
  packages/mg-components/src/components/molecules/mg-breadcrumb/tests/mg-breadcrumb.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

refactor(mg-breadcrumb): remove redundant label trim check in items validation
  packages/mg-components/src/components/molecules/mg-breadcrumb/mg-breadcrumb.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-breadcrumb): remove unnecessary aria-current attribute
  packages/mg-components/src/components/molecules/mg-breadcrumb/mg-breadcrumb.tsx
  packages/mg-components/src/components/molecules/mg-breadcrumb/tests/__snapshots__/mg-breadcrumb.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-breadcrumb/tests/mg-breadcrumb.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-icon): use config iconList in tests to fix empty describe.each
  packages/mg-components/src/components/atoms/mg-icon/mg-icon.conf.ts
  packages/mg-components/src/components/atoms/mg-icon/tests/mg-icon.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @types/lodash to v4.17.24
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency @vitejs/plugin-vue-jsx to v5.1.5
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency svgo to v4.0.1
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

chore(deps): update dependency vue-tsc to v3.2.6
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency axios to v1.13.6
  packages/img/package.json
  pnpm-lock.yaml
  tools/release-bot/package.json
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

fix(deps): update dependency eslint-plugin-tsdoc to v0.5.2
  configs/eslint-config-custom/package.json
  packages/eslint-config-vue3/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency sanitize-html to v2.17.2
  packages/sanitize-html/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e:notification-center, notification-center:artifact, sanitize-html:artifact

fix(deps): update turbo monorepo to v2.8.19
  configs/eslint-config-custom/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @changesets/cli to v2.30.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @vue/tsconfig to v0.9.0
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update pnpm to v10.32.1
  package.json
Due: none

chore(deps): update storybook monorepo to v10.3.0
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency eslint-plugin-vuejs-accessibility to v2.5.0
  packages/eslint-config-vue3/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency jodit to v4.11.14
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update pnpm/action-setup action to v5
  .github/workflows/github-pages.yml
Due: none

feat(mg-illustrated-message): set inline-size in addition to block-size for size prop
  packages/styles/scss/components/mg-illustrated-message.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

chore(deps): update dependency @vitejs/plugin-vue to v6.0.5
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  test:doc: any of: packages/helpers/**/*, packages/mg-components-helpers/**/*, packages/stencil-helpers/**/*
  playwright:baseimage: any of: packages/mg-components/**/*, packages/notification-center/**/*, packages/styles/**/*, packages/img/**/*, packages/helpers/**/*, packages/linting-stencil/**/*, apps/notification-center/**/*, packages/sanitize-html/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  linting-angularjs:artifact: any of: packages/linting-angularjs/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*, packages/helpers/**/*
  playwright-helpers:artifact: any of: packages/helpers/**/*, packages/playwright-helpers/**/*
  helpers:artifact: any of: packages/helpers/**/*
  stencil-helpers:artifact: any of: packages/helpers/**/*, packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*
