Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

Path conditions:
  playwright:baseimage: any of: packages/mg-components/**/*, packages/styles/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/notification-center/**/*, apps/notification-center/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*
  playwright-helpers:artifact: any of: packages/playwright-helpers/**/*
  stencil-helpers:artifact: any of: packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*

fix(deps): update dependency @babel/eslint-parser to v7.27.5
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency eslint-config-turbo to v2.5.4
  configs/eslint-config-custom/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency eslint-plugin-prettier to v5.4.1
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update vitest monorepo to v3.2.1
  apps/vue-3/package.json
  configs/vitest-config/package.json
  packages/eslint-plugin-vue/package.json
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, playwright-helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

fix(deps): update dependency stylelint to v16.20.0
  package.json
  packages/linting-styles/package.json
  pnpm-lock.yaml
Due: linting-styles:artifact

fix(eslint-plugin-vue): manage variables in naming-convention rule
  .changeset/gentle-animals-act.md
  packages/eslint-plugin-vue/lib/utils/attributes.utils.js
  packages/eslint-plugin-vue/package.json
  packages/eslint-plugin-vue/tests/lib/rules/naming-convention.js
  packages/eslint-plugin-vue/tests/units/index.spec.mjs
Due: none

chore(deps): update dependency chromatic to v12.1.0
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(eslint-plugin-vue): manage more expression in vue directives
  packages/eslint-plugin-vue/lib/utils/attributes.utils.js
  packages/eslint-plugin-vue/tests/lib/rules/naming-convention.js
Due: none

chore: add changeset
  .changeset/tangy-colts-cough.md
Due: none

test(eslint-plugin-vue): update tests
  packages/eslint-plugin-vue/lib/utils/attributes.utils.js
Due: none

fix(mgInputCombobox): unwanted scroll on focus or blur
  .changeset/rare-carrots-lose.md
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-down-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-down-8-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-up-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-reset-input-value-with-keyboard-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-reset-input-value-with-keyboard-6-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-update-value-with-keyboard-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-update-value-with-keyboard-6-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-update-value-with-keyboard-8-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Mouse-Should-navigate-throw-input-with-mouse-4-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
  packages/mg-components/src/components/molecules/mg-form/docs/mg-form.stories.tsx
  packages/styles/scss/components/mg-input-combobox.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(mgInputCombobox): call scrollIntoViewOnly when popover is display
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @types/node to v22.15.30
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency eslint-import-resolver-typescript to v4.4.3
  packages/eslint-config-vue3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update vitest monorepo to v3.2.2
  apps/vue-3/package.json
  configs/vitest-config/package.json
  packages/eslint-plugin-vue/package.json
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, playwright-helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

fix(mgInputCombobox): ensure popover element is opened on screen to scroll
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
  packages/mg-components/src/components/molecules/mg-form/docs/mg-form.stories.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

Apply 1 suggestion(s) to 1 file(s)
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update vitest monorepo to v3.2.3
  apps/vue-3/package.json
  configs/vitest-config/package.json
  packages/eslint-plugin-vue/package.json
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, playwright-helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update dependency chromatic to v12.2.0
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency rollup to v4.42.0
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

fix(mgInputCombobox): update scrollIntoView call with the nearest position
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-down-4-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-down-5-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-down-6-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-down-7-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-down-8-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-up-4-chromium.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mgForm): mg-button type=reset + mg-form
  .changeset/gold-states-heal.md
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/mg-form/docs/mg-form.stories.tsx
  packages/mg-components/src/components/molecules/mg-form/mg-form.tsx
  packages/mg-components/src/components/molecules/mg-form/readme.md
  packages/mg-components/src/components/molecules/mg-form/tests/mg-form.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mgForm): update storie
  packages/mg-components/src/components/molecules/mg-form/docs/mg-form.stories.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency sass to v1.89.2
  apps/angularjs/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency mocha to v11.6.0
  packages/eslint-plugin-html/package.json
  packages/eslint-plugin-vue/package.json
  pnpm-lock.yaml
Due: none

feat(mg-input-**): add setFocus() on all inputs
  .changeset/evil-peas-sin.md
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/mg-input-checkbox.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/mg-input-date.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/mg-input-numeric.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-password/mg-input-password.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-password/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-password/tests/mg-input-password.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/mg-input-radio.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/mg-input-radio.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/mg-input-select.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/mg-input-select.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/mg-input-text.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/mg-input-text.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/mg-input-textarea.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/mg-input-textarea.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/mg-input-toggle.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/mg-input-toggle.spec.tsx
  packages/mg-components/src/components/molecules/mg-form/docs/mg-form.stories.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mgForm): reset() method emit updated `form-valid` event
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/mg-input-checkbox.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__snapshots__/mg-input-date.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/mg-input-date.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/mg-input-numeric.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-password/mg-input-password.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-password/tests/mg-input-password.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/mg-input-radio.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/mg-input-radio.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/mg-input-select.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/mg-input-select.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/mg-input-text.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/mg-input-text.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/mg-input-textarea.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/mg-input-textarea.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/mg-input-toggle.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/mg-input-toggle.spec.tsx
  packages/mg-components/src/components/molecules/mg-form/docs/mg-form.stories.tsx
  packages/mg-components/src/components/molecules/mg-form/mg-form.tsx
  packages/mg-components/src/components/molecules/mg-form/tests/mg-form.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-**): update setFocus() method documentation
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/mg-input-checkbox.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/mg-input-date.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/mg-input-numeric.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-password/mg-input-password.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-password/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-password/tests/mg-input-password.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/mg-input-radio.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/mg-input-radio.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/mg-input-select.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/mg-input-select.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/mg-input-text.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/mg-input-text.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/mg-input-textarea.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/mg-input-textarea.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/mg-input-toggle.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/mg-input-toggle.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mgForm): update story
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
  packages/mg-components/src/components/molecules/mg-form/docs/mg-form.stories.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-toggle): update reference test
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/mg-input-toggle.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mgForm): remove fast return in reset() method
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-password/mg-input-password.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/mg-input-radio.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/mg-input-select.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/mg-input-text.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/mg-input-textarea.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/mg-input-toggle.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @types/node to v22.15.31
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

fix(deps): update dependency eslint-plugin-jsdoc to v50.8.0
  configs/eslint-config-custom/package.json
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency vue3-snapshot-serializer to v2.12.0
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency rollup to v4.43.0
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update dependency ts-jest to v29.4.0
  packages/notification-center/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e:notification-center, notification-center:artifact

chore: init next release
  .changeset/wet-bars-shake.md
  package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  packages/mg-components/.storybook/main.ts
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/styles/package.json
  pnpm-lock.yaml
  tools/release-bot/package.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact

chore: update snapshots
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-small-direction-horizontal-2-chromium.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact
