Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

playwright:baseimage:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  script:
  - export PLAYWRIGHT_BASEIMAGE=$(./scripts/get-playwright-version.sh)
  - echo "PLAYWRIGHT_BASEIMAGE=$PLAYWRIGHT_BASEIMAGE"  > playwright-baseimage.env
  artifacts:
    reports:
      dotenv: playwright-baseimage.env

test:e2e:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  parallel: 7
  script:
  - pnpm test:e2e --filter='./packages/*' --filter=\!@mgdis/notification-center -- --shard=$CI_NODE_INDEX/$CI_NODE_TOTAL
  artifacts:
    when: always
  ...

test:e2e:notification-center:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  script:
  - pnpm test:e2e --filter=@mgdis/notification-center
  retry: 2
  artifacts:
    when: always
    paths:
    - packages/notification-center/playwright-report/
  ...

mg-components:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - - .artifact
    - script
  needs:
  - lint

storybook-mr:
  before_script:
  - corepack enable
  - pnpm i
  script:
  - mkdir -p public/storybook
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - pnpm storybook:build
  - mv storybook-static/* ../../public/storybook
  stage: mg-components
  artifacts:
    paths:
    - public
  environment:
  ...

notification-center:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - pnpm build --filter=@mgdis/notification-center
  - cd packages/notification-center
  - - .artifact
    - script
  needs:
  - lint

linting-stencil:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-stencil
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

img:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .img:build
    - script
  - - .artifact
    - script
  needs:
  - lint

styles:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .styles:build
    - script
  - - .artifact
    - script
  needs:
  - lint

playwright-helpers:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/playwright-helpers
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

stencil-helpers:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .stencil-helpers
    - script
  - - .artifact
    - script
  needs:
  - lint

linting-styles:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-styles
  - - .artifact
    - script
  needs:
  - lint

chore(deps): update dependency rollup to v4.34.9
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update dependency vue-tsc to v2.2.8
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @stencil/sass to v3.1.7
  apps/stencil/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency stylelint to v16.15.0
  package.json
  packages/linting-styles/package.json
  pnpm-lock.yaml
Due: linting-styles:artifact

chore(deps): update dependency vite-plugin-dts to v4.5.3
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

fix(deps): update dependency prettier to v3.5.3
  package.json
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @stencil/sass to v3.1.8
  apps/stencil/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update pnpm to v9.15.6
  package.json
Due: none

chore(deps): update dependency chromatic to v11.27.0
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(mg-components): update sort button style
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-10-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-2-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-3-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-4-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-5-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-6-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-7-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-8-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-9-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-table-with-links-in-table-based-on-app-color-BADA55-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-table-with-links-in-table-based-on-app-color-undefined-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columns-3-datatype-numeric-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.e2e.ts
  packages/styles/scss/base/_custom-properties.scss
  packages/styles/scss/base/_typography.scss
  packages/styles/scss/components/mg-table.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(mg-components): update stories
  packages/mg-components/src/components/molecules/mg-table/docs/mg-table.stories.tsx
  packages/mg-components/src/components/molecules/mg-table/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(mg-components): Extract nested ternary
  packages/mg-components/src/components/molecules/mg-table/mg-table.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(mg-components): ensure react-dom deps align react version
  pnpm-lock.yaml
Due: none

chore: downgrade to pnpm@9.15.4
  package.json
Due: none

chore(mg-components): update package.json
  packages/mg-components/package.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: set PW max failure
  packages/playwright-helpers/src/config/index.ts
Due: playwright-helpers:artifact

chore: run mg-components jobs on deps change
  .gitlab-ci.yml
Due: none

chore: run e2e jobs on deps change
  .gitlab-ci.yml
Due: none

chore: import icons and illustrations
  .changeset/quiet-bags-knock.md
  .changeset/smooth-terms-count.md
  packages/img/src/icons/arrow-down.svg
  packages/img/src/icons/arrow-left.svg
  packages/img/src/icons/arrow-right.svg
  packages/img/src/icons/arrow-up.svg
  packages/img/src/icons/arrows-up-down.svg
  packages/img/src/icons/floppy-disk-checked-outline.svg
  packages/img/src/icons/floppy-disk-checked.svg
  packages/img/src/icons/user-group-outline.svg
  packages/img/src/icons/user-group.svg
  packages/img/src/illustrations/aides.svg
  packages/img/src/illustrations/all-done.svg
  packages/img/src/illustrations/conviviale.svg
  packages/img/src/illustrations/digital-forms.svg
  packages/img/src/illustrations/digital-security.svg
  packages/img/src/illustrations/echanges.svg
  packages/img/src/illustrations/missing-informations.svg
  packages/img/src/illustrations/neutral.svg
  packages/img/src/illustrations/no-result.svg
  packages/img/src/illustrations/request-sent.svg
  packages/img/src/illustrations/secure-data.svg
  packages/img/src/illustrations/stage.svg
  packages/img/src/illustrations/welcome.svg
  packages/mg-components/src/components/atoms/mg-icon/readme.md
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-arrow-down-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-arrow-left-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-arrow-right-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-arrow-up-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-arrows-up-down-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-floppy-disk-checked-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-floppy-disk-checked-outline-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-user-group-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-user-group-outline-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__snapshots__/mg-icon.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-text/readme.md
  packages/mg-components/src/components/molecules/mg-action-more/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact

chore: add changeset
  .changeset/ten-crabs-look.md
Due: none

chore: update snapshots
  packages/mg-components/src/components/atoms/mg-icon/tests/__snapshots__/mg-icon.spec.tsx.snap
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: add storybook tag badges
  packages/mg-components/.storybook/main.ts
  packages/mg-components/package.json
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/docs/mg-input-rich-text-editor.stories.tsx
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: Set Chromatic version
  packages/mg-components/.storybook/main.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: update gitlab templates
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/feature.md
Due: none

chore(release): 2025-03-05-15-23_Light-Lavender-Llama
  .changeset/long-taxis-lose.md
  .changeset/lovely-teachers-repeat.md
  .changeset/quiet-bags-knock.md
  .changeset/smooth-terms-count.md
  .changeset/ten-crabs-look.md
  CHANGELOG.md
  apps/angularjs/CHANGELOG.md
  apps/angularjs/package.json
  apps/notification-center/CHANGELOG.md
  apps/notification-center/package.json
  apps/stencil/CHANGELOG.md
  apps/stencil/package.json
  apps/vanilla/CHANGELOG.md
  apps/vanilla/package.json
  apps/vue-2/CHANGELOG.md
  apps/vue-2/package.json
  apps/vue-3/CHANGELOG.md
  apps/vue-3/package.json
  packages/img/CHANGELOG.md
  packages/img/package.json
  packages/mg-components/CHANGELOG.md
  packages/mg-components/package.json
  packages/playwright-helpers/CHANGELOG.md
  packages/playwright-helpers/package.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact

chore: update link
  packages/mg-components/README.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency typescript to v5.8.2
  apps/notification-center/package.json
  apps/vue-3/package.json
  packages/img/package.json
  packages/linting-stencil/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, playwright-helpers:artifact, sanitize-html:artifact

fix(mg-input-date): remove useless waitForChange in unit test
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/mg-input-date.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-numeric): extract nested ternary operation into an independent statement
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-date-numeric): add changeset
  .changeset/afraid-insects-thank.md
Due: none

fix(mg-input-date-numeric): refactor getInputError method with fast returns
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-numeric): refactor formatHelpText method with fast returns
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-date): use constant to set default max date
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.conf.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-date-numeric): refactor rangeMessage variable
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-date): update display conditions in formatHelpText method
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-numeric): update display conditions in formatHelpText method
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

Path conditions:
  playwright:baseimage: any of: packages/mg-components/**/*, packages/styles/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/notification-center/**/*, apps/notification-center/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*
  playwright-helpers:artifact: any of: packages/playwright-helpers/**/*
  stencil-helpers:artifact: any of: packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*
