Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-angularjs:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

test:doc:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: tests
  script:
  - pnpm build:packages
  - pnpm doc

playwright:baseimage:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: tests
  script:
  - export PLAYWRIGHT_BASEIMAGE=$(./scripts/get-playwright-version.sh)
  - echo "PLAYWRIGHT_BASEIMAGE=$PLAYWRIGHT_BASEIMAGE"  > playwright-baseimage.env
  artifacts:
    reports:
      dotenv: playwright-baseimage.env

test:e2e:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  parallel: 7
  script:
  - pnpm test:e2e --filter='./packages/*' --filter=\!@mgdis/notification-center -- --shard=$CI_NODE_INDEX/$CI_NODE_TOTAL
  ...

test:e2e:notification-center:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  script:
  - pnpm test:e2e --filter=@mgdis/notification-center
  retry: 2
  artifacts:
    when: always
    paths:
  ...

mg-components:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - - .artifact
    - script
  needs:
  - lint

storybook-mr:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  script:
  - mkdir -p public/storybook
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - pnpm storybook:build
  - mv storybook-static/* ../../public/storybook
  stage: mg-components
  artifacts:
    paths:
    - public
  ...

notification-center:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - pnpm build --filter=@mgdis/notification-center
  - cd packages/notification-center
  - - .artifact
    - script
  needs:
  - lint

linting-angularjs:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-angularjs
  - - .artifact
    - script
  needs:
  - lint

linting-stencil:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-stencil
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

img:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - - .img:build
    - script
  - - .artifact
    - script
  needs:
  - lint

styles:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - - .styles:build
    - script
  - - .artifact
    - script
  needs:
  - lint

chore: add changeset
  .changeset/violet-shirts-dream.md
Due: none

fix(deps): update dependency vue to v3.5.35
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency rollup to v4.61.1
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

fix(release): fail MR creation job instead of passing silently
  scripts/open-merge-request.sh
Due: none

docs(release): document release pipeline token troubleshooting
  GETTING-STARTED.md
Due: none

chore(deps): update dependency @types/node to v24.13.0
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency sass to v1.100.0
  apps/angularjs/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update pnpm to v11
  package.json
Due: none

chore(deps): configure pnpm v11 install policies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(mg-illustrated-message): keep horizontal layout from collapsing in shrink-to-fit parents
  .changeset/illustrated-message-horizontal-shrink-to-fit.md
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/mg-illustrated-message.e2e.ts
  packages/styles/scss/components/mg-illustrated-message.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(mg-illustrated-message): keep img illustration visible in horizontal on firefox
  .changeset/illustrated-message-horizontal-shrink-to-fit.md
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/mg-illustrated-message.firefox.e2e.ts
  packages/styles/scss/components/mg-illustrated-message.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(mg-input): render error message and help text in <p> instead of <div>
  .changeset/mg-input-error-help-text-paragraph.md
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__snapshots__/mg-input-checkbox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__snapshots__/mg-input-date.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__snapshots__/mg-input-file.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__snapshots__/mg-input-numeric.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-password/tests/__snapshots__/mg-input-password.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/__snapshots__/mg-input-radio.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__snapshots__/mg-input-rich-text-editor.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__snapshots__/mg-input-select.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__snapshots__/mg-input-text.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__snapshots__/mg-input-textarea.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__snapshots__/mg-input-toggle.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input/mg-input.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input/tests/__snapshots__/mg-input.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-fieldset/tests/__snapshots__/mg-fieldset.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-form/tests/__snapshots__/mg-form.spec.tsx.snap
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input): reset slotted margin so <p> error/help-text keeps <div> spacing
  .changeset/mg-input-error-help-text-paragraph.md
  packages/styles/scss/components/mg-input.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

chore(deps): update storybook monorepo to v10.4.5
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency jodit to v4.12.25
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-popover): keep popover open on clicks inside a nested shadow DOM
  .changeset/popover-composed-path-shadow-dom.md
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.e2e.ts
  packages/mg-components/src/components/molecules/mg-popover/mg-popover.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-combobox): resolve relative fetchurl pagination link
  .changeset/mg-input-combobox-fetchurl-pagination-404.md
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

refactor(mg-popover): narrow composedPath node via instanceof instead of cast
  packages/mg-components/src/components/molecules/mg-popover/mg-popover.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update vitest monorepo to v4.1.9
  apps/vue-3/package.json
  configs/vitest-config/package.json
  packages/eslint-plugin-vue/package.json
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update dependency chromatic to v17.4.1
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(storybook): add chromatic url for v6.23.0
  packages/mg-components/.storybook/main.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependencies
  .changeset/dependency-updates.md
  apps/angularjs/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  configs/eslint-config-custom/package.json
  package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/linting-angularjs/package.json
  packages/linting-stencil/package.json
  packages/linting-vue2/package.json
  packages/mg-components-helpers/package.json
  packages/mg-components/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
  tools/release-bot/package.json
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-angularjs:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

fix(release): run open-merge-request script with bash
  .gitlab-ci.yml
Due: none

fix(mg-input): pick <p>/<div> for error & help text based on content
  .changeset/mg-input-error-help-text-paragraph.md
  packages/mg-components/src/components/molecules/inputs/mg-input/mg-input.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input/tests/mg-input.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update storybook monorepo to v10.4.6
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency jodit to v4.12.27
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update pnpm to v11.8.0
  package.json
Due: none

fix(img): keep brand colour as fallback for illustration dynamic colors
  .changeset/illustration-color-app-currentcolor-fallback.md
  packages/img/src/illustrations/aides.svg
  packages/img/src/illustrations/all-done.svg
  packages/img/src/illustrations/convention-empty.svg
  packages/img/src/illustrations/conviviale.svg
  packages/img/src/illustrations/digital-forms.svg
  packages/img/src/illustrations/digital-security.svg
  packages/img/src/illustrations/disconnected.svg
  packages/img/src/illustrations/documents.svg
  packages/img/src/illustrations/echanges.svg
  packages/img/src/illustrations/neutral.svg
  packages/img/src/illustrations/no-data.svg
  packages/img/src/illustrations/no-result.svg
  packages/img/src/illustrations/request-sent.svg
  packages/img/src/illustrations/search-no-result.svg
  packages/img/src/illustrations/secure-data.svg
  packages/img/src/illustrations/stage.svg
  packages/img/src/illustrations/welcome.svg
  packages/img/src/tools/import-figma.ts
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-the-dynamic-color-illustration-loaded-as-an-img-in-the-slot-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/mg-illustrated-message.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact

Path conditions:
  test:doc: any of: packages/helpers/**/*, packages/mg-components-helpers/**/*, packages/stencil-helpers/**/*
  playwright:baseimage: any of: packages/mg-components/**/*, packages/notification-center/**/*, packages/styles/**/*, packages/img/**/*, packages/helpers/**/*, packages/linting-stencil/**/*, apps/notification-center/**/*, packages/sanitize-html/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  linting-angularjs:artifact: any of: packages/linting-angularjs/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*, packages/helpers/**/*
  playwright-helpers:artifact: any of: packages/helpers/**/*, packages/playwright-helpers/**/*
  helpers:artifact: any of: packages/helpers/**/*
  stencil-helpers:artifact: any of: packages/helpers/**/*, packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*
