Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

Path conditions:
  playwright:baseimage: any of: packages/mg-components/**/*, packages/styles/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/notification-center/**/*, apps/notification-center/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*
  playwright-helpers:artifact: any of: packages/playwright-helpers/**/*
  stencil-helpers:artifact: any of: packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*

chore: update mg-details image snapshots
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-1-chromium.png
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-2-chromium.png
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-hide-summary-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-hide-summary-true-2-chromium.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update pnpm to v9.14.4
  package.json
Due: none

chore(deps): update storybook monorepo to v8.4.6
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @vue/tsconfig to v0.7.0
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency chromatic to v11.19.0
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency typedoc-plugin-markdown to v4.3.1
  configs/typedoc-config/package.json
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore(deps): update vitest monorepo to v2.1.8
  apps/vue-3/package.json
  configs/vitest-config/package.json
  packages/eslint-plugin-vue/package.json
  packages/mg-components-helpers/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, playwright-helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update dependency rollup to v4.28.0
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update dependency dotenv to v16.4.7
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

chore(deps): update dependency sass to v1.81.1
  apps/angularjs/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(mg-input-text): update calculation for character left message length
  packages/mg-components/src/components/molecules/inputs/mg-input-text/mg-input-text.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: check deps
  configs/eslint-config-custom/package.json
  configs/eslint-config-custom/src/index.js
  configs/eslint-config-stencil/package.json
  configs/jest-config/package.json
  configs/typedoc-config/package.json
  packages/eslint-config-vue3/package.json
  packages/eslint-config-vue3/src/index.js
  packages/eslint-plugin-vue/package.json
  packages/img/tsconfig.json
  packages/linting-vue2/.eslintrc.js
  packages/linting-vue2/package.json
  packages/mg-components-helpers/package.json
  packages/mg-components/.eslintrc.js
  packages/mg-components/.storybook/main.ts
  packages/mg-components/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, stencil-helpers:artifact

fix(mg-input-text): update calc for the occupied size of the characters left to be more accurate
  packages/styles/scss/components/_mg-input-width.scss
  packages/styles/scss/components/mg-input-text.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(mg-input-text): update screenshots according to updated styles
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-Should-display-datalist-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-Should-render-error-when-leaving-1de5f-th-a-non-matching-pattern-value-mg-width-16-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-Should-render-error-when-leaving-3f964-th-a-non-matching-pattern-value-mg-width-16-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-labelOnTop-false-with-mgWidth-16-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-labelOnTop-false-with-mgWidth-2-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-labelOnTop-false-with-mgWidth-4-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-labelOnTop-true-with-mgWidth-16-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-labelOnTop-true-with-mgWidth-2-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-labelOnTop-true-with-mgWidth-4-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-render-search-input-characterLeftHide-false-case-with-searchMode-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-render-search-input-characterLeftHide-false-case-without-searchMode-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-with-mgWidth-16-with-tooltip-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-with-mgWidth-2-with-tooltip-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-with-mgWidth-4-with-tooltip-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-without-tooltip-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-without-tooltip-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-without-tooltip-label-hide-true-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-without-tooltip-label-hide-true-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-without-tooltip-label-on-top-true-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-without-tooltip-label-on-top-true-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-without-tooltip-placeholder-placeholder-help-text-HelpText-Message-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__screenshots__/mg-input-text-without-tooltip-placeholder-placeholder-help-text-HelpText-Message-3-chromium.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-text): add changeset
  .changeset/grumpy-mangos-reply.md
Due: none

chore: ensure doc job works
  .gitlab-ci.yml
Due: none

chore: ensure job execute and crash
  .gitlab-ci.yml
Due: none

chore: should detect changes and won't crash
  .gitlab-ci.yml
  configs/typedoc-config/package.json
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

fix(deps): update dependency axios to v1.7.9
  packages/img/package.json
  pnpm-lock.yaml
  tools/release-bot/package.json
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

fix(deps): update dependency prettier to v3.4.2
  package.json
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency typedoc to v0.27.3
  configs/typedoc-config/package.json
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore: add changeset
  .changeset/curvy-penguins-promise.md
Due: none

chore(deps): update storybook monorepo to v8.4.7
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @types/node to v22.10.1
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency chromatic to v11.20.0
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency stylelint to v16.11.0
  package.json
  packages/linting-styles/package.json
  pnpm-lock.yaml
Due: linting-styles:artifact

chore(deps): update dependency vite to v6
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore: remove logos
  packages/mg-components/src/components/atoms/mg-icon/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-text/readme.md
  packages/mg-components/src/components/molecules/mg-action-more/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-comp): Add event on close action
  .changeset/fuzzy-books-boil.md
  .changeset/modern-moles-help.md
  packages/mg-components/src/components/molecules/mg-alert/doc/mg-alert.stories.tsx
  packages/mg-components/src/components/molecules/mg-alert/mg-alert.tsx
  packages/mg-components/src/components/molecules/mg-alert/tests/mg-alert.spec.tsx
  packages/mg-components/src/components/molecules/mg-modal/mg-modal.tsx
  packages/mg-components/src/components/molecules/mg-modal/tests/mg-modal.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-comp): Add event on close action on popover
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/mg-alert/readme.md
  packages/mg-components/src/components/molecules/mg-modal/readme.md
  packages/mg-components/src/components/molecules/mg-popover/mg-popover.tsx
  packages/mg-components/src/components/molecules/mg-popover/readme.md
  packages/mg-components/src/components/molecules/mg-popover/tests/mg-popover.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: Update changeset
  .changeset/modern-moles-help.md
Due: none

chore(deps): update dependency @storybook/theming to v8.4.7
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency rollup to v4.28.1
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update dependency eslint-import-resolver-typescript to v3.7.0
  packages/eslint-config-vue3/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency @html-eslint/parser to v0.30.0
  packages/eslint-plugin-html/package.json
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency eslint-plugin-vue to v9.32.0
  apps/vue-3/package.json
  packages/eslint-config-vue3/package.json
  packages/eslint-plugin-vue/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update pnpm to v9.15.0
  package.json
Due: none

chore(deps): update dependency mocha to v11
  packages/eslint-plugin-html/package.json
  packages/eslint-plugin-vue/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency typedoc-plugin-markdown to v4.3.2
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore(deps): update dependency sass to v1.82.0
  apps/angularjs/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact
