Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

playwright:baseimage:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  script:
  - export PLAYWRIGHT_BASEIMAGE=$(./scripts/get-playwright-version.sh)
  - echo "PLAYWRIGHT_BASEIMAGE=$PLAYWRIGHT_BASEIMAGE"  > playwright-baseimage.env
  artifacts:
    reports:
      dotenv: playwright-baseimage.env

test:e2e:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  parallel: 7
  script:
  - pnpm test:e2e --filter='./packages/*' --filter=\!@mgdis/notification-center -- --shard=$CI_NODE_INDEX/$CI_NODE_TOTAL
  artifacts:
    when: always
  ...

test:e2e:notification-center:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  script:
  - pnpm test:e2e --filter=@mgdis/notification-center
  retry: 2
  artifacts:
    when: always
    paths:
    - packages/notification-center/playwright-report/
  ...

mg-components:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - - .artifact
    - script
  needs:
  - lint

storybook-mr:
  before_script:
  - corepack enable
  - pnpm i
  script:
  - mkdir -p public/storybook
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - pnpm storybook:build
  - mv storybook-static/* ../../public/storybook
  stage: mg-components
  artifacts:
    paths:
    - public
  environment:
  ...

notification-center:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - pnpm build --filter=@mgdis/notification-center
  - cd packages/notification-center
  - - .artifact
    - script
  needs:
  - lint

linting-stencil:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-stencil
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

img:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .img:build
    - script
  - - .artifact
    - script
  needs:
  - lint

styles:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .styles:build
    - script
  - - .artifact
    - script
  needs:
  - lint

playwright-helpers:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/playwright-helpers
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

stencil-helpers:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .stencil-helpers
    - script
  - - .artifact
    - script
  needs:
  - lint

linting-styles:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-styles
  - - .artifact
    - script
  needs:
  - lint

chore(deps): update dependency @changesets/cli to v2.29.1
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @changesets/cli to v2.29.2
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency chromatic to v11.28.2
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency htmlfy to v0.7.2
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore: Update screenshots
  packages/styles/tests/__screenshots__/Base-1-firefox.png
  packages/styles/tests/__screenshots__/Layout-1-firefox.png
  packages/styles/tests/__screenshots__/Utils-1-chromium.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore: Update screenshots
  packages/styles/tests/__screenshots__/Base-1-chromium.png
  packages/styles/tests/__screenshots__/Base-1-firefox.png
  packages/styles/tests/__screenshots__/Layout-1-chromium.png
  packages/styles/tests/__screenshots__/Layout-1-firefox.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore: Set Chromatic version
  packages/mg-components/.storybook/main.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: Update dependencies
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  configs/vitest-config/package.json
  packages/eslint-plugin-vue/package.json
  packages/mg-components-helpers/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore: Add changeset
  .changeset/thin-cases-love.md
Due: none

chore(deps): update dependency eslint-import-resolver-typescript to v3.10.1
  packages/eslint-config-vue3/package.json
  pnpm-lock.yaml
Due: none

chore: Update package lock
  pnpm-lock.yaml
Due: none

chore(release): 2025-04-23-07-55_Curious-Copper-Chinchilla
  .changeset/green-mangos-smile.md
  .changeset/thin-cases-love.md
  CHANGELOG.md
  apps/angularjs/CHANGELOG.md
  apps/angularjs/package.json
  apps/notification-center/CHANGELOG.md
  apps/notification-center/package.json
  apps/stencil/CHANGELOG.md
  apps/stencil/package.json
  apps/vanilla/CHANGELOG.md
  apps/vanilla/package.json
  apps/vue-2/CHANGELOG.md
  apps/vue-2/package.json
  apps/vue-3/CHANGELOG.md
  apps/vue-3/package.json
  configs/vitest-config/CHANGELOG.md
  configs/vitest-config/package.json
  packages/eslint-config-vue3/CHANGELOG.md
  packages/eslint-config-vue3/package.json
  packages/eslint-plugin-vue/CHANGELOG.md
  packages/eslint-plugin-vue/package.json
  packages/linting-vue2/CHANGELOG.md
  packages/linting-vue2/package.json
  packages/mg-components-helpers/CHANGELOG.md
  packages/mg-components-helpers/package.json
  packages/mg-components/CHANGELOG.md
  packages/mg-components/package.json
  packages/notification-center/CHANGELOG.md
  packages/notification-center/package.json
  packages/playwright-helpers/CHANGELOG.md
  packages/playwright-helpers/package.json
  packages/sanitize-html/CHANGELOG.md
  packages/sanitize-html/package.json
  packages/stencil-helpers/CHANGELOG.md
  packages/stencil-helpers/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update dependency typedoc to v0.28.3
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore(deps): update dependency vue-tsc to v2.2.10
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency @html-eslint/parser to v0.39.0
  packages/eslint-plugin-html/package.json
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency eslint-import-resolver-typescript to v4
  packages/eslint-config-vue3/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency @html-eslint/eslint-plugin to v0.39.0
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

fix(mg-components): check validity on input change
  packages/mg-components/src/components/molecules/inputs/mg-input-select/mg-input-select.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency turbo to v2.5.1
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency typedoc-plugin-markdown to v4.6.3
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

fix(deps): update dependency @swc/jest to v0.2.38
  configs/jest-config/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency eslint-plugin-jsdoc to v50.6.10
  configs/eslint-config-custom/package.json
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: none

fix(mg-input-combobox): fetch optimizations - url, errors, debounce, datas
  .changeset/eager-foxes-return.md
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.conf.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency stylelint to v16.19.1
  package.json
  packages/linting-styles/package.json
  pnpm-lock.yaml
Due: linting-styles:artifact

fix(deps): update dependency eslint-config-turbo to v2.5.2
  configs/eslint-config-custom/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency turbo to v2.5.2
  package.json
  pnpm-lock.yaml
Due: none

fix(mg-components): check validity on value change
  packages/mg-components/src/components/molecules/inputs/mg-input-select/mg-input-select.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

Apply 1 suggestion(s) to 1 file(s)
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

test(mg-components): update tests
  packages/mg-components/src/components/molecules/inputs/mg-input-select/mg-input-select.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__snapshots__/mg-input-select.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/mg-input-select.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: add changeset
  .changeset/fresh-turtles-sniff.md
Due: none

feat: add toKebabCase utility method
  .changeset/plain-crabs-listen.md
  packages/mg-components-helpers/rollup.config.mjs
  packages/mg-components-helpers/src/utils/index.ts
  packages/mg-components-helpers/src/utils/to-kebab-case/index.ts
  packages/mg-components-helpers/src/utils/to-kebab-case/to-kebab-case.spec.ts
  packages/mg-components-helpers/src/utils/to-kebab-case/to-kebab-case.ts
  packages/mg-components-helpers/typedoc.json
Due: none

fix(mg-input-combobox): set itemValue optional in fetchmappings response
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.conf.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(sonar): Group parts of the regex together to make the intended operator precedence explicit.
  packages/mg-components-helpers/src/utils/to-kebab-case/to-kebab-case.ts
Due: none

chore(deps): update dependency rollup to v4.40.1
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

fix(deps): update dependency eslint-plugin-jsdoc to v50.6.11
  configs/eslint-config-custom/package.json
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  playwright:baseimage: any of: packages/mg-components/**/*, packages/styles/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/notification-center/**/*, apps/notification-center/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*
  playwright-helpers:artifact: any of: packages/playwright-helpers/**/*
  stencil-helpers:artifact: any of: packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*
