Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-angularjs:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

test:doc:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: tests
  script:
  - pnpm build:packages
  - pnpm doc

playwright:baseimage:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: tests
  script:
  - export PLAYWRIGHT_BASEIMAGE=$(./scripts/get-playwright-version.sh)
  - echo "PLAYWRIGHT_BASEIMAGE=$PLAYWRIGHT_BASEIMAGE"  > playwright-baseimage.env
  artifacts:
    reports:
      dotenv: playwright-baseimage.env

test:e2e:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  parallel: 7
  script:
  - pnpm test:e2e --filter='./packages/*' --filter=\!@mgdis/notification-center -- --shard=$CI_NODE_INDEX/$CI_NODE_TOTAL
  ...

test:e2e:notification-center:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  script:
  - pnpm test:e2e --filter=@mgdis/notification-center
  retry: 2
  artifacts:
    when: always
    paths:
  ...

mg-components:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - - .artifact
    - script
  needs:
  - lint

storybook-mr:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  script:
  - mkdir -p public/storybook
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - pnpm storybook:build
  - mv storybook-static/* ../../public/storybook
  stage: mg-components
  artifacts:
    paths:
    - public
  ...

notification-center:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - pnpm build --filter=@mgdis/notification-center
  - cd packages/notification-center
  - - .artifact
    - script
  needs:
  - lint

linting-angularjs:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-angularjs
  - - .artifact
    - script
  needs:
  - lint

linting-stencil:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-stencil
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

img:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - - .img:build
    - script
  - - .artifact
    - script
  needs:
  - lint

styles:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - - .styles:build
    - script
  - - .artifact
    - script
  needs:
  - lint

feat(mg-input-toggle): update slots control
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/mg-input-toggle.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/mg-input-toggle.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-**): update reset method
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-password/mg-input-password.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/mg-input-radio.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/mg-input-select.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/mg-input-text.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/mg-input-textarea.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-**): update setValidity method
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/mg-input-checkbox.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/mg-input-date.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/mg-input-numeric.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-password/mg-input-password.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-password/tests/__screenshots__/mg-input-password-Should-reset-value-and-error-when-calling-reset-method-lock-false-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-password/tests/__screenshots__/mg-input-password-Should-reset-value-and-error-when-calling-reset-method-lock-false-4-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-password/tests/__screenshots__/mg-input-password-Should-reset-value-and-error-when-calling-reset-method-lock-true-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-password/tests/__screenshots__/mg-input-password-Should-reset-value-and-error-when-calling-reset-method-lock-true-4-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-password/tests/mg-input-password.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-password/tests/mg-input-password.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/mg-input-radio.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/mg-input-radio.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/mg-input-select.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/mg-input-select.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/mg-input-text.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/mg-input-text.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/mg-input-textarea.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/mg-input-textarea.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-panel): add usage examples in readme
  packages/mg-components/src/components/molecules/mg-panel/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-panel): add panel-title slot for complex contents
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/mg-panel/mg-panel.tsx
  packages/mg-components/src/components/molecules/mg-panel/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-panel): update stories with added panel-title slot
  packages/mg-components/src/components/molecules/mg-panel/docs/mg-panel.stories.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-panel): add e2e tests for the panel-title slot
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-021a8--very-long-panel-title-very-long-panel-title-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-2571a--color-red-span-div-div-Content-div-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-64729--color-red-span-div-div-Content-div-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-70ac7--very-long-panel-title-very-long-panel-title-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-79cd3--color-red-span-div-div-Content-div-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-8c798-icon-mg-button-div-div-Content-div-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-a4cd5-icon-mg-button-div-div-Content-div-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-e1f33--color-red-span-div-div-Content-div-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/mg-panel.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-panel): add changeset
  .changeset/yellow-maps-search.md
Due: none

feat(mg-panel): add unit tests for the panel-title slot
  packages/mg-components/src/components/molecules/mg-panel/tests/__snapshots__/mg-panel.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-panel/tests/mg-panel.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-panel): behavior adjustment when configurations are incompatible
  packages/mg-components/src/components/molecules/mg-panel/mg-panel.tsx
  packages/mg-components/src/components/molecules/mg-panel/tests/__snapshots__/mg-panel.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-panel/tests/mg-panel.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-panel): update e2e tests and screenshots
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-021a8--very-long-panel-title-very-long-panel-title-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-092f7-icon-mg-button-div-div-Content-div-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-19881--very-long-panel-title-very-long-panel-title-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-4be67-icon-mg-button-div-div-Content-div-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-641b4-icon-mg-button-div-div-Content-div-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-70ac7--very-long-panel-title-very-long-panel-title-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-79cd3--color-red-span-div-div-Content-div-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-7c063-icon-mg-button-div-div-Content-div-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-83c68--very-long-panel-title-very-long-panel-title-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-8c798-icon-mg-button-div-div-Content-div-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-a4cd5-icon-mg-button-div-div-Content-div-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-di-e1f33--color-red-span-div-div-Content-div-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-slot-mg-message-message-mg-message-2-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-navigation-Should-navigate-throw-edit-aa7a6--very-long-panel-title-very-long-panel-title-3-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/mg-panel.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-panel): apply suggestion to use validation helper
  packages/mg-components/src/components/molecules/mg-panel/mg-panel.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-panel): apply suggestion to emit titleChange only for valid panelTitle values
  packages/mg-components/src/components/molecules/mg-panel/mg-panel.tsx
  packages/mg-components/src/components/molecules/mg-panel/tests/mg-panel.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @rollup/plugin-commonjs to v28.0.9
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency lint-staged to v16.2.6
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency storybook-addon-tag-badges to v2.0.4
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency @babel/eslint-parser to v7.28.5
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: linting-angularjs:artifact

chore(deps): update dependency @rollup/plugin-typescript to v12.3.0
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore: Set Chromatic version
  packages/mg-components/.storybook/main.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: Update dependencies
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/stencil/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
  tools/release-bot/package.json
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore: Add changeset
  .changeset/public-queens-smash.md
Due: none

chore(release): 2025-10-28-13-58_Strange-Silver-Stork
  .changeset/brown-pans-appear.md
  .changeset/great-bugs-go.md
  .changeset/late-rooms-open.md
  .changeset/public-queens-smash.md
  .changeset/ripe-knives-cough.md
  .changeset/stale-rice-stop.md
  .changeset/thirty-friends-care.md
  .changeset/yellow-maps-search.md
  CHANGELOG.md
  apps/angularjs/CHANGELOG.md
  apps/angularjs/package.json
  apps/notification-center/CHANGELOG.md
  apps/notification-center/package.json
  apps/stencil/CHANGELOG.md
  apps/stencil/package.json
  apps/vanilla/CHANGELOG.md
  apps/vanilla/package.json
  apps/vue-2/CHANGELOG.md
  apps/vue-2/package.json
  apps/vue-3/CHANGELOG.md
  apps/vue-3/package.json
  packages/img/CHANGELOG.md
  packages/img/package.json
  packages/linting-angularjs/CHANGELOG.md
  packages/linting-angularjs/package.json
  packages/mg-components/CHANGELOG.md
  packages/mg-components/package.json
  packages/notification-center/CHANGELOG.md
  packages/notification-center/package.json
  packages/sanitize-html/CHANGELOG.md
  packages/sanitize-html/package.json
  packages/stencil-helpers/CHANGELOG.md
  packages/stencil-helpers/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  tools/release-bot/CHANGELOG.md
  tools/release-bot/package.json
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-angularjs:artifact, img:artifact, styles:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update storybook monorepo to v9.1.16
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency axios to v1.13.1
  packages/img/package.json
  pnpm-lock.yaml
  tools/release-bot/package.json
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

chore(deps): update dependency @types/node to v22.18.13
  .changeset/renovate-0d13d145.md
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore: Update renovate changeset message
  .changeset/renovate-0d13d145.md
Due: none

fix: prevent errors when variables are using underscores
  .changeset/bumpy-teams-pull.md
  packages/eslint-plugin-vue/lib/utils/attributes.utils.js
  packages/eslint-plugin-vue/tests/lib/rules/naming-convention.js
Due: none

fix(mg-input-combobox): select option is case insensitive
  .changeset/odd-moments-repeat.md
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/docs/mg-input-combobox.stories.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
  packages/mg-components/src/components/molecules/mg-form/tests/__snapshots__/mg-form.spec.tsx.snap
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-combobox): add snapshot
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mgComponents): update border-radius default variables
  packages/mg-components/src/components/molecules/mg-action-more/tests/__screenshots__/mg-action-more-navigation-Should-toggle-button-chevron-menu-2-chromium.png
  packages/mg-components/src/components/molecules/mg-action-more/tests/__screenshots__/mg-action-more-navigation-Should-toggle-button-menu-case-keyboard-3-chromium.png
  packages/mg-components/src/components/molecules/mg-action-more/tests/__screenshots__/mg-action-more-navigation-Should-toggle-button-menu-case-keyboard-4-chromium.png
  packages/mg-components/src/components/molecules/mg-action-more/tests/__screenshots__/mg-action-more-navigation-Should-toggle-button-menu-case-mouse-2-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/readme.md
  packages/mg-components/src/components/molecules/mg-panel/readme.md
  packages/mg-components/src/components/molecules/mg-popover/readme.md
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-Should-render-with-title-and-close-button-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-Should-render-with-title-h2-slot--2d424-s-long-un-peu-plus-long-h2-and-close-button-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-placement-auto-Should-render-case-arrowHide-false-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-placement-auto-end-Should-render-case-arrowHide-false-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-placement-auto-start-Should-render-case-arrowHide-false-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-placement-bottom-Should-render-case-arrowHide-false-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-placement-bottom-end-Should-render-case-arrowHide-false-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-placement-bottom-start-Should-render-case-arrowHide-false-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-placement-left-Should-render-case-arrowHide-false-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-placement-left-end-Should-render-case-arrowHide-false-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-placement-left-start-Should-render-case-arrowHide-false-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-placement-right-Should-render-case-arrowHide-false-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-placement-right-end-Should-render-case-arrowHide-false-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-placement-right-start-Should-render-case-arrowHide-false-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-placement-top-Should-render-case-arrowHide-false-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-placement-top-end-Should-render-case-arrowHide-false-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-placement-top-start-Should-render-case-arrowHide-false-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-re-position-should-re-position-when-interactive-element-size-change-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-re-position-should-re-position-when-interactive-element-size-change-2-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-re-position-should-re-position-when-slot-content-size-change-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-re-position-should-re-position-when-slot-content-size-change-2-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-re-position-should-re-position-when-slot-title-size-change-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-re-position-should-re-position-when-slot-title-size-change-2-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-should-position-popover-where-it-have-enough-place-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-should-position-popover-with-fallbackplacement-when-it-don-t-have-enough-place-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-style-Should-render-with---mg-c-popover-max-width-slot-content-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-style-Should-render-with---mg-c-popover-max-width-slot-title-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-style-Should-render-with-child-mg-card-1-chromium.png
  packages/styles/scss/components/_custom-properties.scss
  packages/styles/scss/components/mg-modal.scss
  packages/styles/scss/components/mg-panel.scss
  packages/styles/scss/components/mg-popover-content.scss
  packages/styles/scss/components/mg-popover.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(mg-illustrated-message): Update spacings, horizontal text-alignement and responsive behavior
  .changeset/funky-towns-tan.md
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-Should-render-without-slot-title-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-large-direction-horizontal-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-large-direction-horizontal-2-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-large-direction-vertical-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-medium-direction-horizontal-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-medium-direction-horizontal-2-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-medium-direction-vertical-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-small-direction-horizontal-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-small-direction-horizontal-2-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-small-direction-vertical-1-chromium.png
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/mg-illustrated-message.e2e.ts
  packages/styles/CHANGELOG.md
  packages/styles/scss/components/mg-illustrated-message.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(img): update all-done illustration with figma edit
  packages/img/src/illustrations/all-done.svg
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

feat(img): update icons from figma files
  packages/img/src/icons/building.svg
  packages/img/src/icons/comment-sms-outline.svg
  packages/img/src/icons/comment-sms.svg
  packages/img/src/icons/conversation-outline.svg
  packages/img/src/icons/conversation.svg
  packages/img/src/icons/cross-circle-outline.svg
  packages/img/src/icons/file-cog-outline.svg
  packages/img/src/icons/file-cog.svg
  packages/img/src/icons/file-download-outline.svg
  packages/img/src/icons/file-download.svg
  packages/img/src/icons/file-upload-outline.svg
  packages/img/src/icons/file-upload.svg
  packages/img/src/icons/folder-link-outline.svg
  packages/img/src/icons/folder-link.svg
  packages/img/src/icons/folder-star-outline.svg
  packages/img/src/icons/folder-star.svg
  packages/img/src/icons/layers.svg
  packages/img/src/icons/link.svg
  packages/img/src/icons/plus-circle-outline.svg
  packages/img/src/icons/sidebar-arrow-left.svg
  packages/img/src/icons/sidebar-arrow-right.svg
  packages/img/src/icons/star.svg
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

feat(img): update icons screenshots after figma import
  packages/mg-components/src/components/atoms/mg-icon/readme.md
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-building-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-comment-sms-outline-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-file-cog-outline-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-file-download-outline-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-file-upload-outline-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-folder-star-outline-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-plus-circle-outline-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-sidebar-arrow-left-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-sidebar-arrow-right-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/readme.md
  packages/mg-components/src/components/molecules/mg-action-more/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(img): update env file example
  packages/img/.env.example
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

fix(img): add changeset
  .changeset/sixty-bugs-itch.md
Due: none

feat(mg-illustrated-message): Update vertical alignement in horizontal direction
  packages/mg-components/src/components/molecules/mg-illustrated-message/tests/__screenshots__/mg-illustrated-message-renders-size-large-direction-horizontal-1-chromium.png
  packages/styles/scss/components/mg-illustrated-message.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency mocha to v11.7.5
  packages/eslint-plugin-html/package.json
  packages/eslint-plugin-vue/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  test:doc: any of: packages/helpers/**/*, packages/mg-components-helpers/**/*, packages/stencil-helpers/**/*
  playwright:baseimage: any of: packages/mg-components/**/*, packages/notification-center/**/*, packages/styles/**/*, packages/img/**/*, packages/helpers/**/*, packages/linting-stencil/**/*, apps/notification-center/**/*, packages/sanitize-html/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  linting-angularjs:artifact: any of: packages/linting-angularjs/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*, packages/helpers/**/*
  playwright-helpers:artifact: any of: packages/helpers/**/*, packages/playwright-helpers/**/*
  helpers:artifact: any of: packages/helpers/**/*
  stencil-helpers:artifact: any of: packages/helpers/**/*, packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*
