Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

Path conditions:
  playwright:baseimage: any of: packages/mg-components/**/*, packages/styles/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/notification-center/**/*, apps/notification-center/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*
  playwright-helpers:artifact: any of: packages/playwright-helpers/**/*
  stencil-helpers:artifact: any of: packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*

chore(deps): update dependency @rollup/plugin-typescript to v12.1.4
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update dependency chromatic to v13.1.2
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency stylelint to v16.21.1
  package.json
  packages/linting-styles/package.json
  pnpm-lock.yaml
Due: linting-styles:artifact

chore(deps): update dependency @types/lodash to v4.17.20
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency @swc/jest to v0.2.39
  configs/jest-config/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency htmlfy to v0.8.1
  packages/helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore(deps): update dependency typedoc to v0.28.7
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore(deps): update storybook monorepo to v9.0.16
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency vue-tsc to v2.2.12
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

fix(mgModal): close event from inside component is catched
  .changeset/bumpy-crews-smell.md
  packages/mg-components/src/components/molecules/mg-alert/mg-alert.tsx
  packages/mg-components/src/components/molecules/mg-alert/tests/__snapshots__/mg-alert.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-alert/tests/mg-alert.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update storybook monorepo to v9.0.15
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency rollup to v4.44.2
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update dependency rollup to v4.45.0
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update dependency @types/node to v22.15.34
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency @types/node to v22.16.3
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

fix(mgInputSelect): readonlyValue not updating
  .changeset/three-views-knock.md
  packages/mg-components/src/components/molecules/inputs/mg-input-select/mg-input-select.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__snapshots__/mg-input-select.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/mg-input-select.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency prettier to v3.6.2
  package.json
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: none

feat(mgPanel): Use **<mg-card>** default background
  .changeset/every-planets-judge.md
  packages/mg-components/src/components/molecules/mg-panel/readme.md
  packages/styles/scss/components/_custom-properties.scss
  packages/styles/scss/components/mg-panel.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore: Update dependencies
  .changeset/true-crabs-take.md
  packages/eslint-plugin-html/package.json
  packages/helpers/package.json
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore: update build config
  packages/mg-components/stencil.config.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @types/node to v22.16.4
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore: apply sonar recommandation
  packages/mg-components/src/components/molecules/inputs/mg-input-select/mg-input-select.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: update snapshots
  packages/styles/tests/__screenshots__/Base-1-firefox.png
  packages/styles/tests/__screenshots__/Layout-1-firefox.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(MgInput): update tests
  packages/helpers/src/tests/unit/unit.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__snapshots__/mg-input-checkbox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/mg-input-checkbox.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/__snapshots__/mg-input-radio.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/mg-input-radio.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__snapshots__/mg-input-select.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/mg-input-select.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__snapshots__/mg-input-toggle.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/mg-input-toggle.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input/mg-input.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: update screenshots
  packages/styles/tests/__screenshots__/Base-1-chromium.png
  packages/styles/tests/__screenshots__/Base-1-firefox.png
  packages/styles/tests/__screenshots__/Layout-1-chromium.png
  packages/styles/tests/__screenshots__/Layout-1-firefox.png
  packages/styles/tests/__screenshots__/Utils-1-chromium.png
  packages/styles/tests/tests.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore: update dependencies
  .changeset/spicy-pigs-guess.md
Due: none

feat(mg-card): update default border color
  packages/styles/scss/components/_custom-properties.scss
  packages/styles/scss/components/mg-card.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(mg-card): add prop to hide box-shadow style
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/atoms/mg-card/mg-card.tsx
  packages/mg-components/src/components/atoms/mg-card/readme.md
  packages/mg-components/src/components/atoms/mg-card/tests/__screenshots__/mg-card-Should-not-have-box-shadow-when-hide-shadow-is-true-1-chromium.png
  packages/mg-components/src/components/atoms/mg-card/tests/__snapshots__/mg-card.spec.tsx.snap
  packages/mg-components/src/components/atoms/mg-card/tests/mg-card.e2e.ts
  packages/mg-components/src/components/atoms/mg-card/tests/mg-card.spec.tsx
  packages/styles/scss/components/mg-card.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(mg-card): add changeset
  .changeset/plenty-needles-enjoy.md
Due: none

feat(mg-card): refactor added props with watcher
  packages/mg-components/src/components/atoms/mg-card/mg-card.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-card): add prop to set border radius with default to large
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/atoms/mg-card/mg-card.tsx
  packages/mg-components/src/components/atoms/mg-card/readme.md
  packages/mg-components/src/components/atoms/mg-card/tests/__screenshots__/mg-card-Should-not-have-box-shadow-when-hide-shadow-is-true-1-chromium.png
  packages/mg-components/src/components/atoms/mg-card/tests/__screenshots__/mg-card-Should-render-with-different-radius-sizes-1-chromium.png
  packages/mg-components/src/components/atoms/mg-card/tests/__screenshots__/mg-card-Should-render-with-slot-Lorem-ipsum-do-46172--officia-deserunt-mollit-anim-id-est-laborum-1-chromium.png
  packages/mg-components/src/components/atoms/mg-card/tests/__screenshots__/mg-card-Should-render-with-slot-mg-card-Content-with-child-card-mg-card-1-chromium.png
  packages/mg-components/src/components/atoms/mg-card/tests/__screenshots__/mg-card-Should-render-with-slot-mg-card-class-043a7-info-Content-with-child-info-card-mg-card-1-chromium.png
  packages/mg-components/src/components/atoms/mg-card/tests/__screenshots__/mg-card-Should-render-with-slot-short-text-1-chromium.png
  packages/mg-components/src/components/atoms/mg-card/tests/__snapshots__/mg-card.spec.tsx.snap
  packages/mg-components/src/components/atoms/mg-card/tests/mg-card.e2e.ts
  packages/mg-components/src/components/atoms/mg-card/tests/mg-card.spec.tsx
  packages/styles/scss/components/_custom-properties.scss
  packages/styles/scss/components/mg-card.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(mg-card): update tests snapshots and screenshots in other components
  packages/mg-components/src/components/molecules/mg-alert/tests/__screenshots__/mg-alert-Should-render-with-child-mg-card-1-chromium.png
  packages/mg-components/src/components/molecules/mg-message/tests/__screenshots__/mg-message-Should-render-with-child-mg-card-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-card-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-card-mg-message-1-chromium.png
  packages/mg-components/src/components/molecules/mg-panel/tests/__screenshots__/mg-panel-Should-render-with-template-expanded--0d9f6--mg-card-Content-with-child-card-mg-card-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-style-Should-render-with-child-mg-card-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__snapshots__/mg-popover.spec.tsx.snap
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-card): avoid using nested template literals
  packages/mg-components/src/components/atoms/mg-card/mg-card.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-card): update radius prop values
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/atoms/mg-card/mg-card.tsx
  packages/mg-components/src/components/atoms/mg-card/readme.md
  packages/mg-components/src/components/atoms/mg-card/tests/__screenshots__/mg-card-Should-render-with-different-radius-sizes-1-chromium.png
  packages/mg-components/src/components/atoms/mg-card/tests/__snapshots__/mg-card.spec.tsx.snap
  packages/mg-components/src/components/atoms/mg-card/tests/mg-card.e2e.ts
  packages/mg-components/src/components/atoms/mg-card/tests/mg-card.spec.tsx
  packages/styles/scss/components/mg-card.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(mg-card): remove e2e tests more adapted to be in unit tests
  packages/mg-components/src/components/atoms/mg-card/tests/__screenshots__/mg-card-Should-have-box-shadow-when-shadow-is-true-1-chromium.png
  packages/mg-components/src/components/atoms/mg-card/tests/__screenshots__/mg-card-Should-not-have-box-shadow-by-default-1-chromium.png
  packages/mg-components/src/components/atoms/mg-card/tests/mg-card.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-card): adapt border-color with shadow usage
  packages/mg-components/src/components/molecules/mg-message/tests/__screenshots__/mg-message-Should-render-with-child-mg-card-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-firefox-navigation-Should-navigate-with-keyboard-2-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-firefox-navigation-Should-navigate-with-keyboard-3-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-firefox-navigation-Should-navigate-with-keyboard-4-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-card-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-card-mg-message-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-panel-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-panel-mg-card-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-panel-mg-card-mg-message-1-chromium.png
  packages/mg-components/src/components/molecules/mg-popover/tests/__screenshots__/mg-popover-style-Should-render-with-child-mg-card-1-chromium.png
  packages/styles/scss/components/mg-card.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(mg-card): remove shadow by default
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/atoms/mg-card/mg-card.tsx
  packages/mg-components/src/components/atoms/mg-card/readme.md
  packages/mg-components/src/components/atoms/mg-card/tests/__screenshots__/mg-card-Should-have-box-shadow-when-shadow-is-true-1-chromium.png
  packages/mg-components/src/components/atoms/mg-card/tests/__screenshots__/mg-card-Should-not-have-box-shadow-by-default-1-chromium.png
  packages/mg-components/src/components/atoms/mg-card/tests/__screenshots__/mg-card-Should-render-with-different-radius-sizes-1-chromium.png
  packages/mg-components/src/components/atoms/mg-card/tests/__screenshots__/mg-card-Should-render-with-slot-Lorem-ipsum-do-46172--officia-deserunt-mollit-anim-id-est-laborum-1-chromium.png
  packages/mg-components/src/components/atoms/mg-card/tests/__screenshots__/mg-card-Should-render-with-slot-mg-card-Content-with-child-card-mg-card-1-chromium.png
  packages/mg-components/src/components/atoms/mg-card/tests/__screenshots__/mg-card-Should-render-with-slot-mg-card-class-043a7-info-Content-with-child-info-card-mg-card-1-chromium.png
  packages/mg-components/src/components/atoms/mg-card/tests/__screenshots__/mg-card-Should-render-with-slot-short-text-1-chromium.png
  packages/mg-components/src/components/atoms/mg-card/tests/__snapshots__/mg-card.spec.tsx.snap
  packages/mg-components/src/components/atoms/mg-card/tests/mg-card.e2e.ts
  packages/mg-components/src/components/atoms/mg-card/tests/mg-card.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-card): add shadow to mg-card in the selected components
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__snapshots__/mg-input-checkbox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/internals/mg-item-more/tests/__snapshots__/mg-item-more.spec.tsx.snap
  packages/mg-components/src/components/molecules/menus/mg-menu-item/tests/__snapshots__/mg-menu-item.spec.tsx.snap
  packages/mg-components/src/components/molecules/menus/mg-menu/tests/__snapshots__/mg-menu.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-action-more/tests/__snapshots__/mg-action-more.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-message/mg-message.tsx
  packages/mg-components/src/components/molecules/mg-message/tests/__snapshots__/mg-message.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-modal/mg-modal.tsx
  packages/mg-components/src/components/molecules/mg-modal/tests/__snapshots__/mg-modal.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-popover/mg-popover-content/mg-popover-content.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-card): enforce condition to add radius class
  packages/mg-components/src/components/atoms/mg-card/mg-card.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact
