Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-angularjs:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

test:doc:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: tests
  script:
  - pnpm build:packages
  - pnpm doc

playwright:baseimage:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: tests
  script:
  - export PLAYWRIGHT_BASEIMAGE=$(./scripts/get-playwright-version.sh)
  - echo "PLAYWRIGHT_BASEIMAGE=$PLAYWRIGHT_BASEIMAGE"  > playwright-baseimage.env
  artifacts:
    reports:
      dotenv: playwright-baseimage.env

test:e2e:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  parallel: 7
  script:
  - pnpm test:e2e --filter='./packages/*' --filter=\!@mgdis/notification-center -- --shard=$CI_NODE_INDEX/$CI_NODE_TOTAL
  ...

test:e2e:notification-center:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  script:
  - pnpm test:e2e --filter=@mgdis/notification-center
  retry: 2
  artifacts:
    when: always
    paths:
  ...

mg-components:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - - .artifact
    - script
  needs:
  - lint

storybook-mr:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  script:
  - mkdir -p public/storybook
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - pnpm storybook:build
  - mv storybook-static/* ../../public/storybook
  stage: mg-components
  artifacts:
    paths:
    - public
  ...

notification-center:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - pnpm build --filter=@mgdis/notification-center
  - cd packages/notification-center
  - - .artifact
    - script
  needs:
  - lint

linting-angularjs:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-angularjs
  - - .artifact
    - script
  needs:
  - lint

linting-stencil:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-stencil
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

img:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - - .img:build
    - script
  - - .artifact
    - script
  needs:
  - lint

styles:artifact:
  before_script:
  - corepack enable
  - npm i -g corepack@latest
  - pnpm i
  stage: artifacts
  script:
  - - .styles:build
    - script
  - - .artifact
    - script
  needs:
  - lint

fix(core-ui-helpers): keep attributes and properties in web-types description
  packages/helpers/src/stencil/ide/__snapshots__/ide.spec.ts.snap
  packages/helpers/src/stencil/ide/ide.ts
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

fix(mg-components): wrap contributes customData paths in arrays
  packages/mg-components/package.json
  packages/mg-components/stencil.config.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

test(stencil-helpers): regenerate ide snapshots after generator changes
  packages/stencil-helpers/src/ide/__snapshots__/index.spec.ts.snap
Due: test:doc, stencil-helpers:artifact

test(core-ui-helpers): cover cssParts mapping and attribute values branch
  packages/helpers/json-doc.test.json
  packages/helpers/src/stencil/ide/__snapshots__/cem.spec.ts.snap
  packages/helpers/src/stencil/ide/__snapshots__/ide.spec.ts.snap
  packages/stencil-helpers/json-doc.test.json
  packages/stencil-helpers/src/ide/__snapshots__/index.spec.ts.snap
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

test(core-ui-helpers): cover prop.default branch in cemGenerator
  packages/helpers/json-doc.test.json
  packages/helpers/src/stencil/ide/__snapshots__/cem.spec.ts.snap
  packages/helpers/src/stencil/ide/__snapshots__/ide.spec.ts.snap
  packages/stencil-helpers/json-doc.test.json
  packages/stencil-helpers/src/ide/__snapshots__/index.spec.ts.snap
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

test(core-ui-helpers): refresh storybook snapshots after fixture default
  packages/helpers/src/storybook/stencil/__snapshots__/stencil.spec.ts.snap
  packages/stencil-helpers/src/storybook/__snapshots__/index.spec.ts.snap
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

fix(mg-input-select): differentiate options by their value not title
  .changeset/mg-input-select-differentiate-by-value.md
  packages/mg-components/src/components/molecules/inputs/mg-input-select/mg-input-select.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__snapshots__/mg-input-select.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/mg-input-select.spec.tsx
  packages/mg-components/src/components/molecules/mg-form/tests/__snapshots__/mg-form.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-pagination/tests/__snapshots__/mg-pagination.spec.tsx.snap
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

refactor(core-ui-helpers): flatten nested template literal in slot label
  packages/helpers/src/stencil/ide/ide.ts
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

docs(mg-card): clarify --mg-c-card-overflow default and usage
  .changeset/mg-card-overflow-docs.md
  packages/mg-components/src/components/atoms/mg-card/readme.md
  packages/styles/scss/components/mg-card.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(mg-form): stop showing the submit button disabled by default
  .changeset/mg-form-submit-not-disabled.md
  packages/mg-components/src/components/molecules/mg-form/docs/mg-form.stories.tsx
  packages/mg-components/src/components/molecules/mg-form/readme.md
  packages/mg-components/src/index.html
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(mg-components): remove unnecessary type assertions
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/mg-input-radio.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(img): add glitters icon
  .changeset/img-add-glitters-icon.md
  packages/img/src/icons/glitters-outline.svg
  packages/img/src/icons/glitters.svg
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

feat(mg-icon): update e2e tests screenshots
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-glitters-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-glitters-outline-1-chromium.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(styles): migrate sass if() to modern syntax
  .changeset/styles-sass-if-modern-syntax.md
  packages/styles/scss/_functions.scss
  packages/styles/scss/base/_custom-properties.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

chore(deps): update dependency @rollup/plugin-commonjs to v29.0.3
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency comment-parser to v1.4.7
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

chore(deps): update dependency lint-staged to v17.0.7
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency mocha to v11.7.6
  packages/eslint-plugin-html/package.json
  packages/eslint-plugin-vue/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency vite to v7.3.5
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update dependency vue-tsc to v3.3.3
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency @stencil/core to v4.43.5
  apps/stencil/package.json
  packages/helpers/package.json
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

fix(deps): update dependency eslint-plugin-prettier to v5.5.6
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: linting-angularjs:artifact

fix(deps): update turbo monorepo to v2.9.16
  configs/eslint-config-custom/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency chromatic to v17.2.0
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update pnpm to v10.34.1
  package.json
Due: none

fix(deps): update dependency @babel/eslint-parser to v7.29.7
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: linting-angularjs:artifact

fix(deps): update dependency axios to v1.17.0
  packages/img/package.json
  pnpm-lock.yaml
  tools/release-bot/package.json
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

fix(deps): update dependency @playwright/test to v1.60.0
  packages/helpers/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

test(mg-details): regen webkit snapshot for Playwright 1.60
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-2-webkit.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

test(mg-details): regen webkit hide-summary snapshot for Playwright 1.60
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-hide-summary-2-webkit.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

test(mg-modal): regen webkit snapshot for Playwright 1.60
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-webkit-browser-Should-fit-within-a-small-viewport-without-overflow-1-webkit.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency vite to v8
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

test(playwright-helpers): update renderProperties snapshots for vite 8
  packages/helpers/src/playwright/utils/__snapshots__/utils.spec.ts.snap
  packages/playwright-helpers/src/utils/__snapshots__/index.spec.ts.snap
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): align lib vite.config sourcemap with vite 8
  packages/notification-center/vite.config.mjs
  packages/sanitize-html/vite.config.mjs
Due: playwright:baseimage, test:e2e:notification-center, notification-center:artifact, sanitize-html:artifact

chore(deps): update dependency typedoc-plugin-markdown to v4.12.0
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore: Set Chromatic version
  packages/mg-components/.storybook/main.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: gitignore .claude/ folder
  .gitignore
Due: none

chore: Update dependencies
  apps/vue-3/package.json
  configs/vitest-config/package.json
  packages/eslint-config-vue3/package.json
  packages/eslint-plugin-vue/package.json
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore: add generated components readme
  packages/mg-components/src/components/atoms/mg-icon/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-text/readme.md
  packages/mg-components/src/components/molecules/mg-action-more/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

Path conditions:
  test:doc: any of: packages/helpers/**/*, packages/mg-components-helpers/**/*, packages/stencil-helpers/**/*
  playwright:baseimage: any of: packages/mg-components/**/*, packages/notification-center/**/*, packages/styles/**/*, packages/img/**/*, packages/helpers/**/*, packages/linting-stencil/**/*, apps/notification-center/**/*, packages/sanitize-html/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  linting-angularjs:artifact: any of: packages/linting-angularjs/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*, packages/helpers/**/*
  playwright-helpers:artifact: any of: packages/helpers/**/*, packages/playwright-helpers/**/*
  helpers:artifact: any of: packages/helpers/**/*
  stencil-helpers:artifact: any of: packages/helpers/**/*, packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*
