Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

playwright:baseimage:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  script:
  - export PLAYWRIGHT_BASEIMAGE=$(./scripts/get-playwright-version.sh)
  - echo "PLAYWRIGHT_BASEIMAGE=$PLAYWRIGHT_BASEIMAGE"  > playwright-baseimage.env
  artifacts:
    reports:
      dotenv: playwright-baseimage.env

test:e2e:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  parallel: 7
  script:
  - pnpm test:e2e --filter='./packages/*' --filter=\!@mgdis/notification-center -- --shard=$CI_NODE_INDEX/$CI_NODE_TOTAL
  artifacts:
    when: always
  ...

test:e2e:notification-center:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  script:
  - pnpm test:e2e --filter=@mgdis/notification-center
  retry: 2
  artifacts:
    when: always
    paths:
    - packages/notification-center/playwright-report/
  ...

mg-components:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - - .artifact
    - script
  needs:
  - lint

storybook-mr:
  before_script:
  - corepack enable
  - pnpm i
  script:
  - mkdir -p public/storybook
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - pnpm storybook:build
  - mv storybook-static/* ../../public/storybook
  stage: mg-components
  artifacts:
    paths:
    - public
  environment:
  ...

notification-center:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - pnpm build --filter=@mgdis/notification-center
  - cd packages/notification-center
  - - .artifact
    - script
  needs:
  - lint

linting-stencil:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-stencil
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

img:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .img:build
    - script
  - - .artifact
    - script
  needs:
  - lint

styles:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .styles:build
    - script
  - - .artifact
    - script
  needs:
  - lint

playwright-helpers:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/playwright-helpers
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

stencil-helpers:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .stencil-helpers
    - script
  - - .artifact
    - script
  needs:
  - lint

linting-styles:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-styles
  - - .artifact
    - script
  needs:
  - lint

chore(deps): update dependency vite to v7
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

feat(mg-input-checkbox): update snapshots
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__snapshots__/mg-input-checkbox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-without-tooltip-4-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-without-tooltip-help-text--cce30-atman-mg-icon-icon-user-mg-icon-a-p-4-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-without-tooltip-label-hide-true-4-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-without-tooltip-label-on-top-true-4-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-without-tooltip-placeholder-placeholder-help-text-HelpText-Message-4-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: Import new icons and illustrations
  packages/img/src/icons/comment-exclamation-outline.svg
  packages/img/src/icons/comment-exclamation.svg
  packages/img/src/icons/comment-question-outline.svg
  packages/img/src/icons/comment-question.svg
  packages/img/src/icons/euro.svg
  packages/img/src/icons/mail-open-outline.svg
  packages/img/src/icons/mail-open.svg
  packages/img/src/icons/star-outline.svg
  packages/img/src/icons/star.svg
  packages/img/src/illustrations/missing-informations.svg
  packages/img/src/illustrations/neutral.svg
  packages/img/src/illustrations/request-sent.svg
  packages/mg-components/src/components/atoms/mg-icon/readme.md
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-comment-exclamation-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-comment-exclamation-outline-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-comment-question-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-comment-question-outline-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-euro-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-mail-open-1-chromium.png
  packages/mg-components/src/components/atoms/mg-icon/tests/__screenshots__/mg-icon-render-icon-mail-open-outline-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-text/readme.md
  packages/mg-components/src/components/molecules/mg-action-more/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact

chore: add changeset
  .changeset/curvy-gifts-make.md
Due: none

chore: update changeset
  .changeset/curvy-gifts-make.md
Due: none

chore: Improve css doc generation
  .changeset/ninety-terms-behave.md
  packages/mg-components/src/index.html
  packages/styles/package.json
  packages/styles/scss/base/_typography.scss
  packages/styles/scss/layout/_grid.scss
  packages/styles/tests/__screenshots__/Layout-1-chromium.png
  packages/styles/tests/__screenshots__/Layout-1-firefox.png
  packages/styles/tests/layout.html
  packages/styles/tools/README.md
  packages/styles/tools/css-docs.ts
  sonar-project.properties
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix: remove leading zero from numeric input value
  .changeset/fast-terms-sort.md
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/mg-input-numeric.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix: optimize leading zero check for numeric input value
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix: translate comments
  packages/styles/tools/css-docs.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore: update svgo conf
  packages/img/src/illustrations/aides.svg
  packages/img/src/illustrations/all-done.svg
  packages/img/src/illustrations/convention-empty.svg
  packages/img/src/illustrations/conviviale.svg
  packages/img/src/illustrations/digital-forms.svg
  packages/img/src/illustrations/digital-security.svg
  packages/img/src/illustrations/disconnected.svg
  packages/img/src/illustrations/documents.svg
  packages/img/src/illustrations/echanges.svg
  packages/img/src/illustrations/empty.svg
  packages/img/src/illustrations/missing-informations.svg
  packages/img/src/illustrations/neutral.svg
  packages/img/src/illustrations/no-data.svg
  packages/img/src/illustrations/no-result.svg
  packages/img/src/illustrations/request-sent.svg
  packages/img/src/illustrations/search-no-result.svg
  packages/img/src/illustrations/secure-data.svg
  packages/img/src/illustrations/stage.svg
  packages/img/src/illustrations/welcome.svg
  packages/img/src/tools/svgo.config.ts
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

chore(deps): update dependency @types/node to v22.16.5
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency typedoc-plugin-markdown to v4.7.1
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

fix(deps): update dependency @stencil/core to v4.36.1
  apps/stencil/package.json
  packages/helpers/package.json
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency eslint-plugin-prettier to v5.5.3
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency @html-eslint/eslint-plugin to v0.43.0
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency stylelint to v16.22.0
  package.json
  packages/linting-styles/package.json
  pnpm-lock.yaml
Due: linting-styles:artifact

chore(deps): update storybook monorepo to v9.0.18
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency @html-eslint/parser to v0.43.0
  packages/eslint-plugin-html/package.json
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

feat(mg-input-checkbox): reword "load more" to "show more"
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox-paginated/mg-input-checkbox-paginated.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__snapshots__/mg-input-checkbox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-down-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-down-4-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-up-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-navigate-throw-input-values-with-keyboard-up-4-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-reset-input-value-with-keyboard-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Keyboard-Should-update-value-with-keyboard-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Mouse-Should-navigate-throw-input-with-mouse-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Mouse-Should-navigate-throw-input-with-mouse-4-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Should-render-with-load-more-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
  packages/mg-components/src/locales/en/messages.json
  packages/mg-components/src/locales/fr/messages.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(MgInput): add e2e tests
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/MgInputCheckboxList.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-checkbox-Should-render-with--18c0c-lue-error-detail-content-with-no-value-error-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-checkbox-Should-render-with--224eb-lue-error-detail-content-with-no-value-error-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-checkbox-Should-render-with--a8a7f-dentifier-label-legend-with-no-value-error-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-multi-Should-render-with-tem-59726-lue-error-detail-content-with-no-value-error-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-multi-Should-render-with-tem-88422-dentifier-label-legend-with-no-value-error-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-multi-Should-render-with-tem-dc434-lue-error-detail-content-with-no-value-error-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__snapshots__/mg-input-checkbox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/mg-input-checkbox.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Should-render-with-template--04217-lue-error-detail-content-with-no-value-error-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Should-render-with-template--e7af8-lue-error-detail-content-with-no-value-error-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Should-render-with-template--e8338--identifier-identifier-with-no-value-error-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/mg-input-radio.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/__screenshots__/mg-input-radio-Should-render-with-template-ide-c6472-lue-error-detail-content-with-no-value-error-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/__screenshots__/mg-input-radio-Should-render-with-template-ide-d8daf-dentifier-label-legend-with-no-value-error-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/__screenshots__/mg-input-radio-Should-render-with-template-ide-efd1b-lue-error-detail-content-with-no-value-error-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/__snapshots__/mg-input-radio.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/mg-input-radio.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__screenshots__/mg-input-select-Should-render-with-template-id-14726-lue-error-detail-content-with-no-value-error-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__screenshots__/mg-input-select-Should-render-with-template-id-39b5a-identifier-label-label-with-no-value-error-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__screenshots__/mg-input-select-Should-render-with-template-id-d66d6-lue-error-detail-content-with-no-value-error-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/mg-input-select.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Should-render-with-template-id-55166-lue-error-detail-content-with-no-value-error-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Should-render-with-template-id-7ac8c-lue-error-detail-content-with-no-value-error-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Should-render-with-template-id-c23f2-identifier-label-label-with-no-value-error-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/mg-input-toggle.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(MgInput): add e2e tests
  packages/mg-components/src/components/molecules/inputs/mg-input/tests/__screenshots__/mg-input-Render-without-tooltip-help-text-Hel-b5dd3-ror-message-This-is-an-error-identifier-7-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input/tests/__screenshots__/mg-input-Render-without-tooltip-identifier-6-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input/tests/__screenshots__/mg-input-Render-without-tooltip-identifier-6-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input/tests/mg-input.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(MgInput): update details spacing
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-checkbox-Should-render-with--224eb-lue-error-detail-content-with-no-value-error-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-multi-Should-render-with-tem-dc434-lue-error-detail-content-with-no-value-error-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__snapshots__/mg-input-checkbox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Should-render-with-template--04217-lue-error-detail-content-with-no-value-error-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/__screenshots__/mg-input-radio-Should-render-with-template-ide-efd1b-lue-error-detail-content-with-no-value-error-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/__snapshots__/mg-input-radio.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__screenshots__/mg-input-select-Should-render-with-template-id-14726-lue-error-detail-content-with-no-value-error-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__snapshots__/mg-input-select.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Should-render-with-template-id-55166-lue-error-detail-content-with-no-value-error-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__snapshots__/mg-input-toggle.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input/mg-input.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input/tests/__snapshots__/mg-input.spec.tsx.snap
  packages/styles/scss/components/_mg-input-error-details.scss
  packages/styles/scss/components/mg-input-checkbox.scss
  packages/styles/scss/components/mg-input-combobox.scss
  packages/styles/scss/components/mg-input-radio.scss
  packages/styles/scss/components/mg-input-select.scss
  packages/styles/scss/components/mg-input-toggle.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(MgInput): update details spacing
  packages/styles/scss/components/_mg-input-error-details.scss
  packages/styles/scss/components/mg-input.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency postcss to v8.5.6
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(deps): update dependency vue to v3.5.18
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency axios to v1.11.0
  packages/img/package.json
  pnpm-lock.yaml
  tools/release-bot/package.json
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

fix(deps): update dependency eslint-config-prettier to v9.1.2
  configs/eslint-config-custom/package.json
  packages/eslint-config-vue3/package.json
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @vitejs/plugin-vue to v6
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @vitejs/plugin-vue-jsx to v5
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @vitejs/plugin-vue to v6.0.1
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency dotenv to v17.2.1
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

chore(deps): update dependency @manypkg/cli to v0.25.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency vite to v7.0.6
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

feat: manage mg-table alignment with non text elements
  packages/mg-components/src/components/molecules/mg-table/mg-table.tsx
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.e2e.template.ts
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix: replace right values in table
  packages/mg-components/src/components/molecules/mg-table/tests/mg-table.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency typedoc to v0.28.8
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore(deps): update react monorepo to v19.1.1
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency @html-eslint/eslint-plugin to v0.43.1
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency @stencil/core to v4.36.2
  apps/stencil/package.json
  packages/helpers/package.json
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

Path conditions:
  playwright:baseimage: any of: packages/mg-components/**/*, packages/styles/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/notification-center/**/*, apps/notification-center/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*
  playwright-helpers:artifact: any of: packages/playwright-helpers/**/*
  stencil-helpers:artifact: any of: packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*
