Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

playwright:baseimage:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  script:
  - export PLAYWRIGHT_BASEIMAGE=$(./scripts/get-playwright-version.sh)
  - echo "PLAYWRIGHT_BASEIMAGE=$PLAYWRIGHT_BASEIMAGE"  > playwright-baseimage.env
  artifacts:
    reports:
      dotenv: playwright-baseimage.env

test:e2e:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  parallel: 7
  script:
  - pnpm test:e2e --filter='./packages/*' --filter=\!@mgdis/notification-center -- --shard=$CI_NODE_INDEX/$CI_NODE_TOTAL
  artifacts:
    when: always
  ...

test:e2e:notification-center:
  before_script:
  - corepack enable
  - pnpm i
  stage: tests
  image: $DOCKER_REGISTRE_URL/mgdis/playwright-baseimage:$PLAYWRIGHT_BASEIMAGE
  script:
  - pnpm test:e2e --filter=@mgdis/notification-center
  retry: 2
  artifacts:
    when: always
    paths:
    - packages/notification-center/playwright-report/
  ...

mg-components:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - - .artifact
    - script
  needs:
  - lint

storybook-mr:
  before_script:
  - corepack enable
  - pnpm i
  script:
  - mkdir -p public/storybook
  - - .mg-components:build
    - script
  - cd packages/mg-components
  - pnpm storybook:build
  - mv storybook-static/* ../../public/storybook
  stage: mg-components
  artifacts:
    paths:
    - public
  environment:
  ...

notification-center:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - pnpm build --filter=@mgdis/notification-center
  - cd packages/notification-center
  - - .artifact
    - script
  needs:
  - lint

linting-stencil:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-stencil
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

img:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .img:build
    - script
  - - .artifact
    - script
  needs:
  - lint

styles:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .styles:build
    - script
  - - .artifact
    - script
  needs:
  - lint

playwright-helpers:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/playwright-helpers
  - pnpm build
  - - .artifact
    - script
  needs:
  - lint

stencil-helpers:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - - .stencil-helpers
    - script
  - - .artifact
    - script
  needs:
  - lint

linting-styles:artifact:
  before_script:
  - corepack enable
  - pnpm i
  stage: artifacts
  script:
  - cd packages/linting-styles
  - - .artifact
    - script
  needs:
  - lint

feat(mg-card): refactor watchRadius and associated unit tests
  packages/mg-components/src/components/atoms/mg-card/mg-card.conf.ts
  packages/mg-components/src/components/atoms/mg-card/mg-card.tsx
  packages/mg-components/src/components/atoms/mg-card/tests/__snapshots__/mg-card.spec.tsx.snap
  packages/mg-components/src/components/atoms/mg-card/tests/mg-card.spec.tsx
  packages/mg-components/src/components/molecules/mg-popover/tests/__snapshots__/mg-popover.spec.tsx.snap
  packages/mg-components/src/types/index.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-card): add types for radius
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/atoms/mg-card/mg-card.tsx
  packages/mg-components/src/types/index.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-card): add shadow prop to mg-panel
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/mg-panel/mg-panel.tsx
  packages/mg-components/src/components/molecules/mg-panel/readme.md
  packages/mg-components/src/components/molecules/mg-panel/tests/mg-panel.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-card): update changeset
  .changeset/plenty-needles-enjoy.md
Due: none

feat(mg-card): better typing and robust condition for watchRadius
  packages/mg-components/src/components/atoms/mg-card/mg-card.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-card): use Size type in RadiusType definition
  packages/mg-components/src/components/atoms/mg-card/mg-card.conf.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-card): use radiusSizes array for dynamic radius e2e coverage
  packages/mg-components/src/components/atoms/mg-card/tests/mg-card.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-card): rename radius attribute to radius-size to be more explicit
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/atoms/mg-card/mg-card.conf.ts
  packages/mg-components/src/components/atoms/mg-card/mg-card.tsx
  packages/mg-components/src/components/atoms/mg-card/readme.md
  packages/mg-components/src/components/atoms/mg-card/tests/__screenshots__/mg-card-Should-render-with-different-radius-sizes-1-chromium.png
  packages/mg-components/src/components/atoms/mg-card/tests/__snapshots__/mg-card.spec.tsx.snap
  packages/mg-components/src/components/atoms/mg-card/tests/mg-card.e2e.ts
  packages/mg-components/src/components/atoms/mg-card/tests/mg-card.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency rollup to v4.45.1
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update storybook monorepo to v9.0.17
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency @html-eslint/eslint-plugin to v0.42.0
  packages/linting-angularjs/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency @stencil/core to v4.36.0
  apps/stencil/package.json
  packages/helpers/package.json
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency dotenv to v17
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

chore(deps): update dependency svgo to v4
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

Apply 1 suggestion(s) to 1 file(s)
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox-paginated/mg-input-checkbox-paginated.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-card): rename RadiusType to RadiusSizeType
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/atoms/mg-card/mg-card.conf.ts
  packages/mg-components/src/components/atoms/mg-card/mg-card.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency rollup to v4.44.2
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update dependency sharp to v0.34.3
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

chore(deps): update dependency @types/lodash to v4.17.20
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency stylelint to v16.21.1
  package.json
  packages/linting-styles/package.json
  pnpm-lock.yaml
Due: linting-styles:artifact

fix(deps): update dependency @swc/jest to v0.2.39
  configs/jest-config/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update storybook monorepo to v9.0.16
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency typedoc to v0.28.7
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore(deps): update dependency @types/node to v22.16.3
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency htmlfy to v0.8.1
  packages/helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, stencil-helpers:artifact

chore(deps): update dependency chromatic to v13.1.2
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency rollup to v4.45.0
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: linting-stencil:artifact

chore(deps): update dependency @types/node to v22.16.4
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, playwright-helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency vue-tsc to v2.2.12
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore: update build config
  packages/mg-components/stencil.config.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: production build optimization
  .changeset/lazy-rice-yawn.md
  apps/stencil/package.json
  packages/helpers/package.json
  packages/mg-components/package.json
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/atoms/mg-icon/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-password/mg-input-password.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/mg-input-radio.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-select/mg-input-select.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-text/mg-input-text.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/mg-input-textarea.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/mg-input-toggle.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input/mg-input.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input/tests/__snapshots__/mg-input.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input/tests/mg-input.spec.tsx
  packages/mg-components/src/components/molecules/menus/mg-menu/readme.md
  packages/mg-components/src/components/molecules/mg-action-more/readme.md
  packages/mg-components/src/components/molecules/mg-pagination/readme.md
  packages/mg-components/src/components/molecules/mg-skip-links/mg-skip-links.tsx
  packages/mg-components/src/components/molecules/mg-skip-links/readme.md
  packages/mg-components/src/components/molecules/mg-table/mg-table.tsx
  packages/mg-components/src/components/molecules/mg-table/readme.md
  packages/mg-components/src/components/molecules/mg-tabs/mg-tabs.tsx
  packages/mg-components/src/components/molecules/mg-tabs/readme.md
  packages/mg-components/stencil.config.ts
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-checkbox): update info class name
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox-paginated/mg-input-checkbox-paginated.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-2-sections-and-a-closed-selected-section-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-2-sections-and-a-closed-selected-section-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-2-sections-and-change-selected-section-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-2-sections-and-change-selected-section-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-2-sections-and-change-selected-section-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-search-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-search-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-search-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-search-4-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-search-5-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-search-6-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-search-7-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-search-8-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__snapshots__/mg-input-checkbox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/mg-input-checkbox.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.e2e.ts
  packages/mg-components/src/locales/en/messages.json
  packages/mg-components/src/locales/fr/messages.json
  packages/styles/scss/components/_mg-input-box.scss
  packages/styles/scss/components/_mg-input-info.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(mg-input-checkbox): i18n
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-search-7-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__snapshots__/mg-input-checkbox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/mg-input-checkbox.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/locales/en/messages.json
  packages/mg-components/src/locales/fr/messages.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: update chromatic version
  packages/mg-components/.storybook/main.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-checkbox): condition activeTab to selected items
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-2-sections-and-change-selected-section-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-2-sections-and-change-selected-section-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-search-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-search-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-search-4-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-search-5-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-search-6-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-search-7-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-search-8-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__screenshots__/mg-input-checkbox-type-multi-Should-render-multi-with-search-9-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__snapshots__/mg-input-checkbox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/mg-input-checkbox.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

Apply 5 suggestion(s) to 2 file(s)
  packages/mg-components/src/locales/en/messages.json
  packages/mg-components/src/locales/fr/messages.json
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: Update sonar-project.properties to exclude styles tools from analysis
  packages/styles/package.json
  packages/styles/tools/README.md
  packages/styles/tools/css-docs.ts
  pnpm-lock.yaml
  sonar-project.properties
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

Path conditions:
  playwright:baseimage: any of: packages/mg-components/**/*, packages/styles/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/notification-center/**/*, apps/notification-center/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/stencil-helpers/**/*, packages/styles/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/styles/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*
  playwright-helpers:artifact: any of: packages/playwright-helpers/**/*
  stencil-helpers:artifact: any of: packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*
