Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-angularjs:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

Path conditions:
  test:doc: any of: packages/helpers/**/*, packages/mg-components-helpers/**/*, packages/stencil-helpers/**/*
  playwright:baseimage: any of: packages/mg-components/**/*, packages/notification-center/**/*, packages/styles/**/*, packages/img/**/*, packages/helpers/**/*, packages/linting-stencil/**/*, apps/notification-center/**/*, packages/sanitize-html/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  linting-angularjs:artifact: any of: packages/linting-angularjs/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*, packages/helpers/**/*
  playwright-helpers:artifact: any of: packages/helpers/**/*, packages/playwright-helpers/**/*
  helpers:artifact: any of: packages/helpers/**/*
  stencil-helpers:artifact: any of: packages/helpers/**/*, packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*

chore(deps): update dependency rollup to v4.60.2
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency vue-tsc to v3.2.7
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update pnpm to v10.33.2
  package.json
Due: none

chore(deps): update dependency chromatic to v16.6.3
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency jsdom to v29.1.1
  apps/vue-3/package.json
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

chore(deps): update dependency typedoc to v0.28.19
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update storybook monorepo to v10.3.6
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency vue to v3.5.33
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @changesets/cli to v2.31.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency jest-junit to v17
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update vitest monorepo to v4.1.5
  apps/vue-3/package.json
  configs/vitest-config/package.json
  packages/eslint-plugin-vue/package.json
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

fix(deps): update dependency axios to v1.16.0
  packages/img/package.json
  pnpm-lock.yaml
  tools/release-bot/package.json
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

fix: update event listener type from 'keyboard' to 'keydown' in MgTooltip
  packages/mg-components/src/components/atoms/mg-tooltip/mg-tooltip.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix: update margin variables for mg-c-input-title__text
  packages/styles/scss/components/mg-input.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

fix: update hover background color for mg-c-skip-links__link
  packages/styles/scss/components/mg-skip-links.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

fix: enhance radiusSize prop validation and reset behavior in MgCard
  packages/mg-components/src/components/atoms/mg-card/mg-card.tsx
  packages/mg-components/src/components/atoms/mg-card/tests/mg-card.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix: improve size prop handling in MgIcon for better reactivity
  packages/mg-components/src/components/atoms/mg-icon/mg-icon.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix: enforce valid identifier prop in MgTooltip, MgModal, and MgPopover for improved accessibility
  packages/mg-components/src/components/atoms/mg-tooltip/mg-tooltip.tsx
  packages/mg-components/src/components/molecules/mg-modal/mg-modal.tsx
  packages/mg-components/src/components/molecules/mg-popover/mg-popover.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: remame mg-tooltip.conf.tsx to mg-tooltip.conf.ts
  packages/mg-components/src/components/atoms/mg-tooltip/mg-tooltip.conf.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(stencil): handle Vue empty-string reactivity reset in enum validators
  packages/mg-components/src/components/atoms/mg-badge/mg-badge.tsx
  packages/mg-components/src/components/molecules/mg-panel/mg-panel.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix: handle radiusSize and variant defaults for Vue reactivity
  .changeset/swift-cards-react.md
  packages/mg-components/src/components/atoms/mg-badge/tests/mg-badge.spec.tsx
  packages/mg-components/src/components/atoms/mg-card/mg-card.tsx
  packages/mg-components/src/components/atoms/mg-card/tests/mg-card.spec.tsx
  packages/mg-components/src/components/atoms/mg-icon/tests/mg-icon.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: add changesets for branch fixes
  .changeset/brave-otters-rush.md
  .changeset/calm-jeans-tease.md
  .changeset/eager-lions-clap.md
  .changeset/silly-pumas-march.md
  .changeset/swift-cards-react.md
  .changeset/witty-foxes-shout.md
Due: none

chore(deps): update dependency postcss to v8.5.14
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

chore(deps): update dependency rollup to v4.60.3
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

fix(deps): update turbo monorepo to v2.9.12
  configs/eslint-config-custom/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency vue-tsc to v3.2.8
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update pnpm to v10.33.4
  package.json
Due: none

fix(deps): update dependency vue to v3.5.34
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update react monorepo to v19.2.6
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @types/node to v24.12.4
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency vite to v7.3.3
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update dependency lint-staged to v17
  package.json
  pnpm-lock.yaml
Due: none

fix(mg-divider): keep line visible at sub-pixel Firefox zoom
  .changeset/mg-divider-firefox-subpixel.md
  packages/styles/scss/components/mg-divider.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

test(playwright): run *.firefox.e2e.ts on the real Firefox engine
  packages/mg-components/playwright.config.ts
  packages/mg-components/src/components/atoms/mg-divider/tests/__screenshots__/mg-divider-firefox-Should-remain-visible-at-sub-pixel-thickness-1-firefox.png
  packages/mg-components/src/components/atoms/mg-divider/tests/mg-divider.firefox.e2e.ts
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-firefox-navigation-Should-navigate-with-keyboard-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-firefox-navigation-Should-navigate-with-keyboard-1-firefox.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-firefox-navigation-Should-navigate-with-keyboard-2-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-firefox-navigation-Should-navigate-with-keyboard-2-firefox.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-firefox-navigation-Should-navigate-with-keyboard-3-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-firefox-navigation-Should-navigate-with-keyboard-3-firefox.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-firefox-navigation-Should-navigate-with-keyboard-4-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-firefox-navigation-Should-navigate-with-keyboard-4-firefox.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-firefox-navigation-Should-navigate-with-keyboard-5-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-firefox-navigation-Should-navigate-with-keyboard-5-firefox.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

test(mg-divider): clarify why the Firefox regression uses sub-pixel thickness
  packages/mg-components/src/components/atoms/mg-divider/tests/__screenshots__/mg-divider-firefox-Should-remain-visible-at-sub-pixel-thickness-1-firefox.png
  packages/mg-components/src/components/atoms/mg-divider/tests/mg-divider.firefox.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

test(e2e): pin Playwright 1.59.1 in Docker + regenerate Firefox baselines
  packages/mg-components/package.json
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-firefox-navigation-Should-navigate-with-keyboard-1-firefox.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-firefox-navigation-Should-navigate-with-keyboard-2-firefox.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-firefox-navigation-Should-navigate-with-keyboard-3-firefox.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-firefox-navigation-Should-navigate-with-keyboard-4-firefox.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-firefox-navigation-Should-navigate-with-keyboard-5-firefox.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-form): set mgInputFile.disabled instead of value in disabledAll test script
  packages/mg-components/src/components/molecules/mg-form/tests/mg-form.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(e2e): use project-pinned Playwright in Docker via pnpm exec
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/styles/package.json
  scripts/run-e2e.sh
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(mg-components): drop ticket/commit refs from identifier validation comments
  packages/mg-components/src/components/atoms/mg-tooltip/mg-tooltip.tsx
  packages/mg-components/src/components/molecules/mg-modal/mg-modal.tsx
  packages/mg-components/src/components/molecules/mg-popover/mg-popover.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

refactor(mg-components): drop as string cast in Vue reset checks
  packages/mg-components/src/components/atoms/mg-badge/mg-badge.tsx
  packages/mg-components/src/components/atoms/mg-card/mg-card.tsx
  packages/mg-components/src/components/atoms/mg-icon/mg-icon.tsx
  packages/mg-components/src/components/molecules/mg-panel/mg-panel.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact
