Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-angularjs:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

Path conditions:
  test:doc: any of: packages/helpers/**/*, packages/mg-components-helpers/**/*, packages/stencil-helpers/**/*
  playwright:baseimage: any of: packages/mg-components/**/*, packages/notification-center/**/*, packages/styles/**/*, packages/img/**/*, packages/helpers/**/*, packages/linting-stencil/**/*, apps/notification-center/**/*, packages/sanitize-html/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  linting-angularjs:artifact: any of: packages/linting-angularjs/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*, packages/helpers/**/*
  playwright-helpers:artifact: any of: packages/helpers/**/*, packages/playwright-helpers/**/*
  helpers:artifact: any of: packages/helpers/**/*
  stencil-helpers:artifact: any of: packages/helpers/**/*, packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*

feat(mg-input-textare): Move characterleft to the left to allow input resizing.
  .changeset/fiery-jobs-lose.md
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-Should-render-error-when-leaving-input-with-a-non-matching-pattern-value-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-render-input-with-characterL-9f4d0-ent-la-longueur-ou-la-densité-du-texte-saisi-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-render-input-with-characterL-ee29b-ent-la-longueur-ou-la-densité-du-texte-saisi-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-render-input-with-characterLeftHide-false-and-value-loerem-ipsum-dolor-sit-amet-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-render-input-with-characterLeftHide-false-and-value-loerem-ipsum-dolor-sit-amet-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-without-tooltip-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-without-tooltip-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-without-tooltip-help-text--96ff2-atman-mg-icon-icon-user-mg-icon-a-p-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-without-tooltip-help-text--a9ece-atman-mg-icon-icon-user-mg-icon-a-p-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-without-tooltip-label-hide-true-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-without-tooltip-label-hide-true-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-without-tooltip-label-on-top-true-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-without-tooltip-label-on-top-true-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-without-tooltip-placeholder-placeholder-help-text-HelpText-Message-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__screenshots__/mg-input-textarea-without-tooltip-placeholder-placeholder-help-text-HelpText-Message-3-chromium.png
  packages/styles/scss/components/mg-input-textarea.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency rollup to v4.53.5
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore: update dependencies
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  configs/vitest-config/package.json
  packages/eslint-plugin-vue/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  packages/mg-components/.storybook/main.ts
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore: add vitest missing mockq
  packages/helpers/package.json
  packages/helpers/rollup.config.mjs
  packages/helpers/src/stencil/ide/ide.spec.ts
  packages/helpers/src/stencil/index.spec.ts
  packages/helpers/src/storybook/index.spec.ts
  packages/helpers/src/storybook/stencil/stencil.spec.ts
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency @vitejs/plugin-vue-jsx to v5.1.3
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update storybook monorepo to v10.1.11
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update vitest monorepo to v4.0.16
  apps/vue-3/package.json
  configs/vitest-config/package.json
  packages/eslint-plugin-vue/package.json
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update pnpm to v10.27.0
  package.json
Due: none

fix(deps): update turbo monorepo to v2.7.3
  configs/eslint-config-custom/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore: add missing changeset
  .changeset/plenty-hairs-help.md
Due: none

chore(release): 2026-01-06-14-25_Enthusiastic-Electric-Lime-Eagle
  .changeset/fiery-jobs-lose.md
  .changeset/free-adults-repair.md
  .changeset/legal-carpets-open.md
  .changeset/perky-parents-jog.md
  .changeset/plenty-hairs-help.md
  .changeset/real-tigers-stay.md
  .changeset/shy-geese-kiss.md
  CHANGELOG.md
  apps/angularjs/CHANGELOG.md
  apps/angularjs/package.json
  apps/notification-center/CHANGELOG.md
  apps/notification-center/package.json
  apps/stencil/CHANGELOG.md
  apps/stencil/package.json
  apps/vanilla/CHANGELOG.md
  apps/vanilla/package.json
  apps/vue-2/CHANGELOG.md
  apps/vue-2/package.json
  apps/vue-3/CHANGELOG.md
  apps/vue-3/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/img/CHANGELOG.md
  packages/img/package.json
  packages/mg-components-helpers/CHANGELOG.md
  packages/mg-components-helpers/package.json
  packages/mg-components/CHANGELOG.md
  packages/mg-components/package.json
  packages/notification-center/CHANGELOG.md
  packages/notification-center/package.json
  packages/playwright-helpers/CHANGELOG.md
  packages/playwright-helpers/package.json
  packages/sanitize-html/CHANGELOG.md
  packages/sanitize-html/package.json
  packages/stencil-helpers/CHANGELOG.md
  packages/stencil-helpers/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

fix(deps): update dependency vue to v3.5.26
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency jsdom to v27.4.0
  apps/vue-3/package.json
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

chore(deps): update dependency rollup to v4.55.1
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency vue-tsc to v3.2.2
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency chromatic to v13.3.5
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency sass to v1.97.2
  apps/angularjs/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore: update CI tag command
  .gitlab-ci.yml
Due: none

chore: update stencil dependencie
  apps/stencil/package.json
  packages/helpers/package.json
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore: update stencil dependencie
  apps/stencil/package.json
  packages/helpers/package.json
  packages/mg-components/package.json
  packages/mg-components/src/components/atoms/mg-badge/readme.md
  packages/mg-components/src/components/atoms/mg-button/readme.md
  packages/mg-components/src/components/atoms/mg-card/readme.md
  packages/mg-components/src/components/atoms/mg-divider/readme.md
  packages/mg-components/src/components/atoms/mg-icon/readme.md
  packages/mg-components/src/components/atoms/mg-tag/readme.md
  packages/mg-components/src/components/atoms/mg-tooltip/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-text/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input/readme.md
  packages/mg-components/src/components/molecules/menus/mg-menu-item/readme.md
  packages/mg-components/src/components/molecules/menus/mg-menu/readme.md
  packages/mg-components/src/components/molecules/mg-details/readme.md
  packages/mg-components/src/components/molecules/mg-form/readme.md
  packages/mg-components/src/components/molecules/mg-illustrated-message/readme.md
  packages/mg-components/src/components/molecules/mg-message/readme.md
  packages/mg-components/src/components/molecules/mg-modal/readme.md
  packages/mg-components/src/components/molecules/mg-panel/readme.md
  packages/mg-components/src/components/molecules/mg-popover/readme.md
  packages/mg-components/src/components/molecules/mg-progress/readme.md
  packages/mg-components/src/components/molecules/mg-tabs/readme.md
  packages/styles/package.json
  packages/styles/scss/components/mg-input-rich-text-editor.scss
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency @types/lodash to v4.17.23
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency typedoc to v0.28.16
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency vite to v7.3.1
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

fix(deps): update turbo monorepo to v2.7.4
  configs/eslint-config-custom/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update pnpm to v10.28.0
  package.json
Due: none

chore(deps): update dependency @types/node to v24.10.8
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

fix(deps): update dependency @babel/eslint-parser to v7.28.6
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: linting-angularjs:artifact

fix(deps): update vitest monorepo to v4.0.17
  apps/vue-3/package.json
  configs/vitest-config/package.json
  packages/eslint-plugin-vue/package.json
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update dependency @types/node to v24.10.9
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency comment-parser to v1.4.4
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

fix(deps): update dependency @tsconfig/node24 to v24.0.4
  apps/vue-3/package.json
  configs/tsconfig/package.json
  pnpm-lock.yaml
Due: none

feat(mg-modal): update backdrop color
  .changeset/little-pants-retire.md
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-firefox-navigation-Should-navigate-with-keyboard-2-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-firefox-navigation-Should-navigate-with-keyboard-3-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-firefox-navigation-Should-navigate-with-keyboard-4-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-navigation-Should-navigate-with-keyboard-2-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-navigation-Should-navigate-with-keyboard-3-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-navigation-Should-navigate-with-keyboard-4-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-navigation-Should-trigger-modal-and-close-modal-2-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-false-con-2334d-ariatur-Excepteur-sint-occaecat-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-false-con-2e56e-Should-render-close-button-true-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-false-con-aee0a-Should-render-close-button-true-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-false-con-d9ab7-ariatur-Excepteur-sint-occaecat-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-false-con-ed1cf-hould-render-close-button-false-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-false-con-f3065-hould-render-close-button-false-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-true-cont-3afe3-Should-render-close-button-true-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-true-cont-47fc6-ariatur-Excepteur-sint-occaecat-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-true-cont-8aa28-hould-render-close-button-false-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-true-cont-91bd3-hould-render-close-button-false-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-true-cont-9d1ba-Should-render-close-button-true-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-render-with-slots-action-true-cont-fd731-ariatur-Excepteur-sint-occaecat-open-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-inherit-color-from-parent-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-card-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-card-mg-message-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-message-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-panel-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-panel-mg-card-1-chromium.png
  packages/mg-components/src/components/molecules/mg-modal/tests/__screenshots__/mg-modal-style-Should-render-with-slot-mg-panel-mg-card-mg-message-1-chromium.png
  packages/styles/scss/components/mg-modal.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency rollup to v4.55.2
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update pnpm to v10.28.1
  package.json
Due: none

chore(deps): update dependency rollup to v4.55.3
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency comment-parser to v1.4.5
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

Apply 2 suggestion(s) to 1 file(s)
  packages/mg-components/src/components/molecules/inputs/mg-input-file/mg-input-file.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact
