Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-angularjs:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

Path conditions:
  test:doc: any of: packages/helpers/**/*, packages/mg-components-helpers/**/*, packages/stencil-helpers/**/*
  playwright:baseimage: any of: packages/mg-components/**/*, packages/notification-center/**/*, packages/styles/**/*, packages/img/**/*, packages/helpers/**/*, packages/linting-stencil/**/*, apps/notification-center/**/*, packages/sanitize-html/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  linting-angularjs:artifact: any of: packages/linting-angularjs/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*, packages/helpers/**/*
  playwright-helpers:artifact: any of: packages/helpers/**/*, packages/playwright-helpers/**/*
  helpers:artifact: any of: packages/helpers/**/*
  stencil-helpers:artifact: any of: packages/helpers/**/*, packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*

feat(mgFieldset): apply sonar recommandation
  packages/mg-components/src/components/molecules/inputs/mg-input/mg-input.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input/tests/__snapshots__/mg-input.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input/tests/mg-input.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @rollup/plugin-node-resolve to v16.0.3
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency @types/node to v22.18.10
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency @rollup/plugin-commonjs to v28.0.7
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency lint-staged to v16.2.4
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency ts-jest to v29.4.5
  packages/notification-center/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e:notification-center, notification-center:artifact

chore(deps): update dependency typedoc to v0.28.14
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update actions/setup-node action to v6
  .github/workflows/github-pages.yml
Due: none

chore(deps): update dependency vite to v7.1.10
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update dependency htmlfy to v1
  packages/helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

fix(mg-input-**): add missing tests
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/mg-input-date.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__snapshots__/mg-input-rich-text-editor.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/mg-input-toggle.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-**): add missing tests
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-toggle): remove lock option
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/mg-input-toggle.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Reset-input-Should-reset-value-and-error-when-calling-reset-method-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Reset-input-Should-reset-value-and-error-when-calling-reset-method-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Reset-input-Should-reset-value-and-error-when-calling-reset-method-lock-true-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Reset-input-Should-reset-value-and-error-when-calling-reset-method-lock-true-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__snapshots__/mg-input-toggle.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/mg-input-toggle.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/mg-input-toggle.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency jsdom to v27
  apps/vue-3/package.json
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

chore(deps): update dependency @rollup/plugin-commonjs to v28.0.8
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency @types/node to v22.18.11
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

Apply 2 suggestion(s) to 2 file(s)
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/mg-input-checkbox.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-**): update tests snapshosts
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__snapshots__/mg-input-checkbox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/mg-input-checkbox.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__snapshots__/mg-input-date.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/mg-input-date.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__snapshots__/mg-input-numeric.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/mg-input-numeric.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-password/tests/__snapshots__/mg-input-password.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-password/tests/mg-input-password.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/__snapshots__/mg-input-radio.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/mg-input-radio.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__snapshots__/mg-input-rich-text-editor.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__snapshots__/mg-input-select.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/mg-input-select.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__snapshots__/mg-input-text.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/mg-input-text.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__snapshots__/mg-input-textarea.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/mg-input-textarea.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__snapshots__/mg-input-toggle.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/mg-input-toggle.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency lint-staged to v16.2.5
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency rollup to v4.52.5
  packages/helpers/package.json
  packages/linting-stencil/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-stencil:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency storybook-addon-tag-badges to v2.0.3
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update dependency @playwright/test to v1.56.1
  packages/helpers/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

fix(e2e): update mg-input-select screenshots timing
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/mg-input-select.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

Apply 1 suggestion(s) to 1 file(s)
  packages/styles/scss/components/mg-input-toggle.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

chore(deps): update dependency @types/node to v22.18.12
  .npmrc
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency chromatic to v13.3.1
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update storybook monorepo to v9.1.13
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency vite to v7.1.11
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

feat(mg-input-toggle): unauthorized isOnOff use with IsIcon
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/docs/mg-input-toggle.stories.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/mg-input-toggle.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Keyboard-navigation-isOnOff--50fbd--value-false-title-Oui-value-true-4-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Keyboard-navigation-isOnOff--623cd--value-false-title-Oui-value-true-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Keyboard-navigation-isOnOff--a9641--value-false-title-Oui-value-true-3-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Keyboard-navigation-isOnOff--f4780--value-false-title-Oui-value-true-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Responsive-Should-display-labe-3beae-point-with-tooltip-message-tooltip-blu---1-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Responsive-Should-display-labe-4cd7c-e-tooltip-blu-tooltip-position-label---2-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Responsive-Should-display-labe-73273-ponsive-breakpoint-with-tooltip-message---0-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Responsive-Should-display-labe-c97b5-ponsive-breakpoint-with-tooltip-message---0-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Responsive-Should-display-labe-ce59e-e-tooltip-blu-tooltip-position-label---2-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Responsive-Should-display-labe-e3681-ponsive-breakpoint-with-tooltip-message---3-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Responsive-Should-display-labe-f7f32-point-with-tooltip-message-tooltip-blu---1-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Responsive-Should-display-labe-ff80c-ponsive-breakpoint-with-tooltip-message---3-2-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/mg-input-toggle.e2e.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/mg-input-toggle.spec.tsx
  packages/styles/scss/components/mg-input-toggle.scss
  packages/styles/scss/components/mg-input.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(mg-input-**): update setError workflow
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-password/mg-input-password.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/mg-input-radio.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/mg-input-select.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/mg-input-text.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/mg-input-textarea.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/mg-input-toggle.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

Apply 1 suggestion(s) to 1 file(s)
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/mg-input-toggle.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

feat(mg-input-toggle): update documentation
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/mg-input-toggle.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-combobox): apply sonar suggestions
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-**): update setErrorMessage conditions
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__snapshots__/mg-input-checkbox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/mg-input-checkbox.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/mg-input-date.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__snapshots__/mg-input-date.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/mg-input-date.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/mg-input-numeric.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__snapshots__/mg-input-numeric.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/mg-input-numeric.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-password/mg-input-password.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-password/tests/__snapshots__/mg-input-password.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-password/tests/mg-input-password.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/mg-input-radio.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/__snapshots__/mg-input-radio.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/mg-input-radio.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__snapshots__/mg-input-rich-text-editor.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/mg-input-select.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__snapshots__/mg-input-select.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/mg-input-select.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/mg-input-text.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__snapshots__/mg-input-text.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/mg-input-text.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/mg-input-textarea.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__snapshots__/mg-input-textarea.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/mg-input-textarea.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/mg-input-toggle.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/mg-input-toggle.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact
