Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-angularjs:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

Path conditions:
  test:doc: any of: packages/helpers/**/*, packages/mg-components-helpers/**/*, packages/stencil-helpers/**/*
  playwright:baseimage: any of: packages/mg-components/**/*, packages/notification-center/**/*, packages/styles/**/*, packages/img/**/*, packages/helpers/**/*, packages/linting-stencil/**/*, apps/notification-center/**/*, packages/sanitize-html/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  linting-angularjs:artifact: any of: packages/linting-angularjs/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*, packages/helpers/**/*
  playwright-helpers:artifact: any of: packages/helpers/**/*, packages/playwright-helpers/**/*
  helpers:artifact: any of: packages/helpers/**/*
  stencil-helpers:artifact: any of: packages/helpers/**/*, packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*

chore(deps): update dependency @changesets/cli to v2.29.8
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency typedoc to v0.28.15
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

fix(deps): update dependency stylelint to v16.26.1
  package.json
  packages/linting-styles/package.json
  pnpm-lock.yaml
Due: linting-styles:artifact

chore(deps): update dependency ts-jest to v29.4.6
  packages/notification-center/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e:notification-center, notification-center:artifact

chore(deps): update dependency vite to v7.2.6
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore(deps): update dependency rollup-plugin-dts to v6.3.0
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update node.js to v24
  .github/workflows/github-pages.yml
  .gitlab-ci.yml
  .nvmrc
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update storybook monorepo to v10
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update vitest monorepo to v4
  apps/vue-3/package.json
  configs/vitest-config/package.json
  packages/eslint-plugin-vue/package.json
  packages/helpers/package.json
  packages/mg-components-helpers/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

fix(mg-input-toggle): ensure label-on-top is always with a spacing of 4
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Render-with-tooltip-blu-tooltip-position-input-label-on-top-true-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Render-without-tooltip-label-o-f3f1e-ical-list-true-help-text-HelpText-Message-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Render-without-tooltip-label-on-top-true-help-text-HelpText-Message-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Should-render-with-template-va-05d7d-n-top-true-readonly-false-disabled-true-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Should-render-with-template-va-06fc6-n-top-true-readonly-false-disabled-true-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Should-render-with-template-va-88c19--top-true-readonly-false-disabled-false-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-Should-render-with-template-va-9446a--top-true-readonly-false-disabled-false-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-render-with-tooltip-case-label-on-top-true-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__screenshots__/mg-input-toggle-render-with-tooltip-case-label-on-top-true-2-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-args-labelOnTop-true-Should-render-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-args-labelOnTop-true-Should-render-with-custom-style-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-args-labelOnTop-true-Should-render-with-fieldset-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-args-labelOnTop-true-Should-render-with-tooltip-1-chromium.png
  packages/styles/scss/components/mg-input-toggle.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore: upgrade to node@24
  .gitlab-ci.yml
  apps/vue-3/package.json
  apps/vue-3/tsconfig.node.json
  configs/tsconfig/base.node.json
  configs/tsconfig/package.json
  pnpm-lock.yaml
Due: none

chore: upgrade to pnpm@10
  renovate.json
Due: none

chore: upgrade to storybook@10
  packages/mg-components/.storybook/main.ts
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update react monorepo to v19.2.1
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(deps): update turbo monorepo to v2.6.3
  configs/eslint-config-custom/package.json
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency @playwright/test to v1.57.0
  packages/helpers/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

fix(deps): update dependency prettier to v3.7.4
  package.json
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  pnpm-lock.yaml
Due: linting-angularjs:artifact

chore: update snapshosts
  packages/stencil-helpers/src/components/__snapshots__/index.spec.ts.snap
  packages/stencil-helpers/src/tests/__snapshots__/unit.spec.ts.snap
Due: test:doc, stencil-helpers:artifact

chore: update snapshosts
  packages/helpers/src/tests/unit/__snapshots__/unit.spec.ts.snap
  packages/helpers/src/utils/components/__snapshots__/components.spec.ts.snap
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore: npm tag
  .gitlab-ci.yml
Due: none

chore(deps): update dependency htmlfy to v1.0.1
  packages/helpers/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency vue-tsc to v3.1.7
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency @stencil/core to v4.39.0
  apps/stencil/package.json
  packages/helpers/package.json
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore: update stencil/core to 4.38.1
  apps/stencil/package.json
  packages/helpers/package.json
  packages/mg-components/package.json
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/mg-input-rich-text-editor.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__snapshots__/mg-input-rich-text-editor.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/mg-input-rich-text-editor.spec.tsx
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency vue-tsc to v3.1.8
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update storybook monorepo to v10.1.9
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update pnpm to v10.26.0
  package.json
Due: none

fix(mg-input-combobox): blur event is triggered too early
  .changeset/legal-carpets-open.md
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: retreive doc format
  packages/styles/scss/base/_typography.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

chore(deps): update dependency @types/node to v24.10.4
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency storybook-addon-tag-badges to v3.0.4
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency @vitejs/plugin-vue to v6.0.3
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update react monorepo to v19.2.3
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: revert escape caracter
  packages/styles/scss/base/_custom-properties.scss
  packages/styles/scss/components/_custom-properties.scss
  packages/styles/scss/components/mg-badge.scss
  packages/styles/scss/components/mg-button.scss
  packages/styles/scss/components/mg-card.scss
  packages/styles/scss/components/mg-details.scss
  packages/styles/scss/components/mg-divider.scss
  packages/styles/scss/components/mg-form.scss
  packages/styles/scss/components/mg-icon.scss
  packages/styles/scss/components/mg-illustrated-message.scss
  packages/styles/scss/components/mg-input-title.scss
  packages/styles/scss/components/mg-input.scss
  packages/styles/scss/components/mg-menu-item.scss
  packages/styles/scss/components/mg-menu.scss
  packages/styles/scss/components/mg-message.scss
  packages/styles/scss/components/mg-modal.scss
  packages/styles/scss/components/mg-panel.scss
  packages/styles/scss/components/mg-popover.scss
  packages/styles/scss/components/mg-progress.scss
  packages/styles/scss/components/mg-tabs.scss
  packages/styles/scss/components/mg-tag.scss
  packages/styles/scss/components/mg-tooltip.scss
  packages/styles/scss/utils/_a11y.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

fix(mg-input-combobox): update screenshot
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__screenshots__/mg-input-combobox-Navigation-Mouse-Should-navigate-throw-input-with-mouse-7-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/mg-input-combobox.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact
