Repository MGDIS/core-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-angularjs:artifact, linting-stencil:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, linting-styles:artifact, sanitize-html:artifact

Path conditions:
  test:doc: any of: packages/helpers/**/*, packages/mg-components-helpers/**/*, packages/stencil-helpers/**/*
  playwright:baseimage: any of: packages/mg-components/**/*, packages/notification-center/**/*, packages/styles/**/*, packages/img/**/*, packages/helpers/**/*, packages/linting-stencil/**/*, apps/notification-center/**/*, packages/sanitize-html/**/*
  test:e2e: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  test:e2e:notification-center: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  mg-components:artifact: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  storybook-mr: any of: packages/mg-components/**/*, packages/img/**/*, packages/helpers/**/*, packages/styles/**/*, packages/linting-stencil/**/*
  notification-center:artifact: any of: packages/notification-center/**/*, apps/notification-center/**/*, packages/mg-components/**/*, packages/helpers/**/*, packages/sanitize-html/**/*
  linting-angularjs:artifact: any of: packages/linting-angularjs/**/*
  linting-stencil:artifact: any of: packages/linting-stencil/**/*
  img:artifact: any of: packages/img/**/*
  styles:artifact: any of: packages/styles/**/*, packages/helpers/**/*
  playwright-helpers:artifact: any of: packages/helpers/**/*, packages/playwright-helpers/**/*
  helpers:artifact: any of: packages/helpers/**/*
  stencil-helpers:artifact: any of: packages/helpers/**/*, packages/stencil-helpers/**/*
  linting-styles:artifact: any of: packages/linting-styles/**/*
  sanitize-html:artifact: any of: packages/sanitize-html/**/*

feat(mg-table): set thead/tfoot color
  packages/styles/scss/components/mg-table.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

feat(mg-table): add custom property to set chrome background-color
  packages/mg-components/src/components/molecules/mg-table/docs/mg-table.stories.tsx
  packages/mg-components/src/components/molecules/mg-table/readme.md
  packages/styles/scss/components/mg-table.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

fix(mg-table): align thead cell height with body across sizes
  packages/styles/scss/components/mg-table.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

test(mg-table): update e2e screenshots
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-align-non-textual-content-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-a-2-lines-sortable-header-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-10-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-2-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-3-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-4-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-5-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-6-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-7-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-8-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-sortable-table-9-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-table-with-links-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-0-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-1-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-2-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-3-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-4-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-5-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-6-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-7-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-8-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-borderHide-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columns-2-align-center-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-columns-3-datatype-numeric-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-fullWidth-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-size-large-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-size-small-1-chromium.png
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-with-args-size-xlarge-1-chromium.png
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(mg-table): add changeset
  .changeset/long-pears-refuse.md
Due: none

refactor(mg-table): improve story with set defaults and custom property
  packages/mg-components/src/components/molecules/mg-table/docs/mg-table.stories.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(mg-breadcrumb): refresh automatic documentation
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/mg-breadcrumb/readme.md
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-table): adjust rowspan css selector
  packages/mg-components/src/components/molecules/mg-table/tests/__screenshots__/mg-table-Should-render-w3c-table-4-1-chromium.png
  packages/styles/scss/components/mg-table.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore: update dependencie
  .changeset/stale-corners-refuse.md
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/eslint-config-custom/package.json
  configs/vitest-config/package.json
  package.json
  packages/eslint-plugin-vue/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components-helpers/package.json
  packages/mg-components/.storybook/main.ts
  packages/mg-components/package.json
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/mg-input-combobox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-password/mg-input-password.tsx
  packages/mg-components/src/components/molecules/mg-action-more/readme.md
  packages/notification-center/package.json
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

chore: downgrade @stencil/core to version 4.40.1 in package.json and pnpm-lock.yaml
  apps/stencil/package.json
  packages/helpers/package.json
  packages/helpers/src/utils/components/__snapshots__/components.spec.ts.snap
  packages/mg-components/package.json
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__screenshots__/mg-input-select-labelOnTop-false-render-with-width-2-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__screenshots__/mg-input-select-labelOnTop-false-render-with-width-4-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__screenshots__/mg-input-select-labelOnTop-true-render-with-width-2-1-chromium.png
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__screenshots__/mg-input-select-labelOnTop-true-render-with-width-4-1-chromium.png
  packages/mg-components/src/components/molecules/mg-action-more/readme.md
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-1-chromium.png
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-2-chromium.png
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-hide-summary-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-details/tests/__screenshots__/mg-details-webkit-browser-Should-toggle-details-hide-summary-true-2-chromium.png
  packages/stencil-helpers/src/components/__snapshots__/index.spec.ts.snap
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

docs: update changesets
  .changeset/five-carrots-shop.md
  .changeset/long-pears-refuse.md
  .changeset/plain-needles-drive.md
Due: none

chore(deps): update dependency @types/jsdom to v28
  apps/vue-3/package.json
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

chore(deps): update dependency chromatic to v16
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency jsdom to v29
  apps/vue-3/package.json
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

chore: upgrade to stencil@4.43.3
  apps/stencil/package.json
  packages/helpers/package.json
  packages/mg-components/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

fix(mgInputCheckboxPaginated): migrate to functionnal component
  .changeset/five-owls-create.md
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/atoms/internals/mg-input-title/tests/__snapshots__/mg-input-title.spec.tsx.snap
  packages/mg-components/src/components/atoms/mg-button/readme.md
  packages/mg-components/src/components/atoms/mg-icon/readme.md
  packages/mg-components/src/components/atoms/mg-tooltip/tests/__snapshots__/mg-tooltip.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/MgInputCheckboxList.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/MgInputCheckboxPaginated.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox-paginated/mg-input-checkbox-paginated.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox-paginated/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox.conf.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/mg-input-checkbox.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/__snapshots__/mg-input-checkbox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/tests/mg-input-checkbox.spec.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-combobox/tests/__snapshots__/mg-input-combobox.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-date/tests/__snapshots__/mg-input-date.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-file/tests/__snapshots__/mg-input-file.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-numeric/tests/__snapshots__/mg-input-numeric.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-password/tests/__snapshots__/mg-input-password.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-radio/tests/__snapshots__/mg-input-radio.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-rich-text-editor/tests/__snapshots__/mg-input-rich-text-editor.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__snapshots__/mg-input-select.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-text/tests/__snapshots__/mg-input-text.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-textarea/tests/__snapshots__/mg-input-textarea.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-toggle/tests/__snapshots__/mg-input-toggle.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input/tests/__snapshots__/mg-input.spec.tsx.snap
  packages/mg-components/src/components/molecules/internals/mg-item-more/tests/__snapshots__/mg-item-more.spec.tsx.snap
  packages/mg-components/src/components/molecules/menus/mg-menu-item/tests/__snapshots__/mg-menu-item.spec.tsx.snap
  packages/mg-components/src/components/molecules/menus/mg-menu/tests/__snapshots__/mg-menu.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-action-more/readme.md
  packages/mg-components/src/components/molecules/mg-action-more/tests/__snapshots__/mg-action-more.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-fieldset/tests/__snapshots__/mg-fieldset.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-form/tests/__snapshots__/mg-form.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-pagination/tests/__snapshots__/mg-pagination.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-panel/tests/__snapshots__/mg-panel.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-popover/tests/__snapshots__/mg-popover.spec.tsx.snap
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(deps): update dependency dotenv to v17.4.1
  packages/img/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, img:artifact

fix(deps): update dependency vue to v3.5.32
  apps/vue-3/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update turbo monorepo to v2.9.5
  configs/eslint-config-custom/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency sass to v1.99.0
  apps/angularjs/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

chore(deps): update dependency @types/node to v24.12.2
  apps/stencil/package.json
  apps/vue-3/package.json
  configs/tsconfig/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/mg-components/package.json
  packages/playwright-helpers/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

chore(deps): update dependency vite to v7.3.2
  apps/angularjs/package.json
  apps/notification-center/package.json
  apps/vanilla/package.json
  apps/vue-2/package.json
  apps/vue-3/package.json
  packages/mg-components/package.json
  packages/notification-center/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  pnpm-lock.yaml
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, stencil-helpers:artifact, sanitize-html:artifact

feat(utils): add toDomValue helper for DOM-safe option values
  packages/helpers/src/utils/string/string.spec.ts
  packages/helpers/src/utils/string/string.ts
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

fix(mg-input-select): use toDomValue to allow duplicate titles without collisions
  packages/mg-components/src/components/molecules/inputs/mg-input-select/mg-input-select.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__snapshots__/mg-input-select.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/mg-input-select.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-select): add changeset
  .changeset/bold-turkeys-draw.md
Due: none

refactor(mg-input-select): drop toDomValue and use toString for option values
  .changeset/bold-turkeys-draw.md
  packages/helpers/src/utils/string/string.spec.ts
  packages/helpers/src/utils/string/string.ts
  packages/mg-components/src/components/molecules/inputs/mg-input-select/mg-input-select.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__snapshots__/mg-input-select.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/mg-input-select.spec.tsx
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact

refactor(mg-input-select): simplify option match to use toString(item.value)
  packages/mg-components/src/components/molecules/inputs/mg-input-select/mg-input-select.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore: update dependencies
  .changeset/cute-needles-read.md
  apps/stencil/package.json
  apps/stencil/src/components.d.ts
  apps/vue-3/package.json
  configs/eslint-config-custom/package.json
  configs/vitest-config/package.json
  package.json
  packages/eslint-plugin-vue/package.json
  packages/helpers/package.json
  packages/img/package.json
  packages/linting-angularjs/package.json
  packages/linting-vue2/package.json
  packages/mg-components-helpers/package.json
  packages/mg-components/.storybook/main.ts
  packages/mg-components/GETTING-STARTED.md
  packages/mg-components/package.json
  packages/mg-components/src/components/molecules/inputs/mg-input-checkbox/readme.md
  packages/playwright-helpers/package.json
  packages/sanitize-html/package.json
  packages/stencil-helpers/package.json
  packages/styles/package.json
  pnpm-lock.yaml
  tools/release-bot/package.json
Due: test:doc, playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, linting-angularjs:artifact, img:artifact, styles:artifact, playwright-helpers:artifact, helpers:artifact, stencil-helpers:artifact, sanitize-html:artifact

refactor(mg-message): use css logical properties
  packages/styles/scss/components/mg-message.scss
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact

feat(mg-message): add fullWidth prop
  packages/mg-components/src/components.d.ts
  packages/mg-components/src/components/molecules/mg-message/mg-message.tsx
  packages/mg-components/src/components/molecules/mg-message/readme.md
  packages/mg-components/src/components/molecules/mg-message/tests/__screenshots__/mg-message-Should-render-with-fullWidth-1-chromium.png
  packages/mg-components/src/components/molecules/mg-message/tests/__snapshots__/mg-message.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-message/tests/mg-message.e2e.ts
  packages/mg-components/src/components/molecules/mg-message/tests/mg-message.spec.tsx
  packages/styles/scss/components/mg-message.scss
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact, styles:artifact

feat(mg-alert): add fullWidth prop
  packages/mg-components/src/components/molecules/mg-alert/mg-alert.tsx
  packages/mg-components/src/components/molecules/mg-alert/readme.md
  packages/mg-components/src/components/molecules/mg-alert/tests/__screenshots__/mg-alert-Should-render-with-fullWidth-1-chromium.png
  packages/mg-components/src/components/molecules/mg-alert/tests/__snapshots__/mg-alert.spec.tsx.snap
  packages/mg-components/src/components/molecules/mg-alert/tests/mg-alert.e2e.ts
  packages/mg-components/src/components/molecules/mg-alert/tests/mg-alert.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

chore(mg-message/alert): add changeset for fullWidth prop
  .changeset/lucky-ducks-cough.md
Due: none

fix(mg-form): use disabled prop instead of value in disabled-all e2e script
  packages/mg-components/src/components/molecules/mg-form/tests/__screenshots__/mg-form-Should-not-have-required-message-when-all-inputs-are-required-and-args-disabled-true-1-chromium.png
  packages/mg-components/src/components/molecules/mg-form/tests/mg-form.e2e.ts
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-select): revert changes allowing duplicate titles
  packages/mg-components/src/components/molecules/inputs/mg-input-select/mg-input-select.tsx
  packages/mg-components/src/components/molecules/inputs/mg-input-select/readme.md
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/__snapshots__/mg-input-select.spec.tsx.snap
  packages/mg-components/src/components/molecules/inputs/mg-input-select/tests/mg-input-select.spec.tsx
Due: playwright:baseimage, test:e2e, test:e2e:notification-center, mg-components:artifact, storybook-mr, notification-center:artifact

fix(mg-input-select): add changeset
  .changeset/tough-waves-lead.md
Due: none

chore(deps): update dependency postcss to v8.5.13
  packages/styles/package.json
  pnpm-lock.yaml
Due: playwright:baseimage, test:e2e, mg-components:artifact, storybook-mr, styles:artifact
